body,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.apple {
  font-family: 'iconfont';
  font-size: 18px;
}
.bug {
  font-family: 'iconfont';
  font-size: 18px;
}
/*  1.流式布局
 *  2.固定布局
 * 3.越简单的东西越复杂
 * 4.越复杂的东西越简单
*/
/*响应小屏*/
.container {
  width: 600px;
  margin: auto;
}
.container-fluid {
  width: 100%;
  margin: auto;
}
.container-fluid:before,
.container-fluid:after {
  content: "";
  clear: both;
  display: none;
}
.container-fluid > .row {
  width: 100%;
}
.container-fluid > .row:before,
.container-fluid > .row:after {
  content: "";
  clear: both;
  display: none;
}
.container:before,
.container:after {
  content: "";
  clear: both;
  display: none;
}
.container .row {
  width: 100%;
}
.container .row:before,
.container .row:after {
  content: "";
  clear: both;
  display: none;
}
.container > .row > .col-s-1 {
  width: 8.33333333%;
  float: left;
}
.container > .row > .col-s-offsetl-1 {
  margin-left: 8.33333333%;
}
.container > .row > .col-s-offsetr-1 {
  margin-right: 8.33333333%;
}
.container > .row > .col-s-pull-1 {
  left: 8.33333333%;
  position: relative;
}
.container > .row > .col-s-push-1 {
  left: -8.33333333%;
  position: relative;
}
.container-fluid > .row > .col-s-1 {
  width: 8.33333333%;
  float: left;
}
.container > .row > .col-s-2 {
  width: 16.66666667%;
  float: left;
}
.container > .row > .col-s-offsetl-2 {
  margin-left: 16.66666667%;
}
.container > .row > .col-s-offsetr-2 {
  margin-right: 16.66666667%;
}
.container > .row > .col-s-pull-2 {
  left: 16.66666667%;
  position: relative;
}
.container > .row > .col-s-push-2 {
  left: -16.66666667%;
  position: relative;
}
.container-fluid > .row > .col-s-2 {
  width: 16.66666667%;
  float: left;
}
.container > .row > .col-s-3 {
  width: 25%;
  float: left;
}
.container > .row > .col-s-offsetl-3 {
  margin-left: 25%;
}
.container > .row > .col-s-offsetr-3 {
  margin-right: 25%;
}
.container > .row > .col-s-pull-3 {
  left: 25%;
  position: relative;
}
.container > .row > .col-s-push-3 {
  left: -25%;
  position: relative;
}
.container-fluid > .row > .col-s-3 {
  width: 25%;
  float: left;
}
.container > .row > .col-s-4 {
  width: 33.33333333%;
  float: left;
}
.container > .row > .col-s-offsetl-4 {
  margin-left: 33.33333333%;
}
.container > .row > .col-s-offsetr-4 {
  margin-right: 33.33333333%;
}
.container > .row > .col-s-pull-4 {
  left: 33.33333333%;
  position: relative;
}
.container > .row > .col-s-push-4 {
  left: -33.33333333%;
  position: relative;
}
.container-fluid > .row > .col-s-4 {
  width: 33.33333333%;
  float: left;
}
.container > .row > .col-s-5 {
  width: 41.66666667%;
  float: left;
}
.container > .row > .col-s-offsetl-5 {
  margin-left: 41.66666667%;
}
.container > .row > .col-s-offsetr-5 {
  margin-right: 41.66666667%;
}
.container > .row > .col-s-pull-5 {
  left: 41.66666667%;
  position: relative;
}
.container > .row > .col-s-push-5 {
  left: -41.66666667%;
  position: relative;
}
.container-fluid > .row > .col-s-5 {
  width: 41.66666667%;
  float: left;
}
.container > .row > .col-s-6 {
  width: 50%;
  float: left;
}
.container > .row > .col-s-offsetl-6 {
  margin-left: 50%;
}
.container > .row > .col-s-offsetr-6 {
  margin-right: 50%;
}
.container > .row > .col-s-pull-6 {
  left: 50%;
  position: relative;
}
.container > .row > .col-s-push-6 {
  left: -50%;
  position: relative;
}
.container-fluid > .row > .col-s-6 {
  width: 50%;
  float: left;
}
.container > .row > .col-s-7 {
  width: 58.33333333%;
  float: left;
}
.container > .row > .col-s-offsetl-7 {
  margin-left: 58.33333333%;
}
.container > .row > .col-s-offsetr-7 {
  margin-right: 58.33333333%;
}
.container > .row > .col-s-pull-7 {
  left: 58.33333333%;
  position: relative;
}
.container > .row > .col-s-push-7 {
  left: -58.33333333%;
  position: relative;
}
.container-fluid > .row > .col-s-7 {
  width: 58.33333333%;
  float: left;
}
.container > .row > .col-s-8 {
  width: 66.66666667%;
  float: left;
}
.container > .row > .col-s-offsetl-8 {
  margin-left: 66.66666667%;
}
.container > .row > .col-s-offsetr-8 {
  margin-right: 66.66666667%;
}
.container > .row > .col-s-pull-8 {
  left: 66.66666667%;
  position: relative;
}
.container > .row > .col-s-push-8 {
  left: -66.66666667%;
  position: relative;
}
.container-fluid > .row > .col-s-8 {
  width: 66.66666667%;
  float: left;
}
.container > .row > .col-s-9 {
  width: 75%;
  float: left;
}
.container > .row > .col-s-offsetl-9 {
  margin-left: 75%;
}
.container > .row > .col-s-offsetr-9 {
  margin-right: 75%;
}
.container > .row > .col-s-pull-9 {
  left: 75%;
  position: relative;
}
.container > .row > .col-s-push-9 {
  left: -75%;
  position: relative;
}
.container-fluid > .row > .col-s-9 {
  width: 75%;
  float: left;
}
.container > .row > .col-s-10 {
  width: 83.33333333%;
  float: left;
}
.container > .row > .col-s-offsetl-10 {
  margin-left: 83.33333333%;
}
.container > .row > .col-s-offsetr-10 {
  margin-right: 83.33333333%;
}
.container > .row > .col-s-pull-10 {
  left: 83.33333333%;
  position: relative;
}
.container > .row > .col-s-push-10 {
  left: -83.33333333%;
  position: relative;
}
.container-fluid > .row > .col-s-10 {
  width: 83.33333333%;
  float: left;
}
.container > .row > .col-s-11 {
  width: 91.66666667%;
  float: left;
}
.container > .row > .col-s-offsetl-11 {
  margin-left: 91.66666667%;
}
.container > .row > .col-s-offsetr-11 {
  margin-right: 91.66666667%;
}
.container > .row > .col-s-pull-11 {
  left: 91.66666667%;
  position: relative;
}
.container > .row > .col-s-push-11 {
  left: -91.66666667%;
  position: relative;
}
.container-fluid > .row > .col-s-11 {
  width: 91.66666667%;
  float: left;
}
.container > .row > .col-s-12 {
  width: 100%;
  float: left;
}
.container > .row > .col-s-offsetl-12 {
  margin-left: 100%;
}
.container > .row > .col-s-offsetr-12 {
  margin-right: 100%;
}
.container > .row > .col-s-pull-12 {
  left: 100%;
  position: relative;
}
.container > .row > .col-s-push-12 {
  left: -100%;
  position: relative;
}
.container-fluid > .row > .col-s-12 {
  width: 100%;
  float: left;
}
.col-m-hide {
  display: block;
}
.col-l-hide {
  display: block;
}
.col-s-hide {
  display: none;
}
col-s-items {
  border-bottom: 1px solid #bbb;
}
@media screen and (min-width: 900px) {
  .container > .row > .col-m-1 {
    width: 8.33333333%;
    float: left;
  }
  .container > .row > .col-m-offsetl-1 {
    margin-left: 8.33333333%;
  }
  .container > .row > .col-m-offsetr-1 {
    margin-right: 8.33333333%;
  }
  .container > .row > .col-m-pull-1 {
    left: 8.33333333%;
    position: relative;
  }
  .container > .row > .col-m-push-1 {
    left: -8.33333333%;
    position: relative;
  }
  .container-fluid > .row > .col-m-1 {
    width: 8.33333333%;
    float: left;
  }
  .container > .row > .col-m-2 {
    width: 16.66666667%;
    float: left;
  }
  .container > .row > .col-m-offsetl-2 {
    margin-left: 16.66666667%;
  }
  .container > .row > .col-m-offsetr-2 {
    margin-right: 16.66666667%;
  }
  .container > .row > .col-m-pull-2 {
    left: 16.66666667%;
    position: relative;
  }
  .container > .row > .col-m-push-2 {
    left: -16.66666667%;
    position: relative;
  }
  .container-fluid > .row > .col-m-2 {
    width: 16.66666667%;
    float: left;
  }
  .container > .row > .col-m-3 {
    width: 25%;
    float: left;
  }
  .container > .row > .col-m-offsetl-3 {
    margin-left: 25%;
  }
  .container > .row > .col-m-offsetr-3 {
    margin-right: 25%;
  }
  .container > .row > .col-m-pull-3 {
    left: 25%;
    position: relative;
  }
  .container > .row > .col-m-push-3 {
    left: -25%;
    position: relative;
  }
  .container-fluid > .row > .col-m-3 {
    width: 25%;
    float: left;
  }
  .container > .row > .col-m-4 {
    width: 33.33333333%;
    float: left;
  }
  .container > .row > .col-m-offsetl-4 {
    margin-left: 33.33333333%;
  }
  .container > .row > .col-m-offsetr-4 {
    margin-right: 33.33333333%;
  }
  .container > .row > .col-m-pull-4 {
    left: 33.33333333%;
    position: relative;
  }
  .container > .row > .col-m-push-4 {
    left: -33.33333333%;
    position: relative;
  }
  .container-fluid > .row > .col-m-4 {
    width: 33.33333333%;
    float: left;
  }
  .container > .row > .col-m-5 {
    width: 41.66666667%;
    float: left;
  }
  .container > .row > .col-m-offsetl-5 {
    margin-left: 41.66666667%;
  }
  .container > .row > .col-m-offsetr-5 {
    margin-right: 41.66666667%;
  }
  .container > .row > .col-m-pull-5 {
    left: 41.66666667%;
    position: relative;
  }
  .container > .row > .col-m-push-5 {
    left: -41.66666667%;
    position: relative;
  }
  .container-fluid > .row > .col-m-5 {
    width: 41.66666667%;
    float: left;
  }
  .container > .row > .col-m-6 {
    width: 50%;
    float: left;
  }
  .container > .row > .col-m-offsetl-6 {
    margin-left: 50%;
  }
  .container > .row > .col-m-offsetr-6 {
    margin-right: 50%;
  }
  .container > .row > .col-m-pull-6 {
    left: 50%;
    position: relative;
  }
  .container > .row > .col-m-push-6 {
    left: -50%;
    position: relative;
  }
  .container-fluid > .row > .col-m-6 {
    width: 50%;
    float: left;
  }
  .container > .row > .col-m-7 {
    width: 58.33333333%;
    float: left;
  }
  .container > .row > .col-m-offsetl-7 {
    margin-left: 58.33333333%;
  }
  .container > .row > .col-m-offsetr-7 {
    margin-right: 58.33333333%;
  }
  .container > .row > .col-m-pull-7 {
    left: 58.33333333%;
    position: relative;
  }
  .container > .row > .col-m-push-7 {
    left: -58.33333333%;
    position: relative;
  }
  .container-fluid > .row > .col-m-7 {
    width: 58.33333333%;
    float: left;
  }
  .container > .row > .col-m-8 {
    width: 66.66666667%;
    float: left;
  }
  .container > .row > .col-m-offsetl-8 {
    margin-left: 66.66666667%;
  }
  .container > .row > .col-m-offsetr-8 {
    margin-right: 66.66666667%;
  }
  .container > .row > .col-m-pull-8 {
    left: 66.66666667%;
    position: relative;
  }
  .container > .row > .col-m-push-8 {
    left: -66.66666667%;
    position: relative;
  }
  .container-fluid > .row > .col-m-8 {
    width: 66.66666667%;
    float: left;
  }
  .container > .row > .col-m-9 {
    width: 75%;
    float: left;
  }
  .container > .row > .col-m-offsetl-9 {
    margin-left: 75%;
  }
  .container > .row > .col-m-offsetr-9 {
    margin-right: 75%;
  }
  .container > .row > .col-m-pull-9 {
    left: 75%;
    position: relative;
  }
  .container > .row > .col-m-push-9 {
    left: -75%;
    position: relative;
  }
  .container-fluid > .row > .col-m-9 {
    width: 75%;
    float: left;
  }
  .container > .row > .col-m-10 {
    width: 83.33333333%;
    float: left;
  }
  .container > .row > .col-m-offsetl-10 {
    margin-left: 83.33333333%;
  }
  .container > .row > .col-m-offsetr-10 {
    margin-right: 83.33333333%;
  }
  .container > .row > .col-m-pull-10 {
    left: 83.33333333%;
    position: relative;
  }
  .container > .row > .col-m-push-10 {
    left: -83.33333333%;
    position: relative;
  }
  .container-fluid > .row > .col-m-10 {
    width: 83.33333333%;
    float: left;
  }
  .container > .row > .col-m-11 {
    width: 91.66666667%;
    float: left;
  }
  .container > .row > .col-m-offsetl-11 {
    margin-left: 91.66666667%;
  }
  .container > .row > .col-m-offsetr-11 {
    margin-right: 91.66666667%;
  }
  .container > .row > .col-m-pull-11 {
    left: 91.66666667%;
    position: relative;
  }
  .container > .row > .col-m-push-11 {
    left: -91.66666667%;
    position: relative;
  }
  .container-fluid > .row > .col-m-11 {
    width: 91.66666667%;
    float: left;
  }
  .container > .row > .col-m-12 {
    width: 100%;
    float: left;
  }
  .container > .row > .col-m-offsetl-12 {
    margin-left: 100%;
  }
  .container > .row > .col-m-offsetr-12 {
    margin-right: 100%;
  }
  .container > .row > .col-m-pull-12 {
    left: 100%;
    position: relative;
  }
  .container > .row > .col-m-push-12 {
    left: -100%;
    position: relative;
  }
  .container-fluid > .row > .col-m-12 {
    width: 100%;
    float: left;
  }
  .container {
    width: 900px;
    position: relative;
  }
  .col-m-20 {
    width: 20%;
    float: left;
  }
  .col-l-hide {
    display: block;
  }
  .col-s-hide {
    display: block;
  }
  .col-m-hide {
    display: none;
  }
}
@media screen and (min-width: 1338px) {
  .container > .row > .col-l-1 {
    width: 8.33333333%;
    float: left;
  }
  .container > .row > .col-l-offsetl-1 {
    margin-left: 8.33333333%;
  }
  .container > .row > .col-l-offsetr-1 {
    margin-right: 8.33333333%;
  }
  .container > .row > .col-l-pull-1 {
    left: 8.33333333%;
    position: relative;
  }
  .container > .row > .col-l-push-1 {
    left: -8.33333333%;
    position: relative;
  }
  .container-fluid > .row > .col-l-1 {
    width: 8.33333333%;
    float: left;
  }
  .container > .row > .col-l-2 {
    width: 16.66666667%;
    float: left;
  }
  .container > .row > .col-l-offsetl-2 {
    margin-left: 16.66666667%;
  }
  .container > .row > .col-l-offsetr-2 {
    margin-right: 16.66666667%;
  }
  .container > .row > .col-l-pull-2 {
    left: 16.66666667%;
    position: relative;
  }
  .container > .row > .col-l-push-2 {
    left: -16.66666667%;
    position: relative;
  }
  .container-fluid > .row > .col-l-2 {
    width: 16.66666667%;
    float: left;
  }
  .container > .row > .col-l-3 {
    width: 25%;
    float: left;
  }
  .container > .row > .col-l-offsetl-3 {
    margin-left: 25%;
  }
  .container > .row > .col-l-offsetr-3 {
    margin-right: 25%;
  }
  .container > .row > .col-l-pull-3 {
    left: 25%;
    position: relative;
  }
  .container > .row > .col-l-push-3 {
    left: -25%;
    position: relative;
  }
  .container-fluid > .row > .col-l-3 {
    width: 25%;
    float: left;
  }
  .container > .row > .col-l-4 {
    width: 33.33333333%;
    float: left;
  }
  .container > .row > .col-l-offsetl-4 {
    margin-left: 33.33333333%;
  }
  .container > .row > .col-l-offsetr-4 {
    margin-right: 33.33333333%;
  }
  .container > .row > .col-l-pull-4 {
    left: 33.33333333%;
    position: relative;
  }
  .container > .row > .col-l-push-4 {
    left: -33.33333333%;
    position: relative;
  }
  .container-fluid > .row > .col-l-4 {
    width: 33.33333333%;
    float: left;
  }
  .container > .row > .col-l-5 {
    width: 41.66666667%;
    float: left;
  }
  .container > .row > .col-l-offsetl-5 {
    margin-left: 41.66666667%;
  }
  .container > .row > .col-l-offsetr-5 {
    margin-right: 41.66666667%;
  }
  .container > .row > .col-l-pull-5 {
    left: 41.66666667%;
    position: relative;
  }
  .container > .row > .col-l-push-5 {
    left: -41.66666667%;
    position: relative;
  }
  .container-fluid > .row > .col-l-5 {
    width: 41.66666667%;
    float: left;
  }
  .container > .row > .col-l-6 {
    width: 50%;
    float: left;
  }
  .container > .row > .col-l-offsetl-6 {
    margin-left: 50%;
  }
  .container > .row > .col-l-offsetr-6 {
    margin-right: 50%;
  }
  .container > .row > .col-l-pull-6 {
    left: 50%;
    position: relative;
  }
  .container > .row > .col-l-push-6 {
    left: -50%;
    position: relative;
  }
  .container-fluid > .row > .col-l-6 {
    width: 50%;
    float: left;
  }
  .container > .row > .col-l-7 {
    width: 58.33333333%;
    float: left;
  }
  .container > .row > .col-l-offsetl-7 {
    margin-left: 58.33333333%;
  }
  .container > .row > .col-l-offsetr-7 {
    margin-right: 58.33333333%;
  }
  .container > .row > .col-l-pull-7 {
    left: 58.33333333%;
    position: relative;
  }
  .container > .row > .col-l-push-7 {
    left: -58.33333333%;
    position: relative;
  }
  .container-fluid > .row > .col-l-7 {
    width: 58.33333333%;
    float: left;
  }
  .container > .row > .col-l-8 {
    width: 66.66666667%;
    float: left;
  }
  .container > .row > .col-l-offsetl-8 {
    margin-left: 66.66666667%;
  }
  .container > .row > .col-l-offsetr-8 {
    margin-right: 66.66666667%;
  }
  .container > .row > .col-l-pull-8 {
    left: 66.66666667%;
    position: relative;
  }
  .container > .row > .col-l-push-8 {
    left: -66.66666667%;
    position: relative;
  }
  .container-fluid > .row > .col-l-8 {
    width: 66.66666667%;
    float: left;
  }
  .container > .row > .col-l-9 {
    width: 75%;
    float: left;
  }
  .container > .row > .col-l-offsetl-9 {
    margin-left: 75%;
  }
  .container > .row > .col-l-offsetr-9 {
    margin-right: 75%;
  }
  .container > .row > .col-l-pull-9 {
    left: 75%;
    position: relative;
  }
  .container > .row > .col-l-push-9 {
    left: -75%;
    position: relative;
  }
  .container-fluid > .row > .col-l-9 {
    width: 75%;
    float: left;
  }
  .container > .row > .col-l-10 {
    width: 83.33333333%;
    float: left;
  }
  .container > .row > .col-l-offsetl-10 {
    margin-left: 83.33333333%;
  }
  .container > .row > .col-l-offsetr-10 {
    margin-right: 83.33333333%;
  }
  .container > .row > .col-l-pull-10 {
    left: 83.33333333%;
    position: relative;
  }
  .container > .row > .col-l-push-10 {
    left: -83.33333333%;
    position: relative;
  }
  .container-fluid > .row > .col-l-10 {
    width: 83.33333333%;
    float: left;
  }
  .container > .row > .col-l-11 {
    width: 91.66666667%;
    float: left;
  }
  .container > .row > .col-l-offsetl-11 {
    margin-left: 91.66666667%;
  }
  .container > .row > .col-l-offsetr-11 {
    margin-right: 91.66666667%;
  }
  .container > .row > .col-l-pull-11 {
    left: 91.66666667%;
    position: relative;
  }
  .container > .row > .col-l-push-11 {
    left: -91.66666667%;
    position: relative;
  }
  .container-fluid > .row > .col-l-11 {
    width: 91.66666667%;
    float: left;
  }
  .container > .row > .col-l-12 {
    width: 100%;
    float: left;
  }
  .container > .row > .col-l-offsetl-12 {
    margin-left: 100%;
  }
  .container > .row > .col-l-offsetr-12 {
    margin-right: 100%;
  }
  .container > .row > .col-l-pull-12 {
    left: 100%;
    position: relative;
  }
  .container > .row > .col-l-push-12 {
    left: -100%;
    position: relative;
  }
  .container-fluid > .row > .col-l-12 {
    width: 100%;
    float: left;
  }
  .container {
    width: 1338px;
    position: relative;
  }
  .col-l-20 {
    width: 20%;
    float: left;
  }
  .col-m-hide {
    display: block;
  }
  .col-s-hide {
    display: block;
  }
  .col-l-hide {
    display: none;
  }
}
.head {
  width: 100%;
  height: 40px;
  background: #444444;
}
.banner-box {
  width: 100%;
}
.ban-menu {
  width: 100%;
  height: 44px;
  background: #020202;
}
.menu {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 22px;
  position: relative;
  height: 44px;
  z-index: 200;
  background: #020202;
}
.mli {
  margin-right: 25px;
  line-height: 44px;
  color: #eee;
  font-size: 14px;
  text-align: center;
}
a {
  color: #eee;
  text-decoration: none;
}
.b_img_box {
  width: 100%;
  height: 540px;
  position: absolute;
  top: 0;
}
.banner_box {
  width: 100%;
  height: 540px;
  overflow: hidden;
  position: relative;
  top: -1px;
}
.banner_img {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
}
.img_box1 {
  left: 0;
  background: #0a0a0a;
}
.img_box2 {
  left: 100%;
  background: #f2f2f2;
}
.img_box3 {
  left: 100%;
  background: #fff;
}
.content {
  height: 33%;
  width: 100%;
  padding-top: 32px;
  box-sizing: border-box;
  margin-top: 16px;
}
.content h1,
h2 {
  text-align: center;
}
.p1 {
  font-size: 32px;
  line-height: 1.5625;
  font-weight: 500;
  letter-spacing: .011em;
  text-align: center;
}
.p2 {
  margin-top: -30px;
  font-size: 40px;
}
.h1s {
  color: #fff;
}
.h2s {
  color: #fff;
}
.btn {
  width: 200px;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 50px;
  right: 0;
  margin: auto;
  z-index: 999;
}
.btn .fixed {
  width: 25%;
  height: 100%;
  margin-left: 3%;
  float: left;
  background: rgba(128, 128, 128, 0.2);
  position: relative;
  z-index: 999;
}
.btn .fixed .progress {
  position: absolute;
  width: 0%;
  height: 100%;
  z-index: 999;
  background: #808080;
}
.zhong {
  background: #f2f2f2;
}
