body,
ul,
li,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.top {
  background: #444;
  line-height: 1;
  top: -40px;
  width: 100%;
  right: 0;
  height: 40px;
  z-index: 9999;
}
.top_guang {
  color: #a8a8aa;
  font-size: 12px;
  font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  line-height: 40px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  text-align: right;
  max-width: 976px;
  margin: 0 auto;
}
.nav {
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 9999;
  display: block;
  margin: 0;
  width: 100%;
  min-width: 1024px;
  height: 48px;
  max-height: 44px;
  background: rgba(0, 0, 0, 0.8);
  font-size: 17px;
}
.nav_xin {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  max-width: 980px;
  padding: 0 22px;
  z-index: 2;
}
.nav_xin {
  font-size: 1em;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-align: inherit;
}
.nav_ul {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0 48px;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
  transition: visibility 0s linear 1s;
}
.nav_ul li {
  display: inline-block;
  position: relative;
  height: 44px;
  z-index: 1;
  vertical-align: top;
  float: left;
  line-height: 44px;
  margin-right: 68.5px;
}
.nav_ul li a {
  color: #fff;
  font-size: 14px;
  font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
* {
  box-sizing: border-box;
}
.bannerbox {
  height: 540px;
  margin-top: 46px;
  position: relative;
  padding: 0;
}
.imgbox {
  height: 100%;
  margin: 0;
  padding: 0;
}
.imgbox li {
  height: 100%;
  margin: 0;
  padding: 0;
}
.imgbox li a {
  height: 100%;
  margin: 0;
  padding: 0;
}
.imgbox li a {
  position: relative;
}
.imgbox li.first a:nth-child(1) {
  width: 100%;
  height: 100%;
  display: block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("http://images.apple.com/cn/home/images/gallery/watch_alt_large.jpg");
  top: -5%;
}
.row div.img_left {
  width: 20%;
  height: 100%;
  float: left;
  background: #f2f2f2;
  border: none;
}
.row div.img_right {
  width: 20%;
  height: 100%;
  float: right;
  background: #f2f2f2;
  border: none;
}
.app {
  display: block;
}
.app h1 {
  width: 144px;
  height: 55px;
  background-size: 144px 55px;
  background-repeat: no-repeat;
  background-image: url("http://images.apple.com/v/home/dd/images/shared/logo_watch_large.png");
  left: 65%;
  top: 50%;
  margin-left: -72px;
  position: relative;
  margin-top: -8px;
}
.app h1 span {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}
.app h2 {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 12%;
  padding-left: 0.4em;
  font-size: 40px;
  line-height: 1.175;
  font-weight: 500;
  letter-spacing: .008em;
  color: #333;
  text-align: right;
  margin-right: 50px;
}
.footr {
  height: 426px;
  background-color: #f2f2f2;
}
footer {
  width: 980px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
div.iphone7 {
  height: 50px;
  width: 980px;
  line-height: 50px;
  border-bottom: 1px solid #D6D6D6;
  font-size: 12px;
  color: #888;
  margin: 0 auto;
}
div.list {
  width: 20%;
  height: auto;
  float: left;
  margin-top: 15px;
}
div.list h5 {
  font-size: 10px;
}
div.list ul li a {
  color: #555;
  font-size: 10px;
  font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
div.list ul li a:hover {
  color: #000;
  text-decoration: underline;
}
div.list ul li {
  margin-bottom: 5px;
}
.foot span a {
  color: #0070c9;
}
.foot span a:hover {
  text-decoration: underline;
}
div.list h5 {
  color: #333;
  margin-bottom: 6px;
}
div.list h5 ~ h5 {
  margin-top: 16px;
}
div.list li {
  font-size: 10px;
}
div.list h5 span:last-child {
  display: none;
}
div.foot {
  width: 980px;
  height: 24px;
  margin: 0 auto;
  border-bottom: 1px solid #D6D6D6;
  font-size: 10px;
  margin-top: 30px;
  color: #888;
}
div.foot-sencond {
  width: 980px;
  height: 24px;
  margin: 0 auto;
  font-size: 10px;
  color: #888;
  margin-top: 8px;
}
div.foot-sencond span:first-child {
  margin-right: 20px;
}
div.foot-sencond p {
  margin-top: 8px;
}
div.foot-sencond a {
  color: #333;
  margin: 0 5px;
}
div.foot-sencond img {
  vertical-align: middle;
  float: right;
}
