.topbox{
  width:100%;
  height:40px;
  background: #444;
}
.top{
  max-width: 1000px;
  height: 40px;
  color: #fff;
  margin: 0 auto;
  text-align: right;
  line-height: 40px;
  font-size: 12px;
}
.top span{
  margin-right: 30px;
  color: #cccccc;
}
//导航
.navbox{
  width:100%;
  height:44px;
  background: #0a0a0a;
}
.nav .icon-iphone{
  font-family: "iconfont";
  font-size: 20px;
}
.nav .icon-sousuo{
  font-family: "iconfont";
  font-size: 20px;
}
.nav .icon-shaogouwu {
  font-family: "iconfont";
  font-size: 20px;
}
.navt .icon-iphone{
  font-family: "iconfont";
  font-size: 20px;
  //text-align: center;
}
.navt .icon-sousuo{
  font-family: "iconfont";
  font-size: 20px;
  //text-align: left;
}
.navt .icon-shaogouwu{
  font-family: "iconfont";
  font-size: 20px;
  //text-align: right;
}

.img-box{
  width:100%;
  height:500px;
  position:relative;
}
.img-box li{
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background-position:center center;
  background-repeat:no-repeat;
}

ul.img-box li:first-child{
  background-image:url(../images/b1.jpg);
  background-size:auto 100%;
  background-color:#0A0A0A;
}

ul.img-box li:nth-child(2){
  background-image:url(../images/b3.jpg);
  background-color:#F2F2F2;
}
ul.img-box li:last-child{
  background-image:url(../images/b2.jpg);
  background-position:center 200px;
  background-size:auto 70%;
  background-color:#fff;
}
ul.img-box li a{
  display:block;
  width:100%;
  height:100%;
}

