/*
  四个小图一变二
  底部链接变换/顶部导航变换：767px
  四个小图变换二变四：734px
*/
.container {
  width: 100%;
}
.container:after {
  content: "";
  display: none;
  clear: both;
}
.container .col-l-hide {
  display: none;
}
.container .col-m-hide {
  display: none;
}
.container .col-s-hide {
  display: none;
}
.container > .row {
  width: 100%;
}
.container > .row:after {
  content: "";
  display: none;
  clear: both;
}
.container-fluid {
  width: 100%;
}
.container-fluid:after {
  content: "";
  display: none;
  clear: both;
}
.container-fluid > .row {
  width: 100%;
}
.container-fluid > .row:after {
  content: "";
  display: none;
  clear: both;
}
.container > .row > .col-s-1 {
  width: 8.33333333%;
  float: left;
}
.container-fluid > .row > .col-s-1 {
  width: 8.33333333%;
  float: left;
}
.container-fluid > .row > .col-s-offset-1 {
  margin-left: 8.33333333%;
  float: left;
}
.container-fluid > .row > .col-s-left-1 {
  left: 8.33333333%;
  float: left;
}
.container-fluid > .row > .col-s-right-1 {
  right: 8.33333333%;
  float: left;
}
.container > .row > .col-s-2 {
  width: 16.66666667%;
  float: left;
}
.container-fluid > .row > .col-s-2 {
  width: 16.66666667%;
  float: left;
}
.container-fluid > .row > .col-s-offset-2 {
  margin-left: 16.66666667%;
  float: left;
}
.container-fluid > .row > .col-s-left-2 {
  left: 16.66666667%;
  float: left;
}
.container-fluid > .row > .col-s-right-2 {
  right: 16.66666667%;
  float: left;
}
.container > .row > .col-s-3 {
  width: 25%;
  float: left;
}
.container-fluid > .row > .col-s-3 {
  width: 25%;
  float: left;
}
.container-fluid > .row > .col-s-offset-3 {
  margin-left: 25%;
  float: left;
}
.container-fluid > .row > .col-s-left-3 {
  left: 25%;
  float: left;
}
.container-fluid > .row > .col-s-right-3 {
  right: 25%;
  float: left;
}
.container > .row > .col-s-4 {
  width: 33.33333333%;
  float: left;
}
.container-fluid > .row > .col-s-4 {
  width: 33.33333333%;
  float: left;
}
.container-fluid > .row > .col-s-offset-4 {
  margin-left: 33.33333333%;
  float: left;
}
.container-fluid > .row > .col-s-left-4 {
  left: 33.33333333%;
  float: left;
}
.container-fluid > .row > .col-s-right-4 {
  right: 33.33333333%;
  float: left;
}
.container > .row > .col-s-5 {
  width: 41.66666667%;
  float: left;
}
.container-fluid > .row > .col-s-5 {
  width: 41.66666667%;
  float: left;
}
.container-fluid > .row > .col-s-offset-5 {
  margin-left: 41.66666667%;
  float: left;
}
.container-fluid > .row > .col-s-left-5 {
  left: 41.66666667%;
  float: left;
}
.container-fluid > .row > .col-s-right-5 {
  right: 41.66666667%;
  float: left;
}
.container > .row > .col-s-6 {
  width: 50%;
  float: left;
}
.container-fluid > .row > .col-s-6 {
  width: 50%;
  float: left;
}
.container-fluid > .row > .col-s-offset-6 {
  margin-left: 50%;
  float: left;
}
.container-fluid > .row > .col-s-left-6 {
  left: 50%;
  float: left;
}
.container-fluid > .row > .col-s-right-6 {
  right: 50%;
  float: left;
}
.container > .row > .col-s-7 {
  width: 58.33333333%;
  float: left;
}
.container-fluid > .row > .col-s-7 {
  width: 58.33333333%;
  float: left;
}
.container-fluid > .row > .col-s-offset-7 {
  margin-left: 58.33333333%;
  float: left;
}
.container-fluid > .row > .col-s-left-7 {
  left: 58.33333333%;
  float: left;
}
.container-fluid > .row > .col-s-right-7 {
  right: 58.33333333%;
  float: left;
}
.container > .row > .col-s-8 {
  width: 66.66666667%;
  float: left;
}
.container-fluid > .row > .col-s-8 {
  width: 66.66666667%;
  float: left;
}
.container-fluid > .row > .col-s-offset-8 {
  margin-left: 66.66666667%;
  float: left;
}
.container-fluid > .row > .col-s-left-8 {
  left: 66.66666667%;
  float: left;
}
.container-fluid > .row > .col-s-right-8 {
  right: 66.66666667%;
  float: left;
}
.container > .row > .col-s-9 {
  width: 75%;
  float: left;
}
.container-fluid > .row > .col-s-9 {
  width: 75%;
  float: left;
}
.container-fluid > .row > .col-s-offset-9 {
  margin-left: 75%;
  float: left;
}
.container-fluid > .row > .col-s-left-9 {
  left: 75%;
  float: left;
}
.container-fluid > .row > .col-s-right-9 {
  right: 75%;
  float: left;
}
.container > .row > .col-s-10 {
  width: 83.33333333%;
  float: left;
}
.container-fluid > .row > .col-s-10 {
  width: 83.33333333%;
  float: left;
}
.container-fluid > .row > .col-s-offset-10 {
  margin-left: 83.33333333%;
  float: left;
}
.container-fluid > .row > .col-s-left-10 {
  left: 83.33333333%;
  float: left;
}
.container-fluid > .row > .col-s-right-10 {
  right: 83.33333333%;
  float: left;
}
.container > .row > .col-s-11 {
  width: 91.66666667%;
  float: left;
}
.container-fluid > .row > .col-s-11 {
  width: 91.66666667%;
  float: left;
}
.container-fluid > .row > .col-s-offset-11 {
  margin-left: 91.66666667%;
  float: left;
}
.container-fluid > .row > .col-s-left-11 {
  left: 91.66666667%;
  float: left;
}
.container-fluid > .row > .col-s-right-11 {
  right: 91.66666667%;
  float: left;
}
.container > .row > .col-s-12 {
  width: 100%;
  float: left;
}
.container-fluid > .row > .col-s-12 {
  width: 100%;
  float: left;
}
.container-fluid > .row > .col-s-offset-12 {
  margin-left: 100%;
  float: left;
}
.container-fluid > .row > .col-s-left-12 {
  left: 100%;
  float: left;
}
.container-fluid > .row > .col-s-right-12 {
  right: 100%;
  float: left;
}
@media screen and (min-width: 734px) {
  .container {
    width: 100%;
  }
  .container .col-l-hide {
    display: none;
  }
  .container .col-m-hide {
    display: none;
  }
  .container .col-s-hide {
    display: none;
  }
  .container > .row > .col-m1-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m1-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m1-offset-1 {
    margin-left: 8.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m1-left-1 {
    left: 8.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m1-right-1 {
    right: 8.33333333%;
    float: left;
  }
  .container > .row > .col-m1-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m1-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m1-offset-2 {
    margin-left: 16.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m1-left-2 {
    left: 16.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m1-right-2 {
    right: 16.66666667%;
    float: left;
  }
  .container > .row > .col-m1-3 {
    width: 25%;
    float: left;
  }
  .container-fluid > .row > .col-m1-3 {
    width: 25%;
    float: left;
  }
  .container-fluid > .row > .col-m1-offset-3 {
    margin-left: 25%;
    float: left;
  }
  .container-fluid > .row > .col-m1-left-3 {
    left: 25%;
    float: left;
  }
  .container-fluid > .row > .col-m1-right-3 {
    right: 25%;
    float: left;
  }
  .container > .row > .col-m1-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m1-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m1-offset-4 {
    margin-left: 33.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m1-left-4 {
    left: 33.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m1-right-4 {
    right: 33.33333333%;
    float: left;
  }
  .container > .row > .col-m1-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m1-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m1-offset-5 {
    margin-left: 41.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m1-left-5 {
    left: 41.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m1-right-5 {
    right: 41.66666667%;
    float: left;
  }
  .container > .row > .col-m1-6 {
    width: 50%;
    float: left;
  }
  .container-fluid > .row > .col-m1-6 {
    width: 50%;
    float: left;
  }
  .container-fluid > .row > .col-m1-offset-6 {
    margin-left: 50%;
    float: left;
  }
  .container-fluid > .row > .col-m1-left-6 {
    left: 50%;
    float: left;
  }
  .container-fluid > .row > .col-m1-right-6 {
    right: 50%;
    float: left;
  }
  .container > .row > .col-m1-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m1-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m1-offset-7 {
    margin-left: 58.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m1-left-7 {
    left: 58.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m1-right-7 {
    right: 58.33333333%;
    float: left;
  }
  .container > .row > .col-m1-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m1-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m1-offset-8 {
    margin-left: 66.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m1-left-8 {
    left: 66.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m1-right-8 {
    right: 66.66666667%;
    float: left;
  }
  .container > .row > .col-m1-9 {
    width: 75%;
    float: left;
  }
  .container-fluid > .row > .col-m1-9 {
    width: 75%;
    float: left;
  }
  .container-fluid > .row > .col-m1-offset-9 {
    margin-left: 75%;
    float: left;
  }
  .container-fluid > .row > .col-m1-left-9 {
    left: 75%;
    float: left;
  }
  .container-fluid > .row > .col-m1-right-9 {
    right: 75%;
    float: left;
  }
  .container > .row > .col-m1-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m1-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m1-offset-10 {
    margin-left: 83.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m1-left-10 {
    left: 83.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m1-right-10 {
    right: 83.33333333%;
    float: left;
  }
  .container > .row > .col-m1-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m1-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m1-offset-11 {
    margin-left: 91.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m1-left-11 {
    left: 91.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m1-right-11 {
    right: 91.66666667%;
    float: left;
  }
  .container > .row > .col-m1-12 {
    width: 100%;
    float: left;
  }
  .container-fluid > .row > .col-m1-12 {
    width: 100%;
    float: left;
  }
  .container-fluid > .row > .col-m1-offset-12 {
    margin-left: 100%;
    float: left;
  }
  .container-fluid > .row > .col-m1-left-12 {
    left: 100%;
    float: left;
  }
  .container-fluid > .row > .col-m1-right-12 {
    right: 100%;
    float: left;
  }
}
@media screen and (min-width: 767px) {
  .container {
    width: 100%;
  }
  .container .col-l-hide {
    display: none;
  }
  .container .col-m-hide {
    display: none;
  }
  .container .col-s-hide {
    display: none;
  }
  .container > .row > .col-m2-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m2-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m2-offset-1 {
    margin-left: 8.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m2-left-1 {
    left: 8.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m2-right-1 {
    right: 8.33333333%;
    float: left;
  }
  .container > .row > .col-m2-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m2-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m2-offset-2 {
    margin-left: 16.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m2-left-2 {
    left: 16.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m2-right-2 {
    right: 16.66666667%;
    float: left;
  }
  .container > .row > .col-m2-3 {
    width: 25%;
    float: left;
  }
  .container-fluid > .row > .col-m2-3 {
    width: 25%;
    float: left;
  }
  .container-fluid > .row > .col-m2-offset-3 {
    margin-left: 25%;
    float: left;
  }
  .container-fluid > .row > .col-m2-left-3 {
    left: 25%;
    float: left;
  }
  .container-fluid > .row > .col-m2-right-3 {
    right: 25%;
    float: left;
  }
  .container > .row > .col-m2-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m2-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m2-offset-4 {
    margin-left: 33.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m2-left-4 {
    left: 33.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m2-right-4 {
    right: 33.33333333%;
    float: left;
  }
  .container > .row > .col-m2-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m2-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m2-offset-5 {
    margin-left: 41.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m2-left-5 {
    left: 41.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m2-right-5 {
    right: 41.66666667%;
    float: left;
  }
  .container > .row > .col-m2-6 {
    width: 50%;
    float: left;
  }
  .container-fluid > .row > .col-m2-6 {
    width: 50%;
    float: left;
  }
  .container-fluid > .row > .col-m2-offset-6 {
    margin-left: 50%;
    float: left;
  }
  .container-fluid > .row > .col-m2-left-6 {
    left: 50%;
    float: left;
  }
  .container-fluid > .row > .col-m2-right-6 {
    right: 50%;
    float: left;
  }
  .container > .row > .col-m2-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m2-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m2-offset-7 {
    margin-left: 58.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m2-left-7 {
    left: 58.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m2-right-7 {
    right: 58.33333333%;
    float: left;
  }
  .container > .row > .col-m2-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m2-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m2-offset-8 {
    margin-left: 66.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m2-left-8 {
    left: 66.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m2-right-8 {
    right: 66.66666667%;
    float: left;
  }
  .container > .row > .col-m2-9 {
    width: 75%;
    float: left;
  }
  .container-fluid > .row > .col-m2-9 {
    width: 75%;
    float: left;
  }
  .container-fluid > .row > .col-m2-offset-9 {
    margin-left: 75%;
    float: left;
  }
  .container-fluid > .row > .col-m2-left-9 {
    left: 75%;
    float: left;
  }
  .container-fluid > .row > .col-m2-right-9 {
    right: 75%;
    float: left;
  }
  .container > .row > .col-m2-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m2-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m2-offset-10 {
    margin-left: 83.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m2-left-10 {
    left: 83.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m2-right-10 {
    right: 83.33333333%;
    float: left;
  }
  .container > .row > .col-m2-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m2-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m2-offset-11 {
    margin-left: 91.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m2-left-11 {
    left: 91.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m2-right-11 {
    right: 91.66666667%;
    float: left;
  }
  .container > .row > .col-m2-12 {
    width: 100%;
    float: left;
  }
  .container-fluid > .row > .col-m2-12 {
    width: 100%;
    float: left;
  }
  .container-fluid > .row > .col-m2-offset-12 {
    margin-left: 100%;
    float: left;
  }
  .container-fluid > .row > .col-m2-left-12 {
    left: 100%;
    float: left;
  }
  .container-fluid > .row > .col-m2-right-12 {
    right: 100%;
    float: left;
  }
}
@media screen and (min-width: 1070px) {
  .container {
    width: 100%;
  }
  .container .col-l-hide {
    display: none;
  }
  .container .col-m-hide {
    display: none;
  }
  .container .col-s-hide {
    display: none;
  }
  .container > .row > .col-l-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-l-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-l-offset-1 {
    margin-left: 8.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-l-left-1 {
    left: 8.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-l-right-1 {
    right: 8.33333333%;
    float: left;
  }
  .container > .row > .col-l-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-l-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-l-offset-2 {
    margin-left: 16.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-l-left-2 {
    left: 16.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-l-right-2 {
    right: 16.66666667%;
    float: left;
  }
  .container > .row > .col-l-3 {
    width: 25%;
    float: left;
  }
  .container-fluid > .row > .col-l-3 {
    width: 25%;
    float: left;
  }
  .container-fluid > .row > .col-l-offset-3 {
    margin-left: 25%;
    float: left;
  }
  .container-fluid > .row > .col-l-left-3 {
    left: 25%;
    float: left;
  }
  .container-fluid > .row > .col-l-right-3 {
    right: 25%;
    float: left;
  }
  .container > .row > .col-l-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-l-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-l-offset-4 {
    margin-left: 33.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-l-left-4 {
    left: 33.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-l-right-4 {
    right: 33.33333333%;
    float: left;
  }
  .container > .row > .col-l-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-l-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-l-offset-5 {
    margin-left: 41.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-l-left-5 {
    left: 41.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-l-right-5 {
    right: 41.66666667%;
    float: left;
  }
  .container > .row > .col-l-6 {
    width: 50%;
    float: left;
  }
  .container-fluid > .row > .col-l-6 {
    width: 50%;
    float: left;
  }
  .container-fluid > .row > .col-l-offset-6 {
    margin-left: 50%;
    float: left;
  }
  .container-fluid > .row > .col-l-left-6 {
    left: 50%;
    float: left;
  }
  .container-fluid > .row > .col-l-right-6 {
    right: 50%;
    float: left;
  }
  .container > .row > .col-l-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-l-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-l-offset-7 {
    margin-left: 58.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-l-left-7 {
    left: 58.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-l-right-7 {
    right: 58.33333333%;
    float: left;
  }
  .container > .row > .col-l-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-l-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-l-offset-8 {
    margin-left: 66.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-l-left-8 {
    left: 66.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-l-right-8 {
    right: 66.66666667%;
    float: left;
  }
  .container > .row > .col-l-9 {
    width: 75%;
    float: left;
  }
  .container-fluid > .row > .col-l-9 {
    width: 75%;
    float: left;
  }
  .container-fluid > .row > .col-l-offset-9 {
    margin-left: 75%;
    float: left;
  }
  .container-fluid > .row > .col-l-left-9 {
    left: 75%;
    float: left;
  }
  .container-fluid > .row > .col-l-right-9 {
    right: 75%;
    float: left;
  }
  .container > .row > .col-l-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-l-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-l-offset-10 {
    margin-left: 83.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-l-left-10 {
    left: 83.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-l-right-10 {
    right: 83.33333333%;
    float: left;
  }
  .container > .row > .col-l-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-l-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-l-offset-11 {
    margin-left: 91.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-l-left-11 {
    left: 91.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-l-right-11 {
    right: 91.66666667%;
    float: left;
  }
  .container > .row > .col-l-12 {
    width: 100%;
    float: left;
  }
  .container-fluid > .row > .col-l-12 {
    width: 100%;
    float: left;
  }
  .container-fluid > .row > .col-l-offset-12 {
    margin-left: 100%;
    float: left;
  }
  .container-fluid > .row > .col-l-left-12 {
    left: 100%;
    float: left;
  }
  .container-fluid > .row > .col-l-right-12 {
    right: 100%;
    float: left;
  }
}
/*顶部导航 start*/
.topnavbox {
  height: 44px;
  width: 100%;
  background: #000;
}
.topnavbox .topnav {
  width: 100%;
  height: 44px;
  overflow: hidden;
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 47px;
  padding-right: 47px;
}
.topnavbox .topnav li {
  height: 43px;
  line-height: 43px;
  text-align: left;
  border-bottom: 1px solid #555;
}
.topnavbox .topnav li a {
  display: inline-block;
  width: 20px;
  height: 100%;
  text-align: Center;
  color: #fff;
  font-weight: 200;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.5s;
}
.topnavbox .topnav li a:hover {
  opacity: 0.7;
}
.topnavbox .topnav li:nth-child(1) a {
  width: 100%;
  background-image: url(../images/nav-logo.png);
}
.topnavbox .topnav li:nth-last-child(2) {
  display: none;
}
.topnavbox .topnav li:nth-last-child(3) {
  display: block;
  height: 44px;
  width: 44px;
  position: absolute;
  left: 0;
  top: 0;
  border: none;
}
.topnavbox .topnav li:nth-last-child(3) span {
  display: block;
}
.topnavbox .topnav li:nth-last-child(3) .btn-shadow-box {
  padding: 4px;
  height: 100%;
  width: 100%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.topnavbox .topnav li:nth-last-child(3) .btn-shadow {
  height: 0px;
  width: 100%;
  box-shadow: 0px 10px 1px #fff,0px 20px 1px #fff;
}
.topnavbox .topnav li:nth-last-child(1) a {
  width: 50px;
  position: absolute;
  right: 0;
  top: 2px;
}
.topnavbox .topnav li:nth-last-child(1) a > i {
  font-size: 50px;
  font-style: normal;
}
@media screen and (min-width: 767px) {
  .topnavbox {
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    background: #333;
  }
  .topnavbox .topnav {
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    width: 1070px;
    height: 100%;
    position: static;
    padding: 0;
    background: transparent;
  }
  .topnavbox .topnav li {
    width: 10%;
    text-align: Center;
    float: left;
  }
  .topnavbox .topnav li:nth-last-child(3) {
    display: none;
  }
  .topnavbox .topnav li:nth-last-child(2) {
    display: block;
  }
  .topnavbox .topnav li:nth-last-child(2) a {
    background-image: url(../images/image_large2.svg);
  }
  .topnavbox .topnav li:nth-last-child(1) {
    position: static;
  }
  .topnavbox .topnav li:nth-last-child(1) a > i {
    font-size: 40px;
  }
}
/*顶部导航 end*/
/*banner start*/
.banner {
  height: 498px;
  width: 100%;
  position: relative;
}
.banner .imgbox {
  width: 100%;
  height: 100%;
}
.banner .imgbox > li {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.banner .imgbox > li a {
  display: block;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.banner .imgbox > li {
  opacity: 0;
}
.banner .imgbox > li:nth-child(2) {
  opacity: 1;
}
.banner .imgbox > li:nth-child(1) a {
  -moz-background-size: auto 100%;
  -ms-background-size: auto 100%;
  -webkit-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  background-image: url(../images/iphone_alt_small.jpg);
}
.banner .imgbox > li:nth-child(2) a {
  -moz-background-size: 100%;
  -ms-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-image: url(../images/watch_alt_portrait_small.jpg);
}
.banner .imgbox > li:nth-child(3) a {
  background-position: center bottom;
  -moz-background-size: auto 100%;
  -ms-background-size: auto 100%;
  -webkit-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  background-image: url(../images/macbookpro_portrait_small.jpg);
}
@media screen and (min-width: 512px) {
  .banner .imgbox > li:nth-child(1) a {
    background-image: url(../images/iphone_alt_medium.jpg);
  }
  .banner .imgbox > li:nth-child(2) a {
    background-image: url(../images/watch_alt_medium.jpg);
  }
  .banner .imgbox > li:nth-child(3) a {
    -moz-background-size: 100%;
    -ms-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-image: url(../images/macbookpro_medium.jpg);
  }
}
@media screen and (min-width: 767px) {
  .banner .imgbox > li:nth-child(1) a {
    background-image: url(../images/iphone_alt_large.jpg);
  }
  .banner .imgbox > li:nth-child(2) a {
    background-image: url(../images/watch_alt_large.jpg);
  }
  .banner .imgbox > li:nth-child(3) a {
    background-image: url(../images/macbookpro_large.jpg);
  }
}
.banner .btnbox {
  width: 180px;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: 32px;
  margin-left: -90px;
}
.banner .btnbox li {
  width: 50px;
  margin: 0 5px;
  float: left;
}
.banner .btnbox li span {
  display: inline-block;
  height: 100%;
  width: 100%;
  background: #808080;
}
/*banner end*/
/*商品推销 start*/
.promos {
  width: 100%;
}
.promos .row li {
  height: 203px;
  border: 1px solid transparent;
  float: left;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.promos .row li a {
  display: block;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.promos .row li:nth-child(1) a {
  background-image: url(../images/accessories_small.jpg);
}
.promos .row li:nth-child(2) a {
  background-image: url(../images/ipad_pro_small.jpg);
}
.promos .row li:nth-child(3) a {
  background-image: url(../images/iphone_upgrade_small.jpg);
}
.promos .row li:nth-child(4) a {
  background-image: url(../images/airpods_small.jpg);
}
@media screen and (min-width: 734px) {
  .promos .row li:nth-child(1) a {
    background-image: url(../images/accessories_medium.jpg);
  }
  .promos .row li:nth-child(2) a {
    background-image: url(../images/ipad_pro_medium.jpg);
  }
  .promos .row li:nth-child(3) a {
    background-image: url(../images/iphone_upgrade_medium.jpg);
  }
  .promos .row li:nth-child(4) a {
    background-image: url(../images/airpods_medium.jpg);
  }
}
@media screen and (min-width: 1070px) {
  .promos .row li:nth-child(1) a {
    background-image: url(../images/accessories_large.jpg);
  }
  .promos .row li:nth-child(2) a {
    background-image: url(../images/ipad_pro_large.jpg);
  }
  .promos .row li:nth-child(3) a {
    background-image: url(../images/iphone_upgrade_large.jpg);
  }
  .promos .row li:nth-child(4) a {
    background-image: url(../images/airpods_large.jpg);
  }
}
/*商品推销 end*/
