.contant .con-l-0 {
  width: 0%;
}
.contant .con-l-1 {
  width: 8.33333333%;
}
.contant .con-l-2 {
  width: 16.66666667%;
}
.contant .con-l-3 {
  width: 25%;
}
.contant .con-l-4 {
  width: 33.33333333%;
}
.contant .con-l-5 {
  width: 41.66666667%;
}
.contant .con-l-6 {
  width: 50%;
}
.contant .con-l-7 {
  width: 58.33333333%;
}
.contant .con-l-8 {
  width: 66.66666667%;
}
.contant .con-l-9 {
  width: 75%;
}
.contant .con-l-10 {
  width: 83.33333333%;
}
.contant .con-l-11 {
  width: 91.66666667%;
}
.contant .con-l-12 {
  width: 100%;
}
.contant .con-s-0 {
  width: 0%;
}
.contant .con-s-1 {
  width: 8.33333333%;
}
.contant .con-s-2 {
  width: 16.66666667%;
}
.contant .con-s-3 {
  width: 25%;
}
.contant .con-s-4 {
  width: 33.33333333%;
}
.contant .con-s-5 {
  width: 41.66666667%;
}
.contant .con-s-6 {
  width: 50%;
}
.contant .con-s-7 {
  width: 58.33333333%;
}
.contant .con-s-8 {
  width: 66.66666667%;
}
.contant .con-s-9 {
  width: 75%;
}
.contant .con-s-10 {
  width: 83.33333333%;
}
.contant .con-s-11 {
  width: 91.66666667%;
}
.contant .con-s-12 {
  width: 100%;
}
.contant .con-m-0 {
  width: 0%;
}
.contant .con-m-1 {
  width: 8.33333333%;
}
.contant .con-m-2 {
  width: 16.66666667%;
}
.contant .con-m-3 {
  width: 25%;
}
.contant .con-m-4 {
  width: 33.33333333%;
}
.contant .con-m-5 {
  width: 41.66666667%;
}
.contant .con-m-6 {
  width: 50%;
}
.contant .con-m-7 {
  width: 58.33333333%;
}
.contant .con-m-8 {
  width: 66.66666667%;
}
.contant .con-m-9 {
  width: 75%;
}
.contant .con-m-10 {
  width: 83.33333333%;
}
.contant .con-m-11 {
  width: 91.66666667%;
}
.contant .con-m-12 {
  width: 100%;
}
