* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  margin: 0;
  padding: 0;
  background: #F2F2F2;
}
ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.container {
  width: 600px;
  margin: auto;
}
.container-fuild {
  width: 100%;
  margin: auto;
}
.container-fuild:before,
.container-fuild:after {
  content: "";
  display: block;
  clear: both;
}
.container-fuild > .row {
  width: 100%;
}
.container-fuild > .row:before,
.container-fuild > .row:after {
  content: "";
  display: block;
  clear: both;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container > .row {
  width: 100%;
}
.container > .row:before,
.container > .row:after {
  content: "";
  display: block;
  clear: both;
}
.container > .row .col-s-1 {
  width: 5%;
  float: left;
  position: relative;
}
.container-fuild > .row .col-s-1 {
  width: 5%;
  float: left;
  position: relative;
}
.container > .row .col-s-offect-1 {
  margin-left: 5%;
}
.container > .row .col-s-right-1 {
  left: 5%;
}
.container > .row .col-s-left-1 {
  left: -5%;
}
.container > .row .col-s-2 {
  width: 10%;
  float: left;
  position: relative;
}
.container-fuild > .row .col-s-2 {
  width: 10%;
  float: left;
  position: relative;
}
.container > .row .col-s-offect-2 {
  margin-left: 10%;
}
.container > .row .col-s-right-2 {
  left: 10%;
}
.container > .row .col-s-left-2 {
  left: -10%;
}
.container > .row .col-s-3 {
  width: 15%;
  float: left;
  position: relative;
}
.container-fuild > .row .col-s-3 {
  width: 15%;
  float: left;
  position: relative;
}
.container > .row .col-s-offect-3 {
  margin-left: 15%;
}
.container > .row .col-s-right-3 {
  left: 15%;
}
.container > .row .col-s-left-3 {
  left: -15%;
}
.container > .row .col-s-4 {
  width: 20%;
  float: left;
  position: relative;
}
.container-fuild > .row .col-s-4 {
  width: 20%;
  float: left;
  position: relative;
}
.container > .row .col-s-offect-4 {
  margin-left: 20%;
}
.container > .row .col-s-right-4 {
  left: 20%;
}
.container > .row .col-s-left-4 {
  left: -20%;
}
.container > .row .col-s-5 {
  width: 25%;
  float: left;
  position: relative;
}
.container-fuild > .row .col-s-5 {
  width: 25%;
  float: left;
  position: relative;
}
.container > .row .col-s-offect-5 {
  margin-left: 25%;
}
.container > .row .col-s-right-5 {
  left: 25%;
}
.container > .row .col-s-left-5 {
  left: -25%;
}
.container > .row .col-s-6 {
  width: 30%;
  float: left;
  position: relative;
}
.container-fuild > .row .col-s-6 {
  width: 30%;
  float: left;
  position: relative;
}
.container > .row .col-s-offect-6 {
  margin-left: 30%;
}
.container > .row .col-s-right-6 {
  left: 30%;
}
.container > .row .col-s-left-6 {
  left: -30%;
}
.container > .row .col-s-7 {
  width: 35%;
  float: left;
  position: relative;
}
.container-fuild > .row .col-s-7 {
  width: 35%;
  float: left;
  position: relative;
}
.container > .row .col-s-offect-7 {
  margin-left: 35%;
}
.container > .row .col-s-right-7 {
  left: 35%;
}
.container > .row .col-s-left-7 {
  left: -35%;
}
.container > .row .col-s-8 {
  width: 40%;
  float: left;
  position: relative;
}
.container-fuild > .row .col-s-8 {
  width: 40%;
  float: left;
  position: relative;
}
.container > .row .col-s-offect-8 {
  margin-left: 40%;
}
.container > .row .col-s-right-8 {
  left: 40%;
}
.container > .row .col-s-left-8 {
  left: -40%;
}
.container > .row .col-s-9 {
  width: 45%;
  float: left;
  position: relative;
}
.container-fuild > .row .col-s-9 {
  width: 45%;
  float: left;
  position: relative;
}
.container > .row .col-s-offect-9 {
  margin-left: 45%;
}
.container > .row .col-s-right-9 {
  left: 45%;
}
.container > .row .col-s-left-9 {
  left: -45%;
}
.container > .row .col-s-10 {
  width: 50%;
  float: left;
  position: relative;
}
.container-fuild > .row .col-s-10 {
  width: 50%;
  float: left;
  position: relative;
}
.container > .row .col-s-offect-10 {
  margin-left: 50%;
}
.container > .row .col-s-right-10 {
  left: 50%;
}
.container > .row .col-s-left-10 {
  left: -50%;
}
.container > .row .col-s-11 {
  width: 55%;
  float: left;
  position: relative;
}
.container-fuild > .row .col-s-11 {
  width: 55%;
  float: left;
  position: relative;
}
.container > .row .col-s-offect-11 {
  margin-left: 55%;
}
.container > .row .col-s-right-11 {
  left: 55%;
}
.container > .row .col-s-left-11 {
  left: -55%;
}
.container > .row .col-s-12 {
  width: 60%;
  float: left;
  position: relative;
}
.container-fuild > .row .col-s-12 {
  width: 60%;
  float: left;
  position: relative;
}
.container > .row .col-s-offect-12 {
  margin-left: 60%;
}
.container > .row .col-s-right-12 {
  left: 60%;
}
.container > .row .col-s-left-12 {
  left: -60%;
}
.container > .row .col-s-13 {
  width: 65%;
  float: left;
  position: relative;
}
.container-fuild > .row .col-s-13 {
  width: 65%;
  float: left;
  position: relative;
}
.container > .row .col-s-offect-13 {
  margin-left: 65%;
}
.container > .row .col-s-right-13 {
  left: 65%;
}
.container > .row .col-s-left-13 {
  left: -65%;
}
.container > .row .col-s-14 {
  width: 70%;
  float: left;
  position: relative;
}
.container-fuild > .row .col-s-14 {
  width: 70%;
  float: left;
  position: relative;
}
.container > .row .col-s-offect-14 {
  margin-left: 70%;
}
.container > .row .col-s-right-14 {
  left: 70%;
}
.container > .row .col-s-left-14 {
  left: -70%;
}
.container > .row .col-s-15 {
  width: 75%;
  float: left;
  position: relative;
}
.container-fuild > .row .col-s-15 {
  width: 75%;
  float: left;
  position: relative;
}
.container > .row .col-s-offect-15 {
  margin-left: 75%;
}
.container > .row .col-s-right-15 {
  left: 75%;
}
.container > .row .col-s-left-15 {
  left: -75%;
}
.container > .row .col-s-16 {
  width: 80%;
  float: left;
  position: relative;
}
.container-fuild > .row .col-s-16 {
  width: 80%;
  float: left;
  position: relative;
}
.container > .row .col-s-offect-16 {
  margin-left: 80%;
}
.container > .row .col-s-right-16 {
  left: 80%;
}
.container > .row .col-s-left-16 {
  left: -80%;
}
.container > .row .col-s-17 {
  width: 85%;
  float: left;
  position: relative;
}
.container-fuild > .row .col-s-17 {
  width: 85%;
  float: left;
  position: relative;
}
.container > .row .col-s-offect-17 {
  margin-left: 85%;
}
.container > .row .col-s-right-17 {
  left: 85%;
}
.container > .row .col-s-left-17 {
  left: -85%;
}
.container > .row .col-s-18 {
  width: 90%;
  float: left;
  position: relative;
}
.container-fuild > .row .col-s-18 {
  width: 90%;
  float: left;
  position: relative;
}
.container > .row .col-s-offect-18 {
  margin-left: 90%;
}
.container > .row .col-s-right-18 {
  left: 90%;
}
.container > .row .col-s-left-18 {
  left: -90%;
}
.container > .row .col-s-19 {
  width: 95%;
  float: left;
  position: relative;
}
.container-fuild > .row .col-s-19 {
  width: 95%;
  float: left;
  position: relative;
}
.container > .row .col-s-offect-19 {
  margin-left: 95%;
}
.container > .row .col-s-right-19 {
  left: 95%;
}
.container > .row .col-s-left-19 {
  left: -95%;
}
.container > .row .col-s-20 {
  width: 100%;
  float: left;
  position: relative;
}
.container-fuild > .row .col-s-20 {
  width: 100%;
  float: left;
  position: relative;
}
.container > .row .col-s-offect-20 {
  margin-left: 100%;
}
.container > .row .col-s-right-20 {
  left: 100%;
}
.container > .row .col-s-left-20 {
  left: -100%;
}
.col-m-hide {
  display: block;
}
.col-l-hide {
  display: block;
}
.col-s-hide {
  display: none;
}
@media screen and (min-width: 600px) {
  .container {
    width: 600px;
  }
  .container > .row .col-m-1 {
    width: 5%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-m-1 {
    width: 5%;
    float: left;
    position: relative;
  }
  .container > .row .col-m-offect-1 {
    margin-left: 5%;
  }
  .container > .row .col-m-right-1 {
    left: 5%;
  }
  .container > .row .col-m-left-1 {
    left: -5%;
  }
  .container > .row .col-m-2 {
    width: 10%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-m-2 {
    width: 10%;
    float: left;
    position: relative;
  }
  .container > .row .col-m-offect-2 {
    margin-left: 10%;
  }
  .container > .row .col-m-right-2 {
    left: 10%;
  }
  .container > .row .col-m-left-2 {
    left: -10%;
  }
  .container > .row .col-m-3 {
    width: 15%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-m-3 {
    width: 15%;
    float: left;
    position: relative;
  }
  .container > .row .col-m-offect-3 {
    margin-left: 15%;
  }
  .container > .row .col-m-right-3 {
    left: 15%;
  }
  .container > .row .col-m-left-3 {
    left: -15%;
  }
  .container > .row .col-m-4 {
    width: 20%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-m-4 {
    width: 20%;
    float: left;
    position: relative;
  }
  .container > .row .col-m-offect-4 {
    margin-left: 20%;
  }
  .container > .row .col-m-right-4 {
    left: 20%;
  }
  .container > .row .col-m-left-4 {
    left: -20%;
  }
  .container > .row .col-m-5 {
    width: 25%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-m-5 {
    width: 25%;
    float: left;
    position: relative;
  }
  .container > .row .col-m-offect-5 {
    margin-left: 25%;
  }
  .container > .row .col-m-right-5 {
    left: 25%;
  }
  .container > .row .col-m-left-5 {
    left: -25%;
  }
  .container > .row .col-m-6 {
    width: 30%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-m-6 {
    width: 30%;
    float: left;
    position: relative;
  }
  .container > .row .col-m-offect-6 {
    margin-left: 30%;
  }
  .container > .row .col-m-right-6 {
    left: 30%;
  }
  .container > .row .col-m-left-6 {
    left: -30%;
  }
  .container > .row .col-m-7 {
    width: 35%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-m-7 {
    width: 35%;
    float: left;
    position: relative;
  }
  .container > .row .col-m-offect-7 {
    margin-left: 35%;
  }
  .container > .row .col-m-right-7 {
    left: 35%;
  }
  .container > .row .col-m-left-7 {
    left: -35%;
  }
  .container > .row .col-m-8 {
    width: 40%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-m-8 {
    width: 40%;
    float: left;
    position: relative;
  }
  .container > .row .col-m-offect-8 {
    margin-left: 40%;
  }
  .container > .row .col-m-right-8 {
    left: 40%;
  }
  .container > .row .col-m-left-8 {
    left: -40%;
  }
  .container > .row .col-m-9 {
    width: 45%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-m-9 {
    width: 45%;
    float: left;
    position: relative;
  }
  .container > .row .col-m-offect-9 {
    margin-left: 45%;
  }
  .container > .row .col-m-right-9 {
    left: 45%;
  }
  .container > .row .col-m-left-9 {
    left: -45%;
  }
  .container > .row .col-m-10 {
    width: 50%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-m-10 {
    width: 50%;
    float: left;
    position: relative;
  }
  .container > .row .col-m-offect-10 {
    margin-left: 50%;
  }
  .container > .row .col-m-right-10 {
    left: 50%;
  }
  .container > .row .col-m-left-10 {
    left: -50%;
  }
  .container > .row .col-m-11 {
    width: 55%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-m-11 {
    width: 55%;
    float: left;
    position: relative;
  }
  .container > .row .col-m-offect-11 {
    margin-left: 55%;
  }
  .container > .row .col-m-right-11 {
    left: 55%;
  }
  .container > .row .col-m-left-11 {
    left: -55%;
  }
  .container > .row .col-m-12 {
    width: 60%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-m-12 {
    width: 60%;
    float: left;
    position: relative;
  }
  .container > .row .col-m-offect-12 {
    margin-left: 60%;
  }
  .container > .row .col-m-right-12 {
    left: 60%;
  }
  .container > .row .col-m-left-12 {
    left: -60%;
  }
  .container > .row .col-m-13 {
    width: 65%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-m-13 {
    width: 65%;
    float: left;
    position: relative;
  }
  .container > .row .col-m-offect-13 {
    margin-left: 65%;
  }
  .container > .row .col-m-right-13 {
    left: 65%;
  }
  .container > .row .col-m-left-13 {
    left: -65%;
  }
  .container > .row .col-m-14 {
    width: 70%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-m-14 {
    width: 70%;
    float: left;
    position: relative;
  }
  .container > .row .col-m-offect-14 {
    margin-left: 70%;
  }
  .container > .row .col-m-right-14 {
    left: 70%;
  }
  .container > .row .col-m-left-14 {
    left: -70%;
  }
  .container > .row .col-m-15 {
    width: 75%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-m-15 {
    width: 75%;
    float: left;
    position: relative;
  }
  .container > .row .col-m-offect-15 {
    margin-left: 75%;
  }
  .container > .row .col-m-right-15 {
    left: 75%;
  }
  .container > .row .col-m-left-15 {
    left: -75%;
  }
  .container > .row .col-m-16 {
    width: 80%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-m-16 {
    width: 80%;
    float: left;
    position: relative;
  }
  .container > .row .col-m-offect-16 {
    margin-left: 80%;
  }
  .container > .row .col-m-right-16 {
    left: 80%;
  }
  .container > .row .col-m-left-16 {
    left: -80%;
  }
  .container > .row .col-m-17 {
    width: 85%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-m-17 {
    width: 85%;
    float: left;
    position: relative;
  }
  .container > .row .col-m-offect-17 {
    margin-left: 85%;
  }
  .container > .row .col-m-right-17 {
    left: 85%;
  }
  .container > .row .col-m-left-17 {
    left: -85%;
  }
  .container > .row .col-m-18 {
    width: 90%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-m-18 {
    width: 90%;
    float: left;
    position: relative;
  }
  .container > .row .col-m-offect-18 {
    margin-left: 90%;
  }
  .container > .row .col-m-right-18 {
    left: 90%;
  }
  .container > .row .col-m-left-18 {
    left: -90%;
  }
  .container > .row .col-m-19 {
    width: 95%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-m-19 {
    width: 95%;
    float: left;
    position: relative;
  }
  .container > .row .col-m-offect-19 {
    margin-left: 95%;
  }
  .container > .row .col-m-right-19 {
    left: 95%;
  }
  .container > .row .col-m-left-19 {
    left: -95%;
  }
  .container > .row .col-m-20 {
    width: 100%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-m-20 {
    width: 100%;
    float: left;
    position: relative;
  }
  .container > .row .col-m-offect-20 {
    margin-left: 100%;
  }
  .container > .row .col-m-right-20 {
    left: 100%;
  }
  .container > .row .col-m-left-20 {
    left: -100%;
  }
  .col-s-hide {
    display: block;
  }
  .col-l-hide {
    display: block;
  }
  .col-m-hide {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    width: 1000px;
  }
  .container > .row .col-l-1 {
    width: 5%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-l-1 {
    width: 5%;
    float: left;
    position: relative;
  }
  .container > .row .col-l-offect-1 {
    margin-left: 5%;
  }
  .container > .row .col-l-right-1 {
    left: 5%;
  }
  .container > .row .col-l-left-1 {
    left: -5%;
  }
  .container > .row .col-l-2 {
    width: 10%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-l-2 {
    width: 10%;
    float: left;
    position: relative;
  }
  .container > .row .col-l-offect-2 {
    margin-left: 10%;
  }
  .container > .row .col-l-right-2 {
    left: 10%;
  }
  .container > .row .col-l-left-2 {
    left: -10%;
  }
  .container > .row .col-l-3 {
    width: 15%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-l-3 {
    width: 15%;
    float: left;
    position: relative;
  }
  .container > .row .col-l-offect-3 {
    margin-left: 15%;
  }
  .container > .row .col-l-right-3 {
    left: 15%;
  }
  .container > .row .col-l-left-3 {
    left: -15%;
  }
  .container > .row .col-l-4 {
    width: 20%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-l-4 {
    width: 20%;
    float: left;
    position: relative;
  }
  .container > .row .col-l-offect-4 {
    margin-left: 20%;
  }
  .container > .row .col-l-right-4 {
    left: 20%;
  }
  .container > .row .col-l-left-4 {
    left: -20%;
  }
  .container > .row .col-l-5 {
    width: 25%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-l-5 {
    width: 25%;
    float: left;
    position: relative;
  }
  .container > .row .col-l-offect-5 {
    margin-left: 25%;
  }
  .container > .row .col-l-right-5 {
    left: 25%;
  }
  .container > .row .col-l-left-5 {
    left: -25%;
  }
  .container > .row .col-l-6 {
    width: 30%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-l-6 {
    width: 30%;
    float: left;
    position: relative;
  }
  .container > .row .col-l-offect-6 {
    margin-left: 30%;
  }
  .container > .row .col-l-right-6 {
    left: 30%;
  }
  .container > .row .col-l-left-6 {
    left: -30%;
  }
  .container > .row .col-l-7 {
    width: 35%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-l-7 {
    width: 35%;
    float: left;
    position: relative;
  }
  .container > .row .col-l-offect-7 {
    margin-left: 35%;
  }
  .container > .row .col-l-right-7 {
    left: 35%;
  }
  .container > .row .col-l-left-7 {
    left: -35%;
  }
  .container > .row .col-l-8 {
    width: 40%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-l-8 {
    width: 40%;
    float: left;
    position: relative;
  }
  .container > .row .col-l-offect-8 {
    margin-left: 40%;
  }
  .container > .row .col-l-right-8 {
    left: 40%;
  }
  .container > .row .col-l-left-8 {
    left: -40%;
  }
  .container > .row .col-l-9 {
    width: 45%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-l-9 {
    width: 45%;
    float: left;
    position: relative;
  }
  .container > .row .col-l-offect-9 {
    margin-left: 45%;
  }
  .container > .row .col-l-right-9 {
    left: 45%;
  }
  .container > .row .col-l-left-9 {
    left: -45%;
  }
  .container > .row .col-l-10 {
    width: 50%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-l-10 {
    width: 50%;
    float: left;
    position: relative;
  }
  .container > .row .col-l-offect-10 {
    margin-left: 50%;
  }
  .container > .row .col-l-right-10 {
    left: 50%;
  }
  .container > .row .col-l-left-10 {
    left: -50%;
  }
  .container > .row .col-l-11 {
    width: 55%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-l-11 {
    width: 55%;
    float: left;
    position: relative;
  }
  .container > .row .col-l-offect-11 {
    margin-left: 55%;
  }
  .container > .row .col-l-right-11 {
    left: 55%;
  }
  .container > .row .col-l-left-11 {
    left: -55%;
  }
  .container > .row .col-l-12 {
    width: 60%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-l-12 {
    width: 60%;
    float: left;
    position: relative;
  }
  .container > .row .col-l-offect-12 {
    margin-left: 60%;
  }
  .container > .row .col-l-right-12 {
    left: 60%;
  }
  .container > .row .col-l-left-12 {
    left: -60%;
  }
  .container > .row .col-l-13 {
    width: 65%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-l-13 {
    width: 65%;
    float: left;
    position: relative;
  }
  .container > .row .col-l-offect-13 {
    margin-left: 65%;
  }
  .container > .row .col-l-right-13 {
    left: 65%;
  }
  .container > .row .col-l-left-13 {
    left: -65%;
  }
  .container > .row .col-l-14 {
    width: 70%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-l-14 {
    width: 70%;
    float: left;
    position: relative;
  }
  .container > .row .col-l-offect-14 {
    margin-left: 70%;
  }
  .container > .row .col-l-right-14 {
    left: 70%;
  }
  .container > .row .col-l-left-14 {
    left: -70%;
  }
  .container > .row .col-l-15 {
    width: 75%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-l-15 {
    width: 75%;
    float: left;
    position: relative;
  }
  .container > .row .col-l-offect-15 {
    margin-left: 75%;
  }
  .container > .row .col-l-right-15 {
    left: 75%;
  }
  .container > .row .col-l-left-15 {
    left: -75%;
  }
  .container > .row .col-l-16 {
    width: 80%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-l-16 {
    width: 80%;
    float: left;
    position: relative;
  }
  .container > .row .col-l-offect-16 {
    margin-left: 80%;
  }
  .container > .row .col-l-right-16 {
    left: 80%;
  }
  .container > .row .col-l-left-16 {
    left: -80%;
  }
  .container > .row .col-l-17 {
    width: 85%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-l-17 {
    width: 85%;
    float: left;
    position: relative;
  }
  .container > .row .col-l-offect-17 {
    margin-left: 85%;
  }
  .container > .row .col-l-right-17 {
    left: 85%;
  }
  .container > .row .col-l-left-17 {
    left: -85%;
  }
  .container > .row .col-l-18 {
    width: 90%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-l-18 {
    width: 90%;
    float: left;
    position: relative;
  }
  .container > .row .col-l-offect-18 {
    margin-left: 90%;
  }
  .container > .row .col-l-right-18 {
    left: 90%;
  }
  .container > .row .col-l-left-18 {
    left: -90%;
  }
  .container > .row .col-l-19 {
    width: 95%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-l-19 {
    width: 95%;
    float: left;
    position: relative;
  }
  .container > .row .col-l-offect-19 {
    margin-left: 95%;
  }
  .container > .row .col-l-right-19 {
    left: 95%;
  }
  .container > .row .col-l-left-19 {
    left: -95%;
  }
  .container > .row .col-l-20 {
    width: 100%;
    float: left;
    position: relative;
  }
  .container-fuild > .row .col-l-20 {
    width: 100%;
    float: left;
    position: relative;
  }
  .container > .row .col-l-offect-20 {
    margin-left: 100%;
  }
  .container > .row .col-l-right-20 {
    left: 100%;
  }
  .container > .row .col-l-left-20 {
    left: -100%;
  }
  .col-s-hide {
    display: block;
  }
  .col-m-hide {
    display: block;
  }
  .col-l-hide {
    display: none;
  }
}
.header {
  width: 100%;
  height: 44px;
  background: #303030;
}
.header .container .row div {
  height: 44px;
  line-height: 44px;
  text-align: center;
}
.header .container .row div a {
  font-size: 16px;
  color: #fff;
}
.header .container .row div a:hover {
  color: #999;
}
.banner {
  width: 100%;
  height: 550px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.banner .banner-1 {
  width: 100%;
  height: 550px;
  background-image: url("../img/iphone_alt_large.jpg");
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #0A0A0A;
  position: absolute;
  left: 0;
  top: 0;
  float: left;
}
.banner .banner-3 {
  width: 100%;
  height: 550px;
  background-image: url("../img/macbookpro_large.jpg");
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  position: absolute;
  left: 100%;
  top: 0;
  float: left;
}
.banner .banner-2 {
  width: 100%;
  height: 550px;
  background-image: url("../img/watch_alt_large.jpg");
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #F3F3F3;
  position: absolute;
  left: 100%;
  top: 0;
  float: left;
}
.content {
  border: 2px solid #fff;
  width: 100%;
  overflow: hidden;
  margin: auto;
}
.border {
  border: 2px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
}
.border > a > img {
  width: 100%;
}
.footer {
  width: 980px;
  margin: auto;
}
.footerzi div a {
  font-size: 12px;
  color: #333;
}
.footerzi div a:hover {
  text-decoration: underline;
}
.footerzi .h6 {
  margin-top: 20px;
}
.floot {
  width: 980px;
  margin: auto;
  padding-top: 20px;
}
.line {
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 10px;
}
.margintop {
  margin-top: 10px;
  padding-bottom: 30px;
}
.footzi {
  float: left;
  text-align: center;
  font-size: 12px;
  color: #333;
  padding-left: 15px;
  padding-right: 15px;
}
.footzi a {
  color: blue;
}
.footzi a:hover {
  text-decoration: underline;
}
.leftb {
  border-right: 1px solid #ccc;
}
