* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  margin: auto;
}
.container-fluid {
  width: 100%;
  margin: auto;
}
.container-fluid:before,
.container-fluid:after {
  content: "";
  display: none;
  clear: both;
}
.container-fluid .row {
  width: 100%;
}
.container-fluid .row:before,
.container-fluid .row:after {
  content: "";
  display: none;
  clear: both;
}
.container:before,
.container:after {
  content: "";
  display: none;
  clear: both;
}
.container .row {
  width: 100%;
}
.container .row:before,
.container .row:after {
  content: "";
  display: none;
  clear: both;
}
/*小屏*/
/*固定*/
.container .row .col-s-1 {
  width: 8.33333333%;
  float: left;
  position: relative;
}
.container .row .col-s-offset-1 {
  margin-left: 8.33333333%;
}
.container .row .col-s-push-1 {
  left: 8.33333333%;
}
.container .row .col-s-pull-1 {
  left: -8.33333333%;
}
/*流式*/
.container-fluid .row .col-s-1 {
  width: 8.33333333%;
  float: left;
  position: relative;
}
.container-fluid .row .col-s-offset-1 {
  margin-left: 8.33333333%;
}
.container-fluid .row .col-s-push-1 {
  left: 8.33333333%;
}
.container-fluid .row .col-s-pull-1 {
  left: -8.33333333%;
}
/*固定*/
.container .row .col-s-2 {
  width: 16.66666667%;
  float: left;
  position: relative;
}
.container .row .col-s-offset-2 {
  margin-left: 16.66666667%;
}
.container .row .col-s-push-2 {
  left: 16.66666667%;
}
.container .row .col-s-pull-2 {
  left: -16.66666667%;
}
/*流式*/
.container-fluid .row .col-s-2 {
  width: 16.66666667%;
  float: left;
  position: relative;
}
.container-fluid .row .col-s-offset-2 {
  margin-left: 16.66666667%;
}
.container-fluid .row .col-s-push-2 {
  left: 16.66666667%;
}
.container-fluid .row .col-s-pull-2 {
  left: -16.66666667%;
}
/*固定*/
.container .row .col-s-3 {
  width: 25%;
  float: left;
  position: relative;
}
.container .row .col-s-offset-3 {
  margin-left: 25%;
}
.container .row .col-s-push-3 {
  left: 25%;
}
.container .row .col-s-pull-3 {
  left: -25%;
}
/*流式*/
.container-fluid .row .col-s-3 {
  width: 25%;
  float: left;
  position: relative;
}
.container-fluid .row .col-s-offset-3 {
  margin-left: 25%;
}
.container-fluid .row .col-s-push-3 {
  left: 25%;
}
.container-fluid .row .col-s-pull-3 {
  left: -25%;
}
/*固定*/
.container .row .col-s-4 {
  width: 33.33333333%;
  float: left;
  position: relative;
}
.container .row .col-s-offset-4 {
  margin-left: 33.33333333%;
}
.container .row .col-s-push-4 {
  left: 33.33333333%;
}
.container .row .col-s-pull-4 {
  left: -33.33333333%;
}
/*流式*/
.container-fluid .row .col-s-4 {
  width: 33.33333333%;
  float: left;
  position: relative;
}
.container-fluid .row .col-s-offset-4 {
  margin-left: 33.33333333%;
}
.container-fluid .row .col-s-push-4 {
  left: 33.33333333%;
}
.container-fluid .row .col-s-pull-4 {
  left: -33.33333333%;
}
/*固定*/
.container .row .col-s-5 {
  width: 41.66666667%;
  float: left;
  position: relative;
}
.container .row .col-s-offset-5 {
  margin-left: 41.66666667%;
}
.container .row .col-s-push-5 {
  left: 41.66666667%;
}
.container .row .col-s-pull-5 {
  left: -41.66666667%;
}
/*流式*/
.container-fluid .row .col-s-5 {
  width: 41.66666667%;
  float: left;
  position: relative;
}
.container-fluid .row .col-s-offset-5 {
  margin-left: 41.66666667%;
}
.container-fluid .row .col-s-push-5 {
  left: 41.66666667%;
}
.container-fluid .row .col-s-pull-5 {
  left: -41.66666667%;
}
/*固定*/
.container .row .col-s-6 {
  width: 50%;
  float: left;
  position: relative;
}
.container .row .col-s-offset-6 {
  margin-left: 50%;
}
.container .row .col-s-push-6 {
  left: 50%;
}
.container .row .col-s-pull-6 {
  left: -50%;
}
/*流式*/
.container-fluid .row .col-s-6 {
  width: 50%;
  float: left;
  position: relative;
}
.container-fluid .row .col-s-offset-6 {
  margin-left: 50%;
}
.container-fluid .row .col-s-push-6 {
  left: 50%;
}
.container-fluid .row .col-s-pull-6 {
  left: -50%;
}
/*固定*/
.container .row .col-s-7 {
  width: 58.33333333%;
  float: left;
  position: relative;
}
.container .row .col-s-offset-7 {
  margin-left: 58.33333333%;
}
.container .row .col-s-push-7 {
  left: 58.33333333%;
}
.container .row .col-s-pull-7 {
  left: -58.33333333%;
}
/*流式*/
.container-fluid .row .col-s-7 {
  width: 58.33333333%;
  float: left;
  position: relative;
}
.container-fluid .row .col-s-offset-7 {
  margin-left: 58.33333333%;
}
.container-fluid .row .col-s-push-7 {
  left: 58.33333333%;
}
.container-fluid .row .col-s-pull-7 {
  left: -58.33333333%;
}
/*固定*/
.container .row .col-s-8 {
  width: 66.66666667%;
  float: left;
  position: relative;
}
.container .row .col-s-offset-8 {
  margin-left: 66.66666667%;
}
.container .row .col-s-push-8 {
  left: 66.66666667%;
}
.container .row .col-s-pull-8 {
  left: -66.66666667%;
}
/*流式*/
.container-fluid .row .col-s-8 {
  width: 66.66666667%;
  float: left;
  position: relative;
}
.container-fluid .row .col-s-offset-8 {
  margin-left: 66.66666667%;
}
.container-fluid .row .col-s-push-8 {
  left: 66.66666667%;
}
.container-fluid .row .col-s-pull-8 {
  left: -66.66666667%;
}
/*固定*/
.container .row .col-s-9 {
  width: 75%;
  float: left;
  position: relative;
}
.container .row .col-s-offset-9 {
  margin-left: 75%;
}
.container .row .col-s-push-9 {
  left: 75%;
}
.container .row .col-s-pull-9 {
  left: -75%;
}
/*流式*/
.container-fluid .row .col-s-9 {
  width: 75%;
  float: left;
  position: relative;
}
.container-fluid .row .col-s-offset-9 {
  margin-left: 75%;
}
.container-fluid .row .col-s-push-9 {
  left: 75%;
}
.container-fluid .row .col-s-pull-9 {
  left: -75%;
}
/*固定*/
.container .row .col-s-10 {
  width: 83.33333333%;
  float: left;
  position: relative;
}
.container .row .col-s-offset-10 {
  margin-left: 83.33333333%;
}
.container .row .col-s-push-10 {
  left: 83.33333333%;
}
.container .row .col-s-pull-10 {
  left: -83.33333333%;
}
/*流式*/
.container-fluid .row .col-s-10 {
  width: 83.33333333%;
  float: left;
  position: relative;
}
.container-fluid .row .col-s-offset-10 {
  margin-left: 83.33333333%;
}
.container-fluid .row .col-s-push-10 {
  left: 83.33333333%;
}
.container-fluid .row .col-s-pull-10 {
  left: -83.33333333%;
}
/*固定*/
.container .row .col-s-11 {
  width: 91.66666667%;
  float: left;
  position: relative;
}
.container .row .col-s-offset-11 {
  margin-left: 91.66666667%;
}
.container .row .col-s-push-11 {
  left: 91.66666667%;
}
.container .row .col-s-pull-11 {
  left: -91.66666667%;
}
/*流式*/
.container-fluid .row .col-s-11 {
  width: 91.66666667%;
  float: left;
  position: relative;
}
.container-fluid .row .col-s-offset-11 {
  margin-left: 91.66666667%;
}
.container-fluid .row .col-s-push-11 {
  left: 91.66666667%;
}
.container-fluid .row .col-s-pull-11 {
  left: -91.66666667%;
}
/*固定*/
.container .row .col-s-12 {
  width: 100%;
  float: left;
  position: relative;
}
.container .row .col-s-offset-12 {
  margin-left: 100%;
}
.container .row .col-s-push-12 {
  left: 100%;
}
.container .row .col-s-pull-12 {
  left: -100%;
}
/*流式*/
.container-fluid .row .col-s-12 {
  width: 100%;
  float: left;
  position: relative;
}
.container-fluid .row .col-s-offset-12 {
  margin-left: 100%;
}
.container-fluid .row .col-s-push-12 {
  left: 100%;
}
.container-fluid .row .col-s-pull-12 {
  left: -100%;
}
.col-m-hide {
  display: block;
}
.col-s-hide {
  display: none;
}
.col-l-hide {
  display: block;
}
/*中屏*/
@media screen and (min-width: 730px) {
  .container {
    width: 100%;
  }
  /*固定*/
  .container .row .col-m-1 {
    width: 8.33333333%;
    float: left;
    position: relative;
  }
  .container .row .col-m-offset-1 {
    margin-left: 8.33333333%;
  }
  .container .row .col-m-push-1 {
    left: 8.33333333%;
  }
  .container .row .col-m-pull-1 {
    left: -8.33333333%;
  }
  /*流式*/
  .container-fluid .row .col-m-1 {
    width: 8.33333333%;
    float: left;
    position: relative;
  }
  .container-fluid .row .col-m-offset-1 {
    margin-left: 8.33333333%;
  }
  .container-fluid .row .col-m-push-1 {
    left: 8.33333333%;
  }
  .container-fluid .row .col-m-pull-1 {
    left: -8.33333333%;
  }
  /*固定*/
  .container .row .col-m-2 {
    width: 16.66666667%;
    float: left;
    position: relative;
  }
  .container .row .col-m-offset-2 {
    margin-left: 16.66666667%;
  }
  .container .row .col-m-push-2 {
    left: 16.66666667%;
  }
  .container .row .col-m-pull-2 {
    left: -16.66666667%;
  }
  /*流式*/
  .container-fluid .row .col-m-2 {
    width: 16.66666667%;
    float: left;
    position: relative;
  }
  .container-fluid .row .col-m-offset-2 {
    margin-left: 16.66666667%;
  }
  .container-fluid .row .col-m-push-2 {
    left: 16.66666667%;
  }
  .container-fluid .row .col-m-pull-2 {
    left: -16.66666667%;
  }
  /*固定*/
  .container .row .col-m-3 {
    width: 25%;
    float: left;
    position: relative;
  }
  .container .row .col-m-offset-3 {
    margin-left: 25%;
  }
  .container .row .col-m-push-3 {
    left: 25%;
  }
  .container .row .col-m-pull-3 {
    left: -25%;
  }
  /*流式*/
  .container-fluid .row .col-m-3 {
    width: 25%;
    float: left;
    position: relative;
  }
  .container-fluid .row .col-m-offset-3 {
    margin-left: 25%;
  }
  .container-fluid .row .col-m-push-3 {
    left: 25%;
  }
  .container-fluid .row .col-m-pull-3 {
    left: -25%;
  }
  /*固定*/
  .container .row .col-m-4 {
    width: 33.33333333%;
    float: left;
    position: relative;
  }
  .container .row .col-m-offset-4 {
    margin-left: 33.33333333%;
  }
  .container .row .col-m-push-4 {
    left: 33.33333333%;
  }
  .container .row .col-m-pull-4 {
    left: -33.33333333%;
  }
  /*流式*/
  .container-fluid .row .col-m-4 {
    width: 33.33333333%;
    float: left;
    position: relative;
  }
  .container-fluid .row .col-m-offset-4 {
    margin-left: 33.33333333%;
  }
  .container-fluid .row .col-m-push-4 {
    left: 33.33333333%;
  }
  .container-fluid .row .col-m-pull-4 {
    left: -33.33333333%;
  }
  /*固定*/
  .container .row .col-m-5 {
    width: 41.66666667%;
    float: left;
    position: relative;
  }
  .container .row .col-m-offset-5 {
    margin-left: 41.66666667%;
  }
  .container .row .col-m-push-5 {
    left: 41.66666667%;
  }
  .container .row .col-m-pull-5 {
    left: -41.66666667%;
  }
  /*流式*/
  .container-fluid .row .col-m-5 {
    width: 41.66666667%;
    float: left;
    position: relative;
  }
  .container-fluid .row .col-m-offset-5 {
    margin-left: 41.66666667%;
  }
  .container-fluid .row .col-m-push-5 {
    left: 41.66666667%;
  }
  .container-fluid .row .col-m-pull-5 {
    left: -41.66666667%;
  }
  /*固定*/
  .container .row .col-m-6 {
    width: 50%;
    float: left;
    position: relative;
  }
  .container .row .col-m-offset-6 {
    margin-left: 50%;
  }
  .container .row .col-m-push-6 {
    left: 50%;
  }
  .container .row .col-m-pull-6 {
    left: -50%;
  }
  /*流式*/
  .container-fluid .row .col-m-6 {
    width: 50%;
    float: left;
    position: relative;
  }
  .container-fluid .row .col-m-offset-6 {
    margin-left: 50%;
  }
  .container-fluid .row .col-m-push-6 {
    left: 50%;
  }
  .container-fluid .row .col-m-pull-6 {
    left: -50%;
  }
  /*固定*/
  .container .row .col-m-7 {
    width: 58.33333333%;
    float: left;
    position: relative;
  }
  .container .row .col-m-offset-7 {
    margin-left: 58.33333333%;
  }
  .container .row .col-m-push-7 {
    left: 58.33333333%;
  }
  .container .row .col-m-pull-7 {
    left: -58.33333333%;
  }
  /*流式*/
  .container-fluid .row .col-m-7 {
    width: 58.33333333%;
    float: left;
    position: relative;
  }
  .container-fluid .row .col-m-offset-7 {
    margin-left: 58.33333333%;
  }
  .container-fluid .row .col-m-push-7 {
    left: 58.33333333%;
  }
  .container-fluid .row .col-m-pull-7 {
    left: -58.33333333%;
  }
  /*固定*/
  .container .row .col-m-8 {
    width: 66.66666667%;
    float: left;
    position: relative;
  }
  .container .row .col-m-offset-8 {
    margin-left: 66.66666667%;
  }
  .container .row .col-m-push-8 {
    left: 66.66666667%;
  }
  .container .row .col-m-pull-8 {
    left: -66.66666667%;
  }
  /*流式*/
  .container-fluid .row .col-m-8 {
    width: 66.66666667%;
    float: left;
    position: relative;
  }
  .container-fluid .row .col-m-offset-8 {
    margin-left: 66.66666667%;
  }
  .container-fluid .row .col-m-push-8 {
    left: 66.66666667%;
  }
  .container-fluid .row .col-m-pull-8 {
    left: -66.66666667%;
  }
  /*固定*/
  .container .row .col-m-9 {
    width: 75%;
    float: left;
    position: relative;
  }
  .container .row .col-m-offset-9 {
    margin-left: 75%;
  }
  .container .row .col-m-push-9 {
    left: 75%;
  }
  .container .row .col-m-pull-9 {
    left: -75%;
  }
  /*流式*/
  .container-fluid .row .col-m-9 {
    width: 75%;
    float: left;
    position: relative;
  }
  .container-fluid .row .col-m-offset-9 {
    margin-left: 75%;
  }
  .container-fluid .row .col-m-push-9 {
    left: 75%;
  }
  .container-fluid .row .col-m-pull-9 {
    left: -75%;
  }
  /*固定*/
  .container .row .col-m-10 {
    width: 83.33333333%;
    float: left;
    position: relative;
  }
  .container .row .col-m-offset-10 {
    margin-left: 83.33333333%;
  }
  .container .row .col-m-push-10 {
    left: 83.33333333%;
  }
  .container .row .col-m-pull-10 {
    left: -83.33333333%;
  }
  /*流式*/
  .container-fluid .row .col-m-10 {
    width: 83.33333333%;
    float: left;
    position: relative;
  }
  .container-fluid .row .col-m-offset-10 {
    margin-left: 83.33333333%;
  }
  .container-fluid .row .col-m-push-10 {
    left: 83.33333333%;
  }
  .container-fluid .row .col-m-pull-10 {
    left: -83.33333333%;
  }
  /*固定*/
  .container .row .col-m-11 {
    width: 91.66666667%;
    float: left;
    position: relative;
  }
  .container .row .col-m-offset-11 {
    margin-left: 91.66666667%;
  }
  .container .row .col-m-push-11 {
    left: 91.66666667%;
  }
  .container .row .col-m-pull-11 {
    left: -91.66666667%;
  }
  /*流式*/
  .container-fluid .row .col-m-11 {
    width: 91.66666667%;
    float: left;
    position: relative;
  }
  .container-fluid .row .col-m-offset-11 {
    margin-left: 91.66666667%;
  }
  .container-fluid .row .col-m-push-11 {
    left: 91.66666667%;
  }
  .container-fluid .row .col-m-pull-11 {
    left: -91.66666667%;
  }
  /*固定*/
  .container .row .col-m-12 {
    width: 100%;
    float: left;
    position: relative;
  }
  .container .row .col-m-offset-12 {
    margin-left: 100%;
  }
  .container .row .col-m-push-12 {
    left: 100%;
  }
  .container .row .col-m-pull-12 {
    left: -100%;
  }
  /*流式*/
  .container-fluid .row .col-m-12 {
    width: 100%;
    float: left;
    position: relative;
  }
  .container-fluid .row .col-m-offset-12 {
    margin-left: 100%;
  }
  .container-fluid .row .col-m-push-12 {
    left: 100%;
  }
  .container-fluid .row .col-m-pull-12 {
    left: -100%;
  }
  .col-s-hide {
    display: block;
  }
  .col-m-hide {
    display: none;
  }
  .col-l-hide {
    display: block;
  }
}
/*大屏*/
@media screen and (min-width: 1100px) {
  .container {
    width: 100%;
  }
  /*固定*/
  .container .row .col-l-1 {
    width: 8.33333333%;
    float: left;
    position: relative;
  }
  .container .row .col-l-offset-1 {
    margin-left: 8.33333333%;
  }
  .container .row .col-l-push-1 {
    left: 8.33333333%;
  }
  .container .row .col-l-pull-1 {
    left: -8.33333333%;
  }
  /*流式*/
  .container-fluid .row .col-l-1 {
    width: 8.33333333%;
    float: left;
    position: relative;
  }
  .container-fluid .row .col-l-offset-1 {
    margin-left: 8.33333333%;
  }
  .container-fluid .row .col-l-push-1 {
    left: 8.33333333%;
  }
  .container-fluid .row .col-l-pull-1 {
    left: -8.33333333%;
  }
  /*固定*/
  .container .row .col-l-2 {
    width: 16.66666667%;
    float: left;
    position: relative;
  }
  .container .row .col-l-offset-2 {
    margin-left: 16.66666667%;
  }
  .container .row .col-l-push-2 {
    left: 16.66666667%;
  }
  .container .row .col-l-pull-2 {
    left: -16.66666667%;
  }
  /*流式*/
  .container-fluid .row .col-l-2 {
    width: 16.66666667%;
    float: left;
    position: relative;
  }
  .container-fluid .row .col-l-offset-2 {
    margin-left: 16.66666667%;
  }
  .container-fluid .row .col-l-push-2 {
    left: 16.66666667%;
  }
  .container-fluid .row .col-l-pull-2 {
    left: -16.66666667%;
  }
  /*固定*/
  .container .row .col-l-3 {
    width: 25%;
    float: left;
    position: relative;
  }
  .container .row .col-l-offset-3 {
    margin-left: 25%;
  }
  .container .row .col-l-push-3 {
    left: 25%;
  }
  .container .row .col-l-pull-3 {
    left: -25%;
  }
  /*流式*/
  .container-fluid .row .col-l-3 {
    width: 25%;
    float: left;
    position: relative;
  }
  .container-fluid .row .col-l-offset-3 {
    margin-left: 25%;
  }
  .container-fluid .row .col-l-push-3 {
    left: 25%;
  }
  .container-fluid .row .col-l-pull-3 {
    left: -25%;
  }
  /*固定*/
  .container .row .col-l-4 {
    width: 33.33333333%;
    float: left;
    position: relative;
  }
  .container .row .col-l-offset-4 {
    margin-left: 33.33333333%;
  }
  .container .row .col-l-push-4 {
    left: 33.33333333%;
  }
  .container .row .col-l-pull-4 {
    left: -33.33333333%;
  }
  /*流式*/
  .container-fluid .row .col-l-4 {
    width: 33.33333333%;
    float: left;
    position: relative;
  }
  .container-fluid .row .col-l-offset-4 {
    margin-left: 33.33333333%;
  }
  .container-fluid .row .col-l-push-4 {
    left: 33.33333333%;
  }
  .container-fluid .row .col-l-pull-4 {
    left: -33.33333333%;
  }
  /*固定*/
  .container .row .col-l-5 {
    width: 41.66666667%;
    float: left;
    position: relative;
  }
  .container .row .col-l-offset-5 {
    margin-left: 41.66666667%;
  }
  .container .row .col-l-push-5 {
    left: 41.66666667%;
  }
  .container .row .col-l-pull-5 {
    left: -41.66666667%;
  }
  /*流式*/
  .container-fluid .row .col-l-5 {
    width: 41.66666667%;
    float: left;
    position: relative;
  }
  .container-fluid .row .col-l-offset-5 {
    margin-left: 41.66666667%;
  }
  .container-fluid .row .col-l-push-5 {
    left: 41.66666667%;
  }
  .container-fluid .row .col-l-pull-5 {
    left: -41.66666667%;
  }
  /*固定*/
  .container .row .col-l-6 {
    width: 50%;
    float: left;
    position: relative;
  }
  .container .row .col-l-offset-6 {
    margin-left: 50%;
  }
  .container .row .col-l-push-6 {
    left: 50%;
  }
  .container .row .col-l-pull-6 {
    left: -50%;
  }
  /*流式*/
  .container-fluid .row .col-l-6 {
    width: 50%;
    float: left;
    position: relative;
  }
  .container-fluid .row .col-l-offset-6 {
    margin-left: 50%;
  }
  .container-fluid .row .col-l-push-6 {
    left: 50%;
  }
  .container-fluid .row .col-l-pull-6 {
    left: -50%;
  }
  /*固定*/
  .container .row .col-l-7 {
    width: 58.33333333%;
    float: left;
    position: relative;
  }
  .container .row .col-l-offset-7 {
    margin-left: 58.33333333%;
  }
  .container .row .col-l-push-7 {
    left: 58.33333333%;
  }
  .container .row .col-l-pull-7 {
    left: -58.33333333%;
  }
  /*流式*/
  .container-fluid .row .col-l-7 {
    width: 58.33333333%;
    float: left;
    position: relative;
  }
  .container-fluid .row .col-l-offset-7 {
    margin-left: 58.33333333%;
  }
  .container-fluid .row .col-l-push-7 {
    left: 58.33333333%;
  }
  .container-fluid .row .col-l-pull-7 {
    left: -58.33333333%;
  }
  /*固定*/
  .container .row .col-l-8 {
    width: 66.66666667%;
    float: left;
    position: relative;
  }
  .container .row .col-l-offset-8 {
    margin-left: 66.66666667%;
  }
  .container .row .col-l-push-8 {
    left: 66.66666667%;
  }
  .container .row .col-l-pull-8 {
    left: -66.66666667%;
  }
  /*流式*/
  .container-fluid .row .col-l-8 {
    width: 66.66666667%;
    float: left;
    position: relative;
  }
  .container-fluid .row .col-l-offset-8 {
    margin-left: 66.66666667%;
  }
  .container-fluid .row .col-l-push-8 {
    left: 66.66666667%;
  }
  .container-fluid .row .col-l-pull-8 {
    left: -66.66666667%;
  }
  /*固定*/
  .container .row .col-l-9 {
    width: 75%;
    float: left;
    position: relative;
  }
  .container .row .col-l-offset-9 {
    margin-left: 75%;
  }
  .container .row .col-l-push-9 {
    left: 75%;
  }
  .container .row .col-l-pull-9 {
    left: -75%;
  }
  /*流式*/
  .container-fluid .row .col-l-9 {
    width: 75%;
    float: left;
    position: relative;
  }
  .container-fluid .row .col-l-offset-9 {
    margin-left: 75%;
  }
  .container-fluid .row .col-l-push-9 {
    left: 75%;
  }
  .container-fluid .row .col-l-pull-9 {
    left: -75%;
  }
  /*固定*/
  .container .row .col-l-10 {
    width: 83.33333333%;
    float: left;
    position: relative;
  }
  .container .row .col-l-offset-10 {
    margin-left: 83.33333333%;
  }
  .container .row .col-l-push-10 {
    left: 83.33333333%;
  }
  .container .row .col-l-pull-10 {
    left: -83.33333333%;
  }
  /*流式*/
  .container-fluid .row .col-l-10 {
    width: 83.33333333%;
    float: left;
    position: relative;
  }
  .container-fluid .row .col-l-offset-10 {
    margin-left: 83.33333333%;
  }
  .container-fluid .row .col-l-push-10 {
    left: 83.33333333%;
  }
  .container-fluid .row .col-l-pull-10 {
    left: -83.33333333%;
  }
  /*固定*/
  .container .row .col-l-11 {
    width: 91.66666667%;
    float: left;
    position: relative;
  }
  .container .row .col-l-offset-11 {
    margin-left: 91.66666667%;
  }
  .container .row .col-l-push-11 {
    left: 91.66666667%;
  }
  .container .row .col-l-pull-11 {
    left: -91.66666667%;
  }
  /*流式*/
  .container-fluid .row .col-l-11 {
    width: 91.66666667%;
    float: left;
    position: relative;
  }
  .container-fluid .row .col-l-offset-11 {
    margin-left: 91.66666667%;
  }
  .container-fluid .row .col-l-push-11 {
    left: 91.66666667%;
  }
  .container-fluid .row .col-l-pull-11 {
    left: -91.66666667%;
  }
  /*固定*/
  .container .row .col-l-12 {
    width: 100%;
    float: left;
    position: relative;
  }
  .container .row .col-l-offset-12 {
    margin-left: 100%;
  }
  .container .row .col-l-push-12 {
    left: 100%;
  }
  .container .row .col-l-pull-12 {
    left: -100%;
  }
  /*流式*/
  .container-fluid .row .col-l-12 {
    width: 100%;
    float: left;
    position: relative;
  }
  .container-fluid .row .col-l-offset-12 {
    margin-left: 100%;
  }
  .container-fluid .row .col-l-push-12 {
    left: 100%;
  }
  .container-fluid .row .col-l-pull-12 {
    left: -100%;
  }
  .col-s-hide {
    display: block;
  }
  .col-m-hide {
    display: block;
  }
  .col-l-hide {
    display: none;
  }
}
/*******************************************************/
/*header*/
.adv {
  width: 100%;
  height: 40px;
  background: #444444;
}
.nav {
  width: 100%;
  height: 44px;
  background: #303030;
}
.navCon li {
  font-size: 10px;
  font-family: inherit;
  font-weight: inherit;
  height: 44px;
  line-height: 44px;
  float: left;
}
.navCon:before,
.navCon:after {
  content: "";
  clear: both;
  display: block;
}
.navCon li a {
  color: #ffffff;
}
.navCon li a:hover {
  color: #7D7D7D;
}
.iconfont {
  color: #fff;
  font-size: 25px;
}
.iconfont:hover {
  color: #7D7D7D;
}
/*小屏*/
.navCon:nth-child(1) {
  display: none;
}
.navCon:nth-child(2) {
  width: 100%;
  height: 44px;
  display: block;
}
.navCon:nth-child(2) li {
  width: 33.333333%;
}
.navCon:nth-child(2) li:nth-child(1) {
  text-align: left;
}
.navCon:nth-child(2) li:nth-child(2) {
  text-align: center;
}
.navCon:nth-child(2) li:nth-child(3) {
  text-align: right;
}
/*中屏*/
@media screen and (min-width: 750px) {
  .navCon:nth-child(1) {
    display: block;
    width: 100%;
    height: 44px;
    color: #fff;
  }
  .navCon:nth-child(1) li {
    text-align: center;
    width: 10%;
  }
  .navCon:nth-child(2) {
    display: none;
  }
}
/*大屏*/
@media screen and (min-width: 1000px) {
  .navCon:nth-child(1) {
    text-align: center;
    margin: 0 auto;
    width: 1000px;
  }
}
/*banner*/
.banner {
  width: 100%;
  height: 600px;
  background: #0A0A0A;
  background-image: url(../img/iphone_alt_large.jpg);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
/*banner下*/
.bannerxia {
  width: 100%;
  height: 200px;
}
/*大屏*/
.col-l-3:nth-child(1) {
  height: 200px;
  background-image: url(../img/accessories_large.jpg);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.col-l-3:nth-child(2) {
  height: 200px;
  background-image: url(../img/airpods_large.jpg);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.col-l-3:nth-child(3) {
  height: 200px;
  background-image: url(../img/ipad_pro_large.jpg);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.col-l-3:nth-child(4) {
  height: 200px;
  background-image: url(../img/iphone_upgrade_large.jpg);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
/*中屏*/
.col-m-6:nth-child(1) {
  height: 200px;
  background-image: url(../img/accessories_medium.jpg);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.col-m-6:nth-child(2) {
  height: 200px;
  background-image: url(../img/airpods_medium.jpg);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.col-m-6:nth-child(3) {
  height: 200px;
  background-image: url(../img/ipad_pro_medium.jpg);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.col-m-6:nth-child(4) {
  height: 200px;
  background-image: url(../img/iphone_upgrade_medium.jpg);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
/*小屏*/
.col-s-12:nth-child(1) {
  height: 200px;
  background-image: url(../img/accessories_small.jpg);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.col-s-12:nth-child(2) {
  height: 200px;
  background-image: url(../img/airpods_small.jpg);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.col-s-12:nth-child(3) {
  height: 200px;
  background-image: url(../img/ipad_pro_small.jpg);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.col-s-12:nth-child(4) {
  height: 200px;
  background-image: url(../img/iphone_upgrade_small.jpg);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
/*footer*/
.word .words > .xiaoping {
  display: block;
}
.word .words > .dazhong1 {
  display: none;
}
@media screen and (min-width: 750px) {
  .word {
    height: 300px;
    width: 100%;
    background: #F2F2F2;
  }
  .word a {
    color: #555577;
  }
  .word .words {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
  }
  .word .words > .wordstop {
    width: 100%;
    font-size: 10px;
    padding-top: 17px;
    padding-bottom: 11px;
    margin: 0 auto;
    color: #888888;
  }
  .word .words > .dazhong1 {
    border-top: 1px solid #d6d6d6;
    padding-top: 10px;
    display: block;
  }
  .word .words > .dazhong1 > li {
    width: 20%;
    height: auto;
    float: left;
  }
  .word .words > .dazhong1 > li > a {
    display: block;
    font-size: 12px;
    margin-top: 5px;
  }
  .word .words > .dazhong1 > li > h4 ~ h4 {
    margin-top: 15px;
  }
  .word .words > .xiaoping {
    display: none;
  }
}
.bottom {
  width: 100%;
  background: #F2F2F2;
  height: 200px;
  margin: 0 auto;
  color: #888888;
  font-size: 12px;
}
.bottom > .wenzi {
  width: 980px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #D6D6D6;
}
.bottom > .wenzi > a {
  color: blue;
}
.bottom > .wenzi > a:hover {
  text-decoration: underline;
}
.bottom > .box {
  width: 980px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 10px;
}
.bottom > .box > .boxright {
  float: right;
}
.bottom > .box > .boxleft {
  float: left;
}
.bottom > .box > .boxzhong {
  float: left;
  margin-left: 30px;
  color: #555555;
}
.bottom.box > .boxzhong:hover {
  text-decoration: underline;
}
.bottom > .boxunder {
  width: 980px;
  height: auto;
  margin: 0 auto;
}
.bottom > .boxunder:hover {
  text-decoration: underline;
}
