body,ul,li,dl,dd,dt{
    margin: 0;
    padding: 0;
    color: #888;
    font-family: 微软雅黑;
    list-style: none;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.topbox{
    width: 100%;
    height: 40px;
    background: #444444;
}
/*nav*/
.navbox{
    height: 44px;
    width: 100%;
    background:#333333;
}
.nav{
    height:100%;
}
.navcenter{
    text-align: center;
}
.navcenter>div{
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: all .5s;
    text-align: center;
    line-height: 44px;
}
.navcenter .icon{
    font-size: 20px;
}
.navcenter>div:hover{
    color: #ccc;
}
.fu{
    position: relative;
}
.son{
    position: absolute;
    height:0;
    transition: all .5s;
    width: 300%;
    top: -40px;
    left: 0;
    overflow: hidden;
    background: #000;
}
.sont{
    width: 100%;
    font-size: 24px;
    position: relative;
}
.close{
    position: absolute;
    left:10px;
    top:10px;
}
.biaoti{
    width: 80%;
    margin: 20px 10%;
}
.biaoti>li{
    height: 44px;
    text-align: left;
    font-size: 16px;
    color: #fff;
    transition: all .5s;
    border-bottom: 1px solid #333;
}
.biaoti>li:hover{
    color: #ccc;
}
/*nav end*/
/*banner*/
.bannerbox{
    height: 650px;
    overflow: hidden;
    width: 100%;
}
/*banner end*/
.tiansheng>div{
    height:200px;
    background-position: center center;
}
/*联系我们*/
.footerbox{
    width: 100%;
    background: #F2F2F2;
}
.footerbox>p{
    width: 90%;
    margin: auto;
    line-height: 50px;
    font-size: 11px;
    border-bottom: 1px solid #ccc;
}
.footer{
    font-size: 12px;
    overflow: hidden;
    padding: 10px 0;
}
.footer div{
    float: left;
}
ul>li{
    line-height: 24px;
    cursor: pointer;
}
ul>li:hover{
    text-decoration: underline;
}
ul>li:nth-child(1){
    font-weight: 700;
}
.copy{
    font-size: 12px;
    width: 90%;
    margin:10px auto;
}
.copy>a{
    padding: 5px 10px;
    color: #888;
    text-decoration: underline;
    border-right: 1px solid #ccc;
}
/*联系我们 end*/