.box {
  width: 100%;
  margin: auto;
}
.box:before,
.box :after {
  clear: both;
  display: block;
  content: "";
}
.box > .row,
.box -liushi,
.box -liushi > .row {
  width: 100%;
  margin: auto;
}
.box > .row:before,
.box -liushi:before,
.box -liushi > .row:before,
.box > .row :after,
.box -liushi :after,
.box -liushi > .row :after {
  clear: both;
  display: block;
  content: "";
}
.col-s-hidden,
.col-m-hidden {
  display: none;
}
.col-l-hidden {
  display: block;
}
.col-s-24 > ul > li:nth-child(1) {
  height: 40px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 20px;
  border-bottom: 1px solid #ccc;
}
.box > .row > .col-s-1 {
  width: 4.16666667%;
  float: left;
}
.box-liushi > .row > .col-s-1 {
  width: 4.16666667%;
  float: left;
}
.col-r-s-1 {
  position: relative;
  left: 4.16666667%;
}
.col-l-s-1 {
  position: relative;
  left: -4.16666667%;
}
.col-off-s-1 {
  margin-left: 4.16666667%;
}
.box > .row > .col-s-2 {
  width: 8.33333333%;
  float: left;
}
.box-liushi > .row > .col-s-2 {
  width: 8.33333333%;
  float: left;
}
.col-r-s-2 {
  position: relative;
  left: 8.33333333%;
}
.col-l-s-2 {
  position: relative;
  left: -8.33333333%;
}
.col-off-s-2 {
  margin-left: 8.33333333%;
}
.box > .row > .col-s-3 {
  width: 12.5%;
  float: left;
}
.box-liushi > .row > .col-s-3 {
  width: 12.5%;
  float: left;
}
.col-r-s-3 {
  position: relative;
  left: 12.5%;
}
.col-l-s-3 {
  position: relative;
  left: -12.5%;
}
.col-off-s-3 {
  margin-left: 12.5%;
}
.box > .row > .col-s-4 {
  width: 16.66666667%;
  float: left;
}
.box-liushi > .row > .col-s-4 {
  width: 16.66666667%;
  float: left;
}
.col-r-s-4 {
  position: relative;
  left: 16.66666667%;
}
.col-l-s-4 {
  position: relative;
  left: -16.66666667%;
}
.col-off-s-4 {
  margin-left: 16.66666667%;
}
.box > .row > .col-s-5 {
  width: 20.83333333%;
  float: left;
}
.box-liushi > .row > .col-s-5 {
  width: 20.83333333%;
  float: left;
}
.col-r-s-5 {
  position: relative;
  left: 20.83333333%;
}
.col-l-s-5 {
  position: relative;
  left: -20.83333333%;
}
.col-off-s-5 {
  margin-left: 20.83333333%;
}
.box > .row > .col-s-6 {
  width: 25%;
  float: left;
}
.box-liushi > .row > .col-s-6 {
  width: 25%;
  float: left;
}
.col-r-s-6 {
  position: relative;
  left: 25%;
}
.col-l-s-6 {
  position: relative;
  left: -25%;
}
.col-off-s-6 {
  margin-left: 25%;
}
.box > .row > .col-s-7 {
  width: 29.16666667%;
  float: left;
}
.box-liushi > .row > .col-s-7 {
  width: 29.16666667%;
  float: left;
}
.col-r-s-7 {
  position: relative;
  left: 29.16666667%;
}
.col-l-s-7 {
  position: relative;
  left: -29.16666667%;
}
.col-off-s-7 {
  margin-left: 29.16666667%;
}
.box > .row > .col-s-8 {
  width: 33.33333333%;
  float: left;
}
.box-liushi > .row > .col-s-8 {
  width: 33.33333333%;
  float: left;
}
.col-r-s-8 {
  position: relative;
  left: 33.33333333%;
}
.col-l-s-8 {
  position: relative;
  left: -33.33333333%;
}
.col-off-s-8 {
  margin-left: 33.33333333%;
}
.box > .row > .col-s-9 {
  width: 37.5%;
  float: left;
}
.box-liushi > .row > .col-s-9 {
  width: 37.5%;
  float: left;
}
.col-r-s-9 {
  position: relative;
  left: 37.5%;
}
.col-l-s-9 {
  position: relative;
  left: -37.5%;
}
.col-off-s-9 {
  margin-left: 37.5%;
}
.box > .row > .col-s-10 {
  width: 41.66666667%;
  float: left;
}
.box-liushi > .row > .col-s-10 {
  width: 41.66666667%;
  float: left;
}
.col-r-s-10 {
  position: relative;
  left: 41.66666667%;
}
.col-l-s-10 {
  position: relative;
  left: -41.66666667%;
}
.col-off-s-10 {
  margin-left: 41.66666667%;
}
.box > .row > .col-s-11 {
  width: 45.83333333%;
  float: left;
}
.box-liushi > .row > .col-s-11 {
  width: 45.83333333%;
  float: left;
}
.col-r-s-11 {
  position: relative;
  left: 45.83333333%;
}
.col-l-s-11 {
  position: relative;
  left: -45.83333333%;
}
.col-off-s-11 {
  margin-left: 45.83333333%;
}
.box > .row > .col-s-12 {
  width: 50%;
  float: left;
}
.box-liushi > .row > .col-s-12 {
  width: 50%;
  float: left;
}
.col-r-s-12 {
  position: relative;
  left: 50%;
}
.col-l-s-12 {
  position: relative;
  left: -50%;
}
.col-off-s-12 {
  margin-left: 50%;
}
.box > .row > .col-s-13 {
  width: 54.16666667%;
  float: left;
}
.box-liushi > .row > .col-s-13 {
  width: 54.16666667%;
  float: left;
}
.col-r-s-13 {
  position: relative;
  left: 54.16666667%;
}
.col-l-s-13 {
  position: relative;
  left: -54.16666667%;
}
.col-off-s-13 {
  margin-left: 54.16666667%;
}
.box > .row > .col-s-14 {
  width: 58.33333333%;
  float: left;
}
.box-liushi > .row > .col-s-14 {
  width: 58.33333333%;
  float: left;
}
.col-r-s-14 {
  position: relative;
  left: 58.33333333%;
}
.col-l-s-14 {
  position: relative;
  left: -58.33333333%;
}
.col-off-s-14 {
  margin-left: 58.33333333%;
}
.box > .row > .col-s-15 {
  width: 62.5%;
  float: left;
}
.box-liushi > .row > .col-s-15 {
  width: 62.5%;
  float: left;
}
.col-r-s-15 {
  position: relative;
  left: 62.5%;
}
.col-l-s-15 {
  position: relative;
  left: -62.5%;
}
.col-off-s-15 {
  margin-left: 62.5%;
}
.box > .row > .col-s-16 {
  width: 66.66666667%;
  float: left;
}
.box-liushi > .row > .col-s-16 {
  width: 66.66666667%;
  float: left;
}
.col-r-s-16 {
  position: relative;
  left: 66.66666667%;
}
.col-l-s-16 {
  position: relative;
  left: -66.66666667%;
}
.col-off-s-16 {
  margin-left: 66.66666667%;
}
.box > .row > .col-s-17 {
  width: 70.83333333%;
  float: left;
}
.box-liushi > .row > .col-s-17 {
  width: 70.83333333%;
  float: left;
}
.col-r-s-17 {
  position: relative;
  left: 70.83333333%;
}
.col-l-s-17 {
  position: relative;
  left: -70.83333333%;
}
.col-off-s-17 {
  margin-left: 70.83333333%;
}
.box > .row > .col-s-18 {
  width: 75%;
  float: left;
}
.box-liushi > .row > .col-s-18 {
  width: 75%;
  float: left;
}
.col-r-s-18 {
  position: relative;
  left: 75%;
}
.col-l-s-18 {
  position: relative;
  left: -75%;
}
.col-off-s-18 {
  margin-left: 75%;
}
.box > .row > .col-s-19 {
  width: 79.16666667%;
  float: left;
}
.box-liushi > .row > .col-s-19 {
  width: 79.16666667%;
  float: left;
}
.col-r-s-19 {
  position: relative;
  left: 79.16666667%;
}
.col-l-s-19 {
  position: relative;
  left: -79.16666667%;
}
.col-off-s-19 {
  margin-left: 79.16666667%;
}
.box > .row > .col-s-20 {
  width: 83.33333333%;
  float: left;
}
.box-liushi > .row > .col-s-20 {
  width: 83.33333333%;
  float: left;
}
.col-r-s-20 {
  position: relative;
  left: 83.33333333%;
}
.col-l-s-20 {
  position: relative;
  left: -83.33333333%;
}
.col-off-s-20 {
  margin-left: 83.33333333%;
}
.box > .row > .col-s-21 {
  width: 87.5%;
  float: left;
}
.box-liushi > .row > .col-s-21 {
  width: 87.5%;
  float: left;
}
.col-r-s-21 {
  position: relative;
  left: 87.5%;
}
.col-l-s-21 {
  position: relative;
  left: -87.5%;
}
.col-off-s-21 {
  margin-left: 87.5%;
}
.box > .row > .col-s-22 {
  width: 91.66666667%;
  float: left;
}
.box-liushi > .row > .col-s-22 {
  width: 91.66666667%;
  float: left;
}
.col-r-s-22 {
  position: relative;
  left: 91.66666667%;
}
.col-l-s-22 {
  position: relative;
  left: -91.66666667%;
}
.col-off-s-22 {
  margin-left: 91.66666667%;
}
.box > .row > .col-s-23 {
  width: 95.83333333%;
  float: left;
}
.box-liushi > .row > .col-s-23 {
  width: 95.83333333%;
  float: left;
}
.col-r-s-23 {
  position: relative;
  left: 95.83333333%;
}
.col-l-s-23 {
  position: relative;
  left: -95.83333333%;
}
.col-off-s-23 {
  margin-left: 95.83333333%;
}
.box > .row > .col-s-24 {
  width: 100%;
  float: left;
}
.box-liushi > .row > .col-s-24 {
  width: 100%;
  float: left;
}
.col-r-s-24 {
  position: relative;
  left: 100%;
}
.col-l-s-24 {
  position: relative;
  left: -100%;
}
.col-off-s-24 {
  margin-left: 100%;
}
@media screen and (min-width: 640px) {
  .col-s-hidden {
    display: block;
  }
  .col-m-hidden,
  .col-l-hidden {
    display: none;
  }
  .col-s-24 > ul > li:nth-child(1) {
    height: 20px;
    line-height: 20px;
    font-weight: 700;
    margin: 0;
    border: 0;
  }
  .box > .row > .col-m-1 {
    width: 4.16666667%;
    float: left;
  }
  .box-liushi > .row > .col-m-1 {
    width: 4.16666667%;
    float: left;
  }
  .col-r-m-1 {
    position: relative;
    left: 4.16666667%;
  }
  .col-l-m-1 {
    position: relative;
    left: -4.16666667%;
  }
  .col-off-m-1 {
    margin-left: 4.16666667%;
  }
  .box > .row > .col-m-2 {
    width: 8.33333333%;
    float: left;
  }
  .box-liushi > .row > .col-m-2 {
    width: 8.33333333%;
    float: left;
  }
  .col-r-m-2 {
    position: relative;
    left: 8.33333333%;
  }
  .col-l-m-2 {
    position: relative;
    left: -8.33333333%;
  }
  .col-off-m-2 {
    margin-left: 8.33333333%;
  }
  .box > .row > .col-m-3 {
    width: 12.5%;
    float: left;
  }
  .box-liushi > .row > .col-m-3 {
    width: 12.5%;
    float: left;
  }
  .col-r-m-3 {
    position: relative;
    left: 12.5%;
  }
  .col-l-m-3 {
    position: relative;
    left: -12.5%;
  }
  .col-off-m-3 {
    margin-left: 12.5%;
  }
  .box > .row > .col-m-4 {
    width: 16.66666667%;
    float: left;
  }
  .box-liushi > .row > .col-m-4 {
    width: 16.66666667%;
    float: left;
  }
  .col-r-m-4 {
    position: relative;
    left: 16.66666667%;
  }
  .col-l-m-4 {
    position: relative;
    left: -16.66666667%;
  }
  .col-off-m-4 {
    margin-left: 16.66666667%;
  }
  .box > .row > .col-m-5 {
    width: 20.83333333%;
    float: left;
  }
  .box-liushi > .row > .col-m-5 {
    width: 20.83333333%;
    float: left;
  }
  .col-r-m-5 {
    position: relative;
    left: 20.83333333%;
  }
  .col-l-m-5 {
    position: relative;
    left: -20.83333333%;
  }
  .col-off-m-5 {
    margin-left: 20.83333333%;
  }
  .box > .row > .col-m-6 {
    width: 25%;
    float: left;
  }
  .box-liushi > .row > .col-m-6 {
    width: 25%;
    float: left;
  }
  .col-r-m-6 {
    position: relative;
    left: 25%;
  }
  .col-l-m-6 {
    position: relative;
    left: -25%;
  }
  .col-off-m-6 {
    margin-left: 25%;
  }
  .box > .row > .col-m-7 {
    width: 29.16666667%;
    float: left;
  }
  .box-liushi > .row > .col-m-7 {
    width: 29.16666667%;
    float: left;
  }
  .col-r-m-7 {
    position: relative;
    left: 29.16666667%;
  }
  .col-l-m-7 {
    position: relative;
    left: -29.16666667%;
  }
  .col-off-m-7 {
    margin-left: 29.16666667%;
  }
  .box > .row > .col-m-8 {
    width: 33.33333333%;
    float: left;
  }
  .box-liushi > .row > .col-m-8 {
    width: 33.33333333%;
    float: left;
  }
  .col-r-m-8 {
    position: relative;
    left: 33.33333333%;
  }
  .col-l-m-8 {
    position: relative;
    left: -33.33333333%;
  }
  .col-off-m-8 {
    margin-left: 33.33333333%;
  }
  .box > .row > .col-m-9 {
    width: 37.5%;
    float: left;
  }
  .box-liushi > .row > .col-m-9 {
    width: 37.5%;
    float: left;
  }
  .col-r-m-9 {
    position: relative;
    left: 37.5%;
  }
  .col-l-m-9 {
    position: relative;
    left: -37.5%;
  }
  .col-off-m-9 {
    margin-left: 37.5%;
  }
  .box > .row > .col-m-10 {
    width: 41.66666667%;
    float: left;
  }
  .box-liushi > .row > .col-m-10 {
    width: 41.66666667%;
    float: left;
  }
  .col-r-m-10 {
    position: relative;
    left: 41.66666667%;
  }
  .col-l-m-10 {
    position: relative;
    left: -41.66666667%;
  }
  .col-off-m-10 {
    margin-left: 41.66666667%;
  }
  .box > .row > .col-m-11 {
    width: 45.83333333%;
    float: left;
  }
  .box-liushi > .row > .col-m-11 {
    width: 45.83333333%;
    float: left;
  }
  .col-r-m-11 {
    position: relative;
    left: 45.83333333%;
  }
  .col-l-m-11 {
    position: relative;
    left: -45.83333333%;
  }
  .col-off-m-11 {
    margin-left: 45.83333333%;
  }
  .box > .row > .col-m-12 {
    width: 50%;
    float: left;
  }
  .box-liushi > .row > .col-m-12 {
    width: 50%;
    float: left;
  }
  .col-r-m-12 {
    position: relative;
    left: 50%;
  }
  .col-l-m-12 {
    position: relative;
    left: -50%;
  }
  .col-off-m-12 {
    margin-left: 50%;
  }
  .box > .row > .col-m-13 {
    width: 54.16666667%;
    float: left;
  }
  .box-liushi > .row > .col-m-13 {
    width: 54.16666667%;
    float: left;
  }
  .col-r-m-13 {
    position: relative;
    left: 54.16666667%;
  }
  .col-l-m-13 {
    position: relative;
    left: -54.16666667%;
  }
  .col-off-m-13 {
    margin-left: 54.16666667%;
  }
  .box > .row > .col-m-14 {
    width: 58.33333333%;
    float: left;
  }
  .box-liushi > .row > .col-m-14 {
    width: 58.33333333%;
    float: left;
  }
  .col-r-m-14 {
    position: relative;
    left: 58.33333333%;
  }
  .col-l-m-14 {
    position: relative;
    left: -58.33333333%;
  }
  .col-off-m-14 {
    margin-left: 58.33333333%;
  }
  .box > .row > .col-m-15 {
    width: 62.5%;
    float: left;
  }
  .box-liushi > .row > .col-m-15 {
    width: 62.5%;
    float: left;
  }
  .col-r-m-15 {
    position: relative;
    left: 62.5%;
  }
  .col-l-m-15 {
    position: relative;
    left: -62.5%;
  }
  .col-off-m-15 {
    margin-left: 62.5%;
  }
  .box > .row > .col-m-16 {
    width: 66.66666667%;
    float: left;
  }
  .box-liushi > .row > .col-m-16 {
    width: 66.66666667%;
    float: left;
  }
  .col-r-m-16 {
    position: relative;
    left: 66.66666667%;
  }
  .col-l-m-16 {
    position: relative;
    left: -66.66666667%;
  }
  .col-off-m-16 {
    margin-left: 66.66666667%;
  }
  .box > .row > .col-m-17 {
    width: 70.83333333%;
    float: left;
  }
  .box-liushi > .row > .col-m-17 {
    width: 70.83333333%;
    float: left;
  }
  .col-r-m-17 {
    position: relative;
    left: 70.83333333%;
  }
  .col-l-m-17 {
    position: relative;
    left: -70.83333333%;
  }
  .col-off-m-17 {
    margin-left: 70.83333333%;
  }
  .box > .row > .col-m-18 {
    width: 75%;
    float: left;
  }
  .box-liushi > .row > .col-m-18 {
    width: 75%;
    float: left;
  }
  .col-r-m-18 {
    position: relative;
    left: 75%;
  }
  .col-l-m-18 {
    position: relative;
    left: -75%;
  }
  .col-off-m-18 {
    margin-left: 75%;
  }
  .box > .row > .col-m-19 {
    width: 79.16666667%;
    float: left;
  }
  .box-liushi > .row > .col-m-19 {
    width: 79.16666667%;
    float: left;
  }
  .col-r-m-19 {
    position: relative;
    left: 79.16666667%;
  }
  .col-l-m-19 {
    position: relative;
    left: -79.16666667%;
  }
  .col-off-m-19 {
    margin-left: 79.16666667%;
  }
  .box > .row > .col-m-20 {
    width: 83.33333333%;
    float: left;
  }
  .box-liushi > .row > .col-m-20 {
    width: 83.33333333%;
    float: left;
  }
  .col-r-m-20 {
    position: relative;
    left: 83.33333333%;
  }
  .col-l-m-20 {
    position: relative;
    left: -83.33333333%;
  }
  .col-off-m-20 {
    margin-left: 83.33333333%;
  }
  .box > .row > .col-m-21 {
    width: 87.5%;
    float: left;
  }
  .box-liushi > .row > .col-m-21 {
    width: 87.5%;
    float: left;
  }
  .col-r-m-21 {
    position: relative;
    left: 87.5%;
  }
  .col-l-m-21 {
    position: relative;
    left: -87.5%;
  }
  .col-off-m-21 {
    margin-left: 87.5%;
  }
  .box > .row > .col-m-22 {
    width: 91.66666667%;
    float: left;
  }
  .box-liushi > .row > .col-m-22 {
    width: 91.66666667%;
    float: left;
  }
  .col-r-m-22 {
    position: relative;
    left: 91.66666667%;
  }
  .col-l-m-22 {
    position: relative;
    left: -91.66666667%;
  }
  .col-off-m-22 {
    margin-left: 91.66666667%;
  }
  .box > .row > .col-m-23 {
    width: 95.83333333%;
    float: left;
  }
  .box-liushi > .row > .col-m-23 {
    width: 95.83333333%;
    float: left;
  }
  .col-r-m-23 {
    position: relative;
    left: 95.83333333%;
  }
  .col-l-m-23 {
    position: relative;
    left: -95.83333333%;
  }
  .col-off-m-23 {
    margin-left: 95.83333333%;
  }
  .box > .row > .col-m-24 {
    width: 100%;
    float: left;
  }
  .box-liushi > .row > .col-m-24 {
    width: 100%;
    float: left;
  }
  .col-r-m-24 {
    position: relative;
    left: 100%;
  }
  .col-l-m-24 {
    position: relative;
    left: -100%;
  }
  .col-off-m-24 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 900px) {
  .col-l-hidden {
    display: none;
  }
  .col-s-hidden,
  .col-m-hidden {
    display: block;
  }
  .box > .row > .col-l-1 {
    width: 4.16666667%;
    float: left;
  }
  .box-liushi > .row > .col-l-1 {
    width: 4.16666667%;
    float: left;
  }
  .col-r-l-1 {
    position: relative;
    left: 4.16666667%;
  }
  .col-l-l-1 {
    position: relative;
    left: -4.16666667%;
  }
  .col-off-l-1 {
    margin-left: 4.16666667%;
  }
  .box > .row > .col-l-2 {
    width: 8.33333333%;
    float: left;
  }
  .box-liushi > .row > .col-l-2 {
    width: 8.33333333%;
    float: left;
  }
  .col-r-l-2 {
    position: relative;
    left: 8.33333333%;
  }
  .col-l-l-2 {
    position: relative;
    left: -8.33333333%;
  }
  .col-off-l-2 {
    margin-left: 8.33333333%;
  }
  .box > .row > .col-l-3 {
    width: 12.5%;
    float: left;
  }
  .box-liushi > .row > .col-l-3 {
    width: 12.5%;
    float: left;
  }
  .col-r-l-3 {
    position: relative;
    left: 12.5%;
  }
  .col-l-l-3 {
    position: relative;
    left: -12.5%;
  }
  .col-off-l-3 {
    margin-left: 12.5%;
  }
  .box > .row > .col-l-4 {
    width: 16.66666667%;
    float: left;
  }
  .box-liushi > .row > .col-l-4 {
    width: 16.66666667%;
    float: left;
  }
  .col-r-l-4 {
    position: relative;
    left: 16.66666667%;
  }
  .col-l-l-4 {
    position: relative;
    left: -16.66666667%;
  }
  .col-off-l-4 {
    margin-left: 16.66666667%;
  }
  .box > .row > .col-l-5 {
    width: 20.83333333%;
    float: left;
  }
  .box-liushi > .row > .col-l-5 {
    width: 20.83333333%;
    float: left;
  }
  .col-r-l-5 {
    position: relative;
    left: 20.83333333%;
  }
  .col-l-l-5 {
    position: relative;
    left: -20.83333333%;
  }
  .col-off-l-5 {
    margin-left: 20.83333333%;
  }
  .box > .row > .col-l-6 {
    width: 25%;
    float: left;
  }
  .box-liushi > .row > .col-l-6 {
    width: 25%;
    float: left;
  }
  .col-r-l-6 {
    position: relative;
    left: 25%;
  }
  .col-l-l-6 {
    position: relative;
    left: -25%;
  }
  .col-off-l-6 {
    margin-left: 25%;
  }
  .box > .row > .col-l-7 {
    width: 29.16666667%;
    float: left;
  }
  .box-liushi > .row > .col-l-7 {
    width: 29.16666667%;
    float: left;
  }
  .col-r-l-7 {
    position: relative;
    left: 29.16666667%;
  }
  .col-l-l-7 {
    position: relative;
    left: -29.16666667%;
  }
  .col-off-l-7 {
    margin-left: 29.16666667%;
  }
  .box > .row > .col-l-8 {
    width: 33.33333333%;
    float: left;
  }
  .box-liushi > .row > .col-l-8 {
    width: 33.33333333%;
    float: left;
  }
  .col-r-l-8 {
    position: relative;
    left: 33.33333333%;
  }
  .col-l-l-8 {
    position: relative;
    left: -33.33333333%;
  }
  .col-off-l-8 {
    margin-left: 33.33333333%;
  }
  .box > .row > .col-l-9 {
    width: 37.5%;
    float: left;
  }
  .box-liushi > .row > .col-l-9 {
    width: 37.5%;
    float: left;
  }
  .col-r-l-9 {
    position: relative;
    left: 37.5%;
  }
  .col-l-l-9 {
    position: relative;
    left: -37.5%;
  }
  .col-off-l-9 {
    margin-left: 37.5%;
  }
  .box > .row > .col-l-10 {
    width: 41.66666667%;
    float: left;
  }
  .box-liushi > .row > .col-l-10 {
    width: 41.66666667%;
    float: left;
  }
  .col-r-l-10 {
    position: relative;
    left: 41.66666667%;
  }
  .col-l-l-10 {
    position: relative;
    left: -41.66666667%;
  }
  .col-off-l-10 {
    margin-left: 41.66666667%;
  }
  .box > .row > .col-l-11 {
    width: 45.83333333%;
    float: left;
  }
  .box-liushi > .row > .col-l-11 {
    width: 45.83333333%;
    float: left;
  }
  .col-r-l-11 {
    position: relative;
    left: 45.83333333%;
  }
  .col-l-l-11 {
    position: relative;
    left: -45.83333333%;
  }
  .col-off-l-11 {
    margin-left: 45.83333333%;
  }
  .box > .row > .col-l-12 {
    width: 50%;
    float: left;
  }
  .box-liushi > .row > .col-l-12 {
    width: 50%;
    float: left;
  }
  .col-r-l-12 {
    position: relative;
    left: 50%;
  }
  .col-l-l-12 {
    position: relative;
    left: -50%;
  }
  .col-off-l-12 {
    margin-left: 50%;
  }
  .box > .row > .col-l-13 {
    width: 54.16666667%;
    float: left;
  }
  .box-liushi > .row > .col-l-13 {
    width: 54.16666667%;
    float: left;
  }
  .col-r-l-13 {
    position: relative;
    left: 54.16666667%;
  }
  .col-l-l-13 {
    position: relative;
    left: -54.16666667%;
  }
  .col-off-l-13 {
    margin-left: 54.16666667%;
  }
  .box > .row > .col-l-14 {
    width: 58.33333333%;
    float: left;
  }
  .box-liushi > .row > .col-l-14 {
    width: 58.33333333%;
    float: left;
  }
  .col-r-l-14 {
    position: relative;
    left: 58.33333333%;
  }
  .col-l-l-14 {
    position: relative;
    left: -58.33333333%;
  }
  .col-off-l-14 {
    margin-left: 58.33333333%;
  }
  .box > .row > .col-l-15 {
    width: 62.5%;
    float: left;
  }
  .box-liushi > .row > .col-l-15 {
    width: 62.5%;
    float: left;
  }
  .col-r-l-15 {
    position: relative;
    left: 62.5%;
  }
  .col-l-l-15 {
    position: relative;
    left: -62.5%;
  }
  .col-off-l-15 {
    margin-left: 62.5%;
  }
  .box > .row > .col-l-16 {
    width: 66.66666667%;
    float: left;
  }
  .box-liushi > .row > .col-l-16 {
    width: 66.66666667%;
    float: left;
  }
  .col-r-l-16 {
    position: relative;
    left: 66.66666667%;
  }
  .col-l-l-16 {
    position: relative;
    left: -66.66666667%;
  }
  .col-off-l-16 {
    margin-left: 66.66666667%;
  }
  .box > .row > .col-l-17 {
    width: 70.83333333%;
    float: left;
  }
  .box-liushi > .row > .col-l-17 {
    width: 70.83333333%;
    float: left;
  }
  .col-r-l-17 {
    position: relative;
    left: 70.83333333%;
  }
  .col-l-l-17 {
    position: relative;
    left: -70.83333333%;
  }
  .col-off-l-17 {
    margin-left: 70.83333333%;
  }
  .box > .row > .col-l-18 {
    width: 75%;
    float: left;
  }
  .box-liushi > .row > .col-l-18 {
    width: 75%;
    float: left;
  }
  .col-r-l-18 {
    position: relative;
    left: 75%;
  }
  .col-l-l-18 {
    position: relative;
    left: -75%;
  }
  .col-off-l-18 {
    margin-left: 75%;
  }
  .box > .row > .col-l-19 {
    width: 79.16666667%;
    float: left;
  }
  .box-liushi > .row > .col-l-19 {
    width: 79.16666667%;
    float: left;
  }
  .col-r-l-19 {
    position: relative;
    left: 79.16666667%;
  }
  .col-l-l-19 {
    position: relative;
    left: -79.16666667%;
  }
  .col-off-l-19 {
    margin-left: 79.16666667%;
  }
  .box > .row > .col-l-20 {
    width: 83.33333333%;
    float: left;
  }
  .box-liushi > .row > .col-l-20 {
    width: 83.33333333%;
    float: left;
  }
  .col-r-l-20 {
    position: relative;
    left: 83.33333333%;
  }
  .col-l-l-20 {
    position: relative;
    left: -83.33333333%;
  }
  .col-off-l-20 {
    margin-left: 83.33333333%;
  }
  .box > .row > .col-l-21 {
    width: 87.5%;
    float: left;
  }
  .box-liushi > .row > .col-l-21 {
    width: 87.5%;
    float: left;
  }
  .col-r-l-21 {
    position: relative;
    left: 87.5%;
  }
  .col-l-l-21 {
    position: relative;
    left: -87.5%;
  }
  .col-off-l-21 {
    margin-left: 87.5%;
  }
  .box > .row > .col-l-22 {
    width: 91.66666667%;
    float: left;
  }
  .box-liushi > .row > .col-l-22 {
    width: 91.66666667%;
    float: left;
  }
  .col-r-l-22 {
    position: relative;
    left: 91.66666667%;
  }
  .col-l-l-22 {
    position: relative;
    left: -91.66666667%;
  }
  .col-off-l-22 {
    margin-left: 91.66666667%;
  }
  .box > .row > .col-l-23 {
    width: 95.83333333%;
    float: left;
  }
  .box-liushi > .row > .col-l-23 {
    width: 95.83333333%;
    float: left;
  }
  .col-r-l-23 {
    position: relative;
    left: 95.83333333%;
  }
  .col-l-l-23 {
    position: relative;
    left: -95.83333333%;
  }
  .col-off-l-23 {
    margin-left: 95.83333333%;
  }
  .box > .row > .col-l-24 {
    width: 100%;
    float: left;
  }
  .box-liushi > .row > .col-l-24 {
    width: 100%;
    float: left;
  }
  .col-r-l-24 {
    position: relative;
    left: 100%;
  }
  .col-l-l-24 {
    position: relative;
    left: -100%;
  }
  .col-off-l-24 {
    margin-left: 100%;
  }
}
