* {
  box-sizing: border-box;
}
/*
 小屏优先
 * */
.box {
  width: 600px;
  margin: auto;
  overflow: hidden;
}
.box-fluid {
  width: 100%;
  margin: auto;
}
.box-fluid:after,
.box-fluid:before {
  content: "";
  clear: both;
  display: block;
}
.box-fluid > .divbox {
  width: 100%;
}
.box-fluid > .divbox:after,
.box-fluid > .divbox:before {
  content: "";
  clear: both;
  display: block;
}
.box:after,
.box:before {
  content: "";
  clear: both;
  display: block;
}
.box > .divbox {
  width: 100%;
}
.box > .divbox:after,
.box > .divbox:before {
  content: "";
  clear: both;
  display: block;
}
.col-x-hid {
  display: none;
}
.col-d-hid,
.col-z-hid {
  display: block;
}
.box-fluid > .divbox > .col-x-1 {
  width: 4.16666667%;
  float: left;
}
.box-fluid > .divbox > .col-x-offset-1 {
  margin-left: 4.16666667%;
}
.box-fluid > .divbox > .col-x-push-1 {
  position: relative;
  left: 4.16666667%;
}
.box-fluid > .divbox > .col-x-pop-1 {
  position: relative;
  left: -4.16666667%;
}
.box > .divbox > .col-x-1 {
  width: 4.16666667%;
  float: left;
}
.box > .divbox > .col-x-offset-1 {
  margin-left: 4.16666667%;
}
.box > .divbox > .col-x-push-1 {
  position: relative;
  left: 4.16666667%;
}
.box > .divbox > .col-x-pop-1 {
  position: relative;
  left: -4.16666667%;
}
.box-fluid > .divbox > .col-x-2 {
  width: 8.33333333%;
  float: left;
}
.box-fluid > .divbox > .col-x-offset-2 {
  margin-left: 8.33333333%;
}
.box-fluid > .divbox > .col-x-push-2 {
  position: relative;
  left: 8.33333333%;
}
.box-fluid > .divbox > .col-x-pop-2 {
  position: relative;
  left: -8.33333333%;
}
.box > .divbox > .col-x-2 {
  width: 8.33333333%;
  float: left;
}
.box > .divbox > .col-x-offset-2 {
  margin-left: 8.33333333%;
}
.box > .divbox > .col-x-push-2 {
  position: relative;
  left: 8.33333333%;
}
.box > .divbox > .col-x-pop-2 {
  position: relative;
  left: -8.33333333%;
}
.box-fluid > .divbox > .col-x-3 {
  width: 12.5%;
  float: left;
}
.box-fluid > .divbox > .col-x-offset-3 {
  margin-left: 12.5%;
}
.box-fluid > .divbox > .col-x-push-3 {
  position: relative;
  left: 12.5%;
}
.box-fluid > .divbox > .col-x-pop-3 {
  position: relative;
  left: -12.5%;
}
.box > .divbox > .col-x-3 {
  width: 12.5%;
  float: left;
}
.box > .divbox > .col-x-offset-3 {
  margin-left: 12.5%;
}
.box > .divbox > .col-x-push-3 {
  position: relative;
  left: 12.5%;
}
.box > .divbox > .col-x-pop-3 {
  position: relative;
  left: -12.5%;
}
.box-fluid > .divbox > .col-x-4 {
  width: 16.66666667%;
  float: left;
}
.box-fluid > .divbox > .col-x-offset-4 {
  margin-left: 16.66666667%;
}
.box-fluid > .divbox > .col-x-push-4 {
  position: relative;
  left: 16.66666667%;
}
.box-fluid > .divbox > .col-x-pop-4 {
  position: relative;
  left: -16.66666667%;
}
.box > .divbox > .col-x-4 {
  width: 16.66666667%;
  float: left;
}
.box > .divbox > .col-x-offset-4 {
  margin-left: 16.66666667%;
}
.box > .divbox > .col-x-push-4 {
  position: relative;
  left: 16.66666667%;
}
.box > .divbox > .col-x-pop-4 {
  position: relative;
  left: -16.66666667%;
}
.box-fluid > .divbox > .col-x-5 {
  width: 20.83333333%;
  float: left;
}
.box-fluid > .divbox > .col-x-offset-5 {
  margin-left: 20.83333333%;
}
.box-fluid > .divbox > .col-x-push-5 {
  position: relative;
  left: 20.83333333%;
}
.box-fluid > .divbox > .col-x-pop-5 {
  position: relative;
  left: -20.83333333%;
}
.box > .divbox > .col-x-5 {
  width: 20.83333333%;
  float: left;
}
.box > .divbox > .col-x-offset-5 {
  margin-left: 20.83333333%;
}
.box > .divbox > .col-x-push-5 {
  position: relative;
  left: 20.83333333%;
}
.box > .divbox > .col-x-pop-5 {
  position: relative;
  left: -20.83333333%;
}
.box-fluid > .divbox > .col-x-6 {
  width: 25%;
  float: left;
}
.box-fluid > .divbox > .col-x-offset-6 {
  margin-left: 25%;
}
.box-fluid > .divbox > .col-x-push-6 {
  position: relative;
  left: 25%;
}
.box-fluid > .divbox > .col-x-pop-6 {
  position: relative;
  left: -25%;
}
.box > .divbox > .col-x-6 {
  width: 25%;
  float: left;
}
.box > .divbox > .col-x-offset-6 {
  margin-left: 25%;
}
.box > .divbox > .col-x-push-6 {
  position: relative;
  left: 25%;
}
.box > .divbox > .col-x-pop-6 {
  position: relative;
  left: -25%;
}
.box-fluid > .divbox > .col-x-7 {
  width: 29.16666667%;
  float: left;
}
.box-fluid > .divbox > .col-x-offset-7 {
  margin-left: 29.16666667%;
}
.box-fluid > .divbox > .col-x-push-7 {
  position: relative;
  left: 29.16666667%;
}
.box-fluid > .divbox > .col-x-pop-7 {
  position: relative;
  left: -29.16666667%;
}
.box > .divbox > .col-x-7 {
  width: 29.16666667%;
  float: left;
}
.box > .divbox > .col-x-offset-7 {
  margin-left: 29.16666667%;
}
.box > .divbox > .col-x-push-7 {
  position: relative;
  left: 29.16666667%;
}
.box > .divbox > .col-x-pop-7 {
  position: relative;
  left: -29.16666667%;
}
.box-fluid > .divbox > .col-x-8 {
  width: 33.33333333%;
  float: left;
}
.box-fluid > .divbox > .col-x-offset-8 {
  margin-left: 33.33333333%;
}
.box-fluid > .divbox > .col-x-push-8 {
  position: relative;
  left: 33.33333333%;
}
.box-fluid > .divbox > .col-x-pop-8 {
  position: relative;
  left: -33.33333333%;
}
.box > .divbox > .col-x-8 {
  width: 33.33333333%;
  float: left;
}
.box > .divbox > .col-x-offset-8 {
  margin-left: 33.33333333%;
}
.box > .divbox > .col-x-push-8 {
  position: relative;
  left: 33.33333333%;
}
.box > .divbox > .col-x-pop-8 {
  position: relative;
  left: -33.33333333%;
}
.box-fluid > .divbox > .col-x-9 {
  width: 37.5%;
  float: left;
}
.box-fluid > .divbox > .col-x-offset-9 {
  margin-left: 37.5%;
}
.box-fluid > .divbox > .col-x-push-9 {
  position: relative;
  left: 37.5%;
}
.box-fluid > .divbox > .col-x-pop-9 {
  position: relative;
  left: -37.5%;
}
.box > .divbox > .col-x-9 {
  width: 37.5%;
  float: left;
}
.box > .divbox > .col-x-offset-9 {
  margin-left: 37.5%;
}
.box > .divbox > .col-x-push-9 {
  position: relative;
  left: 37.5%;
}
.box > .divbox > .col-x-pop-9 {
  position: relative;
  left: -37.5%;
}
.box-fluid > .divbox > .col-x-10 {
  width: 41.66666667%;
  float: left;
}
.box-fluid > .divbox > .col-x-offset-10 {
  margin-left: 41.66666667%;
}
.box-fluid > .divbox > .col-x-push-10 {
  position: relative;
  left: 41.66666667%;
}
.box-fluid > .divbox > .col-x-pop-10 {
  position: relative;
  left: -41.66666667%;
}
.box > .divbox > .col-x-10 {
  width: 41.66666667%;
  float: left;
}
.box > .divbox > .col-x-offset-10 {
  margin-left: 41.66666667%;
}
.box > .divbox > .col-x-push-10 {
  position: relative;
  left: 41.66666667%;
}
.box > .divbox > .col-x-pop-10 {
  position: relative;
  left: -41.66666667%;
}
.box-fluid > .divbox > .col-x-11 {
  width: 45.83333333%;
  float: left;
}
.box-fluid > .divbox > .col-x-offset-11 {
  margin-left: 45.83333333%;
}
.box-fluid > .divbox > .col-x-push-11 {
  position: relative;
  left: 45.83333333%;
}
.box-fluid > .divbox > .col-x-pop-11 {
  position: relative;
  left: -45.83333333%;
}
.box > .divbox > .col-x-11 {
  width: 45.83333333%;
  float: left;
}
.box > .divbox > .col-x-offset-11 {
  margin-left: 45.83333333%;
}
.box > .divbox > .col-x-push-11 {
  position: relative;
  left: 45.83333333%;
}
.box > .divbox > .col-x-pop-11 {
  position: relative;
  left: -45.83333333%;
}
.box-fluid > .divbox > .col-x-12 {
  width: 50%;
  float: left;
}
.box-fluid > .divbox > .col-x-offset-12 {
  margin-left: 50%;
}
.box-fluid > .divbox > .col-x-push-12 {
  position: relative;
  left: 50%;
}
.box-fluid > .divbox > .col-x-pop-12 {
  position: relative;
  left: -50%;
}
.box > .divbox > .col-x-12 {
  width: 50%;
  float: left;
}
.box > .divbox > .col-x-offset-12 {
  margin-left: 50%;
}
.box > .divbox > .col-x-push-12 {
  position: relative;
  left: 50%;
}
.box > .divbox > .col-x-pop-12 {
  position: relative;
  left: -50%;
}
.box-fluid > .divbox > .col-x-13 {
  width: 54.16666667%;
  float: left;
}
.box-fluid > .divbox > .col-x-offset-13 {
  margin-left: 54.16666667%;
}
.box-fluid > .divbox > .col-x-push-13 {
  position: relative;
  left: 54.16666667%;
}
.box-fluid > .divbox > .col-x-pop-13 {
  position: relative;
  left: -54.16666667%;
}
.box > .divbox > .col-x-13 {
  width: 54.16666667%;
  float: left;
}
.box > .divbox > .col-x-offset-13 {
  margin-left: 54.16666667%;
}
.box > .divbox > .col-x-push-13 {
  position: relative;
  left: 54.16666667%;
}
.box > .divbox > .col-x-pop-13 {
  position: relative;
  left: -54.16666667%;
}
.box-fluid > .divbox > .col-x-14 {
  width: 58.33333333%;
  float: left;
}
.box-fluid > .divbox > .col-x-offset-14 {
  margin-left: 58.33333333%;
}
.box-fluid > .divbox > .col-x-push-14 {
  position: relative;
  left: 58.33333333%;
}
.box-fluid > .divbox > .col-x-pop-14 {
  position: relative;
  left: -58.33333333%;
}
.box > .divbox > .col-x-14 {
  width: 58.33333333%;
  float: left;
}
.box > .divbox > .col-x-offset-14 {
  margin-left: 58.33333333%;
}
.box > .divbox > .col-x-push-14 {
  position: relative;
  left: 58.33333333%;
}
.box > .divbox > .col-x-pop-14 {
  position: relative;
  left: -58.33333333%;
}
.box-fluid > .divbox > .col-x-15 {
  width: 62.5%;
  float: left;
}
.box-fluid > .divbox > .col-x-offset-15 {
  margin-left: 62.5%;
}
.box-fluid > .divbox > .col-x-push-15 {
  position: relative;
  left: 62.5%;
}
.box-fluid > .divbox > .col-x-pop-15 {
  position: relative;
  left: -62.5%;
}
.box > .divbox > .col-x-15 {
  width: 62.5%;
  float: left;
}
.box > .divbox > .col-x-offset-15 {
  margin-left: 62.5%;
}
.box > .divbox > .col-x-push-15 {
  position: relative;
  left: 62.5%;
}
.box > .divbox > .col-x-pop-15 {
  position: relative;
  left: -62.5%;
}
.box-fluid > .divbox > .col-x-16 {
  width: 66.66666667%;
  float: left;
}
.box-fluid > .divbox > .col-x-offset-16 {
  margin-left: 66.66666667%;
}
.box-fluid > .divbox > .col-x-push-16 {
  position: relative;
  left: 66.66666667%;
}
.box-fluid > .divbox > .col-x-pop-16 {
  position: relative;
  left: -66.66666667%;
}
.box > .divbox > .col-x-16 {
  width: 66.66666667%;
  float: left;
}
.box > .divbox > .col-x-offset-16 {
  margin-left: 66.66666667%;
}
.box > .divbox > .col-x-push-16 {
  position: relative;
  left: 66.66666667%;
}
.box > .divbox > .col-x-pop-16 {
  position: relative;
  left: -66.66666667%;
}
.box-fluid > .divbox > .col-x-17 {
  width: 70.83333333%;
  float: left;
}
.box-fluid > .divbox > .col-x-offset-17 {
  margin-left: 70.83333333%;
}
.box-fluid > .divbox > .col-x-push-17 {
  position: relative;
  left: 70.83333333%;
}
.box-fluid > .divbox > .col-x-pop-17 {
  position: relative;
  left: -70.83333333%;
}
.box > .divbox > .col-x-17 {
  width: 70.83333333%;
  float: left;
}
.box > .divbox > .col-x-offset-17 {
  margin-left: 70.83333333%;
}
.box > .divbox > .col-x-push-17 {
  position: relative;
  left: 70.83333333%;
}
.box > .divbox > .col-x-pop-17 {
  position: relative;
  left: -70.83333333%;
}
.box-fluid > .divbox > .col-x-18 {
  width: 75%;
  float: left;
}
.box-fluid > .divbox > .col-x-offset-18 {
  margin-left: 75%;
}
.box-fluid > .divbox > .col-x-push-18 {
  position: relative;
  left: 75%;
}
.box-fluid > .divbox > .col-x-pop-18 {
  position: relative;
  left: -75%;
}
.box > .divbox > .col-x-18 {
  width: 75%;
  float: left;
}
.box > .divbox > .col-x-offset-18 {
  margin-left: 75%;
}
.box > .divbox > .col-x-push-18 {
  position: relative;
  left: 75%;
}
.box > .divbox > .col-x-pop-18 {
  position: relative;
  left: -75%;
}
.box-fluid > .divbox > .col-x-19 {
  width: 79.16666667%;
  float: left;
}
.box-fluid > .divbox > .col-x-offset-19 {
  margin-left: 79.16666667%;
}
.box-fluid > .divbox > .col-x-push-19 {
  position: relative;
  left: 79.16666667%;
}
.box-fluid > .divbox > .col-x-pop-19 {
  position: relative;
  left: -79.16666667%;
}
.box > .divbox > .col-x-19 {
  width: 79.16666667%;
  float: left;
}
.box > .divbox > .col-x-offset-19 {
  margin-left: 79.16666667%;
}
.box > .divbox > .col-x-push-19 {
  position: relative;
  left: 79.16666667%;
}
.box > .divbox > .col-x-pop-19 {
  position: relative;
  left: -79.16666667%;
}
.box-fluid > .divbox > .col-x-20 {
  width: 83.33333333%;
  float: left;
}
.box-fluid > .divbox > .col-x-offset-20 {
  margin-left: 83.33333333%;
}
.box-fluid > .divbox > .col-x-push-20 {
  position: relative;
  left: 83.33333333%;
}
.box-fluid > .divbox > .col-x-pop-20 {
  position: relative;
  left: -83.33333333%;
}
.box > .divbox > .col-x-20 {
  width: 83.33333333%;
  float: left;
}
.box > .divbox > .col-x-offset-20 {
  margin-left: 83.33333333%;
}
.box > .divbox > .col-x-push-20 {
  position: relative;
  left: 83.33333333%;
}
.box > .divbox > .col-x-pop-20 {
  position: relative;
  left: -83.33333333%;
}
.box-fluid > .divbox > .col-x-21 {
  width: 87.5%;
  float: left;
}
.box-fluid > .divbox > .col-x-offset-21 {
  margin-left: 87.5%;
}
.box-fluid > .divbox > .col-x-push-21 {
  position: relative;
  left: 87.5%;
}
.box-fluid > .divbox > .col-x-pop-21 {
  position: relative;
  left: -87.5%;
}
.box > .divbox > .col-x-21 {
  width: 87.5%;
  float: left;
}
.box > .divbox > .col-x-offset-21 {
  margin-left: 87.5%;
}
.box > .divbox > .col-x-push-21 {
  position: relative;
  left: 87.5%;
}
.box > .divbox > .col-x-pop-21 {
  position: relative;
  left: -87.5%;
}
.box-fluid > .divbox > .col-x-22 {
  width: 91.66666667%;
  float: left;
}
.box-fluid > .divbox > .col-x-offset-22 {
  margin-left: 91.66666667%;
}
.box-fluid > .divbox > .col-x-push-22 {
  position: relative;
  left: 91.66666667%;
}
.box-fluid > .divbox > .col-x-pop-22 {
  position: relative;
  left: -91.66666667%;
}
.box > .divbox > .col-x-22 {
  width: 91.66666667%;
  float: left;
}
.box > .divbox > .col-x-offset-22 {
  margin-left: 91.66666667%;
}
.box > .divbox > .col-x-push-22 {
  position: relative;
  left: 91.66666667%;
}
.box > .divbox > .col-x-pop-22 {
  position: relative;
  left: -91.66666667%;
}
.box-fluid > .divbox > .col-x-23 {
  width: 95.83333333%;
  float: left;
}
.box-fluid > .divbox > .col-x-offset-23 {
  margin-left: 95.83333333%;
}
.box-fluid > .divbox > .col-x-push-23 {
  position: relative;
  left: 95.83333333%;
}
.box-fluid > .divbox > .col-x-pop-23 {
  position: relative;
  left: -95.83333333%;
}
.box > .divbox > .col-x-23 {
  width: 95.83333333%;
  float: left;
}
.box > .divbox > .col-x-offset-23 {
  margin-left: 95.83333333%;
}
.box > .divbox > .col-x-push-23 {
  position: relative;
  left: 95.83333333%;
}
.box > .divbox > .col-x-pop-23 {
  position: relative;
  left: -95.83333333%;
}
.box-fluid > .divbox > .col-x-24 {
  width: 100%;
  float: left;
}
.box-fluid > .divbox > .col-x-offset-24 {
  margin-left: 100%;
}
.box-fluid > .divbox > .col-x-push-24 {
  position: relative;
  left: 100%;
}
.box-fluid > .divbox > .col-x-pop-24 {
  position: relative;
  left: -100%;
}
.box > .divbox > .col-x-24 {
  width: 100%;
  float: left;
}
.box > .divbox > .col-x-offset-24 {
  margin-left: 100%;
}
.box > .divbox > .col-x-push-24 {
  position: relative;
  left: 100%;
}
.box > .divbox > .col-x-pop-24 {
  position: relative;
  left: -100%;
}
@media screen and (min-width: 640px) {
  .box {
    width: 640px;
  }
  .box-fluid > .divbox > .col-z-1 {
    width: 4.16666667%;
    float: left;
  }
  .box-fluid > .divbox > .col-z-offset-1 {
    margin-left: 4.16666667%;
  }
  .box-fluid > .divbox > .col-z-push-1 {
    position: relative;
    left: 4.16666667%;
  }
  .box-fluid > .divbox > .col-z-pop-1 {
    position: relative;
    left: -4.16666667%;
  }
  .box > .divbox > .col-z-1 {
    width: 4.16666667%;
    float: left;
  }
  .box > .divbox > .col-z-offset-1 {
    margin-left: 4.16666667%;
  }
  .box > .divbox > .col-z-push-1 {
    position: relative;
    left: 4.16666667%;
  }
  .box > .divbox > .col-z-pop-1 {
    position: relative;
    left: -4.16666667%;
  }
  .box-fluid > .divbox > .col-z-2 {
    width: 8.33333333%;
    float: left;
  }
  .box-fluid > .divbox > .col-z-offset-2 {
    margin-left: 8.33333333%;
  }
  .box-fluid > .divbox > .col-z-push-2 {
    position: relative;
    left: 8.33333333%;
  }
  .box-fluid > .divbox > .col-z-pop-2 {
    position: relative;
    left: -8.33333333%;
  }
  .box > .divbox > .col-z-2 {
    width: 8.33333333%;
    float: left;
  }
  .box > .divbox > .col-z-offset-2 {
    margin-left: 8.33333333%;
  }
  .box > .divbox > .col-z-push-2 {
    position: relative;
    left: 8.33333333%;
  }
  .box > .divbox > .col-z-pop-2 {
    position: relative;
    left: -8.33333333%;
  }
  .box-fluid > .divbox > .col-z-3 {
    width: 12.5%;
    float: left;
  }
  .box-fluid > .divbox > .col-z-offset-3 {
    margin-left: 12.5%;
  }
  .box-fluid > .divbox > .col-z-push-3 {
    position: relative;
    left: 12.5%;
  }
  .box-fluid > .divbox > .col-z-pop-3 {
    position: relative;
    left: -12.5%;
  }
  .box > .divbox > .col-z-3 {
    width: 12.5%;
    float: left;
  }
  .box > .divbox > .col-z-offset-3 {
    margin-left: 12.5%;
  }
  .box > .divbox > .col-z-push-3 {
    position: relative;
    left: 12.5%;
  }
  .box > .divbox > .col-z-pop-3 {
    position: relative;
    left: -12.5%;
  }
  .box-fluid > .divbox > .col-z-4 {
    width: 16.66666667%;
    float: left;
  }
  .box-fluid > .divbox > .col-z-offset-4 {
    margin-left: 16.66666667%;
  }
  .box-fluid > .divbox > .col-z-push-4 {
    position: relative;
    left: 16.66666667%;
  }
  .box-fluid > .divbox > .col-z-pop-4 {
    position: relative;
    left: -16.66666667%;
  }
  .box > .divbox > .col-z-4 {
    width: 16.66666667%;
    float: left;
  }
  .box > .divbox > .col-z-offset-4 {
    margin-left: 16.66666667%;
  }
  .box > .divbox > .col-z-push-4 {
    position: relative;
    left: 16.66666667%;
  }
  .box > .divbox > .col-z-pop-4 {
    position: relative;
    left: -16.66666667%;
  }
  .box-fluid > .divbox > .col-z-5 {
    width: 20.83333333%;
    float: left;
  }
  .box-fluid > .divbox > .col-z-offset-5 {
    margin-left: 20.83333333%;
  }
  .box-fluid > .divbox > .col-z-push-5 {
    position: relative;
    left: 20.83333333%;
  }
  .box-fluid > .divbox > .col-z-pop-5 {
    position: relative;
    left: -20.83333333%;
  }
  .box > .divbox > .col-z-5 {
    width: 20.83333333%;
    float: left;
  }
  .box > .divbox > .col-z-offset-5 {
    margin-left: 20.83333333%;
  }
  .box > .divbox > .col-z-push-5 {
    position: relative;
    left: 20.83333333%;
  }
  .box > .divbox > .col-z-pop-5 {
    position: relative;
    left: -20.83333333%;
  }
  .box-fluid > .divbox > .col-z-6 {
    width: 25%;
    float: left;
  }
  .box-fluid > .divbox > .col-z-offset-6 {
    margin-left: 25%;
  }
  .box-fluid > .divbox > .col-z-push-6 {
    position: relative;
    left: 25%;
  }
  .box-fluid > .divbox > .col-z-pop-6 {
    position: relative;
    left: -25%;
  }
  .box > .divbox > .col-z-6 {
    width: 25%;
    float: left;
  }
  .box > .divbox > .col-z-offset-6 {
    margin-left: 25%;
  }
  .box > .divbox > .col-z-push-6 {
    position: relative;
    left: 25%;
  }
  .box > .divbox > .col-z-pop-6 {
    position: relative;
    left: -25%;
  }
  .box-fluid > .divbox > .col-z-7 {
    width: 29.16666667%;
    float: left;
  }
  .box-fluid > .divbox > .col-z-offset-7 {
    margin-left: 29.16666667%;
  }
  .box-fluid > .divbox > .col-z-push-7 {
    position: relative;
    left: 29.16666667%;
  }
  .box-fluid > .divbox > .col-z-pop-7 {
    position: relative;
    left: -29.16666667%;
  }
  .box > .divbox > .col-z-7 {
    width: 29.16666667%;
    float: left;
  }
  .box > .divbox > .col-z-offset-7 {
    margin-left: 29.16666667%;
  }
  .box > .divbox > .col-z-push-7 {
    position: relative;
    left: 29.16666667%;
  }
  .box > .divbox > .col-z-pop-7 {
    position: relative;
    left: -29.16666667%;
  }
  .box-fluid > .divbox > .col-z-8 {
    width: 33.33333333%;
    float: left;
  }
  .box-fluid > .divbox > .col-z-offset-8 {
    margin-left: 33.33333333%;
  }
  .box-fluid > .divbox > .col-z-push-8 {
    position: relative;
    left: 33.33333333%;
  }
  .box-fluid > .divbox > .col-z-pop-8 {
    position: relative;
    left: -33.33333333%;
  }
  .box > .divbox > .col-z-8 {
    width: 33.33333333%;
    float: left;
  }
  .box > .divbox > .col-z-offset-8 {
    margin-left: 33.33333333%;
  }
  .box > .divbox > .col-z-push-8 {
    position: relative;
    left: 33.33333333%;
  }
  .box > .divbox > .col-z-pop-8 {
    position: relative;
    left: -33.33333333%;
  }
  .box-fluid > .divbox > .col-z-9 {
    width: 37.5%;
    float: left;
  }
  .box-fluid > .divbox > .col-z-offset-9 {
    margin-left: 37.5%;
  }
  .box-fluid > .divbox > .col-z-push-9 {
    position: relative;
    left: 37.5%;
  }
  .box-fluid > .divbox > .col-z-pop-9 {
    position: relative;
    left: -37.5%;
  }
  .box > .divbox > .col-z-9 {
    width: 37.5%;
    float: left;
  }
  .box > .divbox > .col-z-offset-9 {
    margin-left: 37.5%;
  }
  .box > .divbox > .col-z-push-9 {
    position: relative;
    left: 37.5%;
  }
  .box > .divbox > .col-z-pop-9 {
    position: relative;
    left: -37.5%;
  }
  .box-fluid > .divbox > .col-z-10 {
    width: 41.66666667%;
    float: left;
  }
  .box-fluid > .divbox > .col-z-offset-10 {
    margin-left: 41.66666667%;
  }
  .box-fluid > .divbox > .col-z-push-10 {
    position: relative;
    left: 41.66666667%;
  }
  .box-fluid > .divbox > .col-z-pop-10 {
    position: relative;
    left: -41.66666667%;
  }
  .box > .divbox > .col-z-10 {
    width: 41.66666667%;
    float: left;
  }
  .box > .divbox > .col-z-offset-10 {
    margin-left: 41.66666667%;
  }
  .box > .divbox > .col-z-push-10 {
    position: relative;
    left: 41.66666667%;
  }
  .box > .divbox > .col-z-pop-10 {
    position: relative;
    left: -41.66666667%;
  }
  .box-fluid > .divbox > .col-z-11 {
    width: 45.83333333%;
    float: left;
  }
  .box-fluid > .divbox > .col-z-offset-11 {
    margin-left: 45.83333333%;
  }
  .box-fluid > .divbox > .col-z-push-11 {
    position: relative;
    left: 45.83333333%;
  }
  .box-fluid > .divbox > .col-z-pop-11 {
    position: relative;
    left: -45.83333333%;
  }
  .box > .divbox > .col-z-11 {
    width: 45.83333333%;
    float: left;
  }
  .box > .divbox > .col-z-offset-11 {
    margin-left: 45.83333333%;
  }
  .box > .divbox > .col-z-push-11 {
    position: relative;
    left: 45.83333333%;
  }
  .box > .divbox > .col-z-pop-11 {
    position: relative;
    left: -45.83333333%;
  }
  .box-fluid > .divbox > .col-z-12 {
    width: 50%;
    float: left;
  }
  .box-fluid > .divbox > .col-z-offset-12 {
    margin-left: 50%;
  }
  .box-fluid > .divbox > .col-z-push-12 {
    position: relative;
    left: 50%;
  }
  .box-fluid > .divbox > .col-z-pop-12 {
    position: relative;
    left: -50%;
  }
  .box > .divbox > .col-z-12 {
    width: 50%;
    float: left;
  }
  .box > .divbox > .col-z-offset-12 {
    margin-left: 50%;
  }
  .box > .divbox > .col-z-push-12 {
    position: relative;
    left: 50%;
  }
  .box > .divbox > .col-z-pop-12 {
    position: relative;
    left: -50%;
  }
  .box-fluid > .divbox > .col-z-13 {
    width: 54.16666667%;
    float: left;
  }
  .box-fluid > .divbox > .col-z-offset-13 {
    margin-left: 54.16666667%;
  }
  .box-fluid > .divbox > .col-z-push-13 {
    position: relative;
    left: 54.16666667%;
  }
  .box-fluid > .divbox > .col-z-pop-13 {
    position: relative;
    left: -54.16666667%;
  }
  .box > .divbox > .col-z-13 {
    width: 54.16666667%;
    float: left;
  }
  .box > .divbox > .col-z-offset-13 {
    margin-left: 54.16666667%;
  }
  .box > .divbox > .col-z-push-13 {
    position: relative;
    left: 54.16666667%;
  }
  .box > .divbox > .col-z-pop-13 {
    position: relative;
    left: -54.16666667%;
  }
  .box-fluid > .divbox > .col-z-14 {
    width: 58.33333333%;
    float: left;
  }
  .box-fluid > .divbox > .col-z-offset-14 {
    margin-left: 58.33333333%;
  }
  .box-fluid > .divbox > .col-z-push-14 {
    position: relative;
    left: 58.33333333%;
  }
  .box-fluid > .divbox > .col-z-pop-14 {
    position: relative;
    left: -58.33333333%;
  }
  .box > .divbox > .col-z-14 {
    width: 58.33333333%;
    float: left;
  }
  .box > .divbox > .col-z-offset-14 {
    margin-left: 58.33333333%;
  }
  .box > .divbox > .col-z-push-14 {
    position: relative;
    left: 58.33333333%;
  }
  .box > .divbox > .col-z-pop-14 {
    position: relative;
    left: -58.33333333%;
  }
  .box-fluid > .divbox > .col-z-15 {
    width: 62.5%;
    float: left;
  }
  .box-fluid > .divbox > .col-z-offset-15 {
    margin-left: 62.5%;
  }
  .box-fluid > .divbox > .col-z-push-15 {
    position: relative;
    left: 62.5%;
  }
  .box-fluid > .divbox > .col-z-pop-15 {
    position: relative;
    left: -62.5%;
  }
  .box > .divbox > .col-z-15 {
    width: 62.5%;
    float: left;
  }
  .box > .divbox > .col-z-offset-15 {
    margin-left: 62.5%;
  }
  .box > .divbox > .col-z-push-15 {
    position: relative;
    left: 62.5%;
  }
  .box > .divbox > .col-z-pop-15 {
    position: relative;
    left: -62.5%;
  }
  .box-fluid > .divbox > .col-z-16 {
    width: 66.66666667%;
    float: left;
  }
  .box-fluid > .divbox > .col-z-offset-16 {
    margin-left: 66.66666667%;
  }
  .box-fluid > .divbox > .col-z-push-16 {
    position: relative;
    left: 66.66666667%;
  }
  .box-fluid > .divbox > .col-z-pop-16 {
    position: relative;
    left: -66.66666667%;
  }
  .box > .divbox > .col-z-16 {
    width: 66.66666667%;
    float: left;
  }
  .box > .divbox > .col-z-offset-16 {
    margin-left: 66.66666667%;
  }
  .box > .divbox > .col-z-push-16 {
    position: relative;
    left: 66.66666667%;
  }
  .box > .divbox > .col-z-pop-16 {
    position: relative;
    left: -66.66666667%;
  }
  .box-fluid > .divbox > .col-z-17 {
    width: 70.83333333%;
    float: left;
  }
  .box-fluid > .divbox > .col-z-offset-17 {
    margin-left: 70.83333333%;
  }
  .box-fluid > .divbox > .col-z-push-17 {
    position: relative;
    left: 70.83333333%;
  }
  .box-fluid > .divbox > .col-z-pop-17 {
    position: relative;
    left: -70.83333333%;
  }
  .box > .divbox > .col-z-17 {
    width: 70.83333333%;
    float: left;
  }
  .box > .divbox > .col-z-offset-17 {
    margin-left: 70.83333333%;
  }
  .box > .divbox > .col-z-push-17 {
    position: relative;
    left: 70.83333333%;
  }
  .box > .divbox > .col-z-pop-17 {
    position: relative;
    left: -70.83333333%;
  }
  .box-fluid > .divbox > .col-z-18 {
    width: 75%;
    float: left;
  }
  .box-fluid > .divbox > .col-z-offset-18 {
    margin-left: 75%;
  }
  .box-fluid > .divbox > .col-z-push-18 {
    position: relative;
    left: 75%;
  }
  .box-fluid > .divbox > .col-z-pop-18 {
    position: relative;
    left: -75%;
  }
  .box > .divbox > .col-z-18 {
    width: 75%;
    float: left;
  }
  .box > .divbox > .col-z-offset-18 {
    margin-left: 75%;
  }
  .box > .divbox > .col-z-push-18 {
    position: relative;
    left: 75%;
  }
  .box > .divbox > .col-z-pop-18 {
    position: relative;
    left: -75%;
  }
  .box-fluid > .divbox > .col-z-19 {
    width: 79.16666667%;
    float: left;
  }
  .box-fluid > .divbox > .col-z-offset-19 {
    margin-left: 79.16666667%;
  }
  .box-fluid > .divbox > .col-z-push-19 {
    position: relative;
    left: 79.16666667%;
  }
  .box-fluid > .divbox > .col-z-pop-19 {
    position: relative;
    left: -79.16666667%;
  }
  .box > .divbox > .col-z-19 {
    width: 79.16666667%;
    float: left;
  }
  .box > .divbox > .col-z-offset-19 {
    margin-left: 79.16666667%;
  }
  .box > .divbox > .col-z-push-19 {
    position: relative;
    left: 79.16666667%;
  }
  .box > .divbox > .col-z-pop-19 {
    position: relative;
    left: -79.16666667%;
  }
  .box-fluid > .divbox > .col-z-20 {
    width: 83.33333333%;
    float: left;
  }
  .box-fluid > .divbox > .col-z-offset-20 {
    margin-left: 83.33333333%;
  }
  .box-fluid > .divbox > .col-z-push-20 {
    position: relative;
    left: 83.33333333%;
  }
  .box-fluid > .divbox > .col-z-pop-20 {
    position: relative;
    left: -83.33333333%;
  }
  .box > .divbox > .col-z-20 {
    width: 83.33333333%;
    float: left;
  }
  .box > .divbox > .col-z-offset-20 {
    margin-left: 83.33333333%;
  }
  .box > .divbox > .col-z-push-20 {
    position: relative;
    left: 83.33333333%;
  }
  .box > .divbox > .col-z-pop-20 {
    position: relative;
    left: -83.33333333%;
  }
  .box-fluid > .divbox > .col-z-21 {
    width: 87.5%;
    float: left;
  }
  .box-fluid > .divbox > .col-z-offset-21 {
    margin-left: 87.5%;
  }
  .box-fluid > .divbox > .col-z-push-21 {
    position: relative;
    left: 87.5%;
  }
  .box-fluid > .divbox > .col-z-pop-21 {
    position: relative;
    left: -87.5%;
  }
  .box > .divbox > .col-z-21 {
    width: 87.5%;
    float: left;
  }
  .box > .divbox > .col-z-offset-21 {
    margin-left: 87.5%;
  }
  .box > .divbox > .col-z-push-21 {
    position: relative;
    left: 87.5%;
  }
  .box > .divbox > .col-z-pop-21 {
    position: relative;
    left: -87.5%;
  }
  .box-fluid > .divbox > .col-z-22 {
    width: 91.66666667%;
    float: left;
  }
  .box-fluid > .divbox > .col-z-offset-22 {
    margin-left: 91.66666667%;
  }
  .box-fluid > .divbox > .col-z-push-22 {
    position: relative;
    left: 91.66666667%;
  }
  .box-fluid > .divbox > .col-z-pop-22 {
    position: relative;
    left: -91.66666667%;
  }
  .box > .divbox > .col-z-22 {
    width: 91.66666667%;
    float: left;
  }
  .box > .divbox > .col-z-offset-22 {
    margin-left: 91.66666667%;
  }
  .box > .divbox > .col-z-push-22 {
    position: relative;
    left: 91.66666667%;
  }
  .box > .divbox > .col-z-pop-22 {
    position: relative;
    left: -91.66666667%;
  }
  .box-fluid > .divbox > .col-z-23 {
    width: 95.83333333%;
    float: left;
  }
  .box-fluid > .divbox > .col-z-offset-23 {
    margin-left: 95.83333333%;
  }
  .box-fluid > .divbox > .col-z-push-23 {
    position: relative;
    left: 95.83333333%;
  }
  .box-fluid > .divbox > .col-z-pop-23 {
    position: relative;
    left: -95.83333333%;
  }
  .box > .divbox > .col-z-23 {
    width: 95.83333333%;
    float: left;
  }
  .box > .divbox > .col-z-offset-23 {
    margin-left: 95.83333333%;
  }
  .box > .divbox > .col-z-push-23 {
    position: relative;
    left: 95.83333333%;
  }
  .box > .divbox > .col-z-pop-23 {
    position: relative;
    left: -95.83333333%;
  }
  .box-fluid > .divbox > .col-z-24 {
    width: 100%;
    float: left;
  }
  .box-fluid > .divbox > .col-z-offset-24 {
    margin-left: 100%;
  }
  .box-fluid > .divbox > .col-z-push-24 {
    position: relative;
    left: 100%;
  }
  .box-fluid > .divbox > .col-z-pop-24 {
    position: relative;
    left: -100%;
  }
  .box > .divbox > .col-z-24 {
    width: 100%;
    float: left;
  }
  .box > .divbox > .col-z-offset-24 {
    margin-left: 100%;
  }
  .box > .divbox > .col-z-push-24 {
    position: relative;
    left: 100%;
  }
  .box > .divbox > .col-z-pop-24 {
    position: relative;
    left: -100%;
  }
  .col-x-hid {
    display: block;
  }
  .col-z-hid {
    display: none;
  }
  .col-d-hid {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .box {
    width: 1000px;
  }
  .col-x-hid {
    display: block;
  }
  .col-z-hid {
    display: block;
  }
  .col-d-hid {
    display: none;
  }
  width: 1000px;
  .box-fluid > .divbox > .col-d-1 {
    width: 4.16666667%;
    float: left;
  }
  .box-fluid > .divbox > .col-d-offset-1 {
    margin-left: 4.16666667%;
  }
  .box-fluid > .divbox > .col-d-push-1 {
    position: relative;
    left: 4.16666667%;
  }
  .box-fluid > .divbox > .col-d-pop-1 {
    position: relative;
    left: -4.16666667%;
  }
  .box > .divbox > .col-d-1 {
    width: 4.16666667%;
    float: left;
  }
  .box > .divbox > .col-d-offset-1 {
    margin-left: 4.16666667%;
  }
  .box > .divbox > .col-d-push-1 {
    position: relative;
    left: 4.16666667%;
  }
  .box > .divbox > .col-d-pop-1 {
    position: relative;
    left: -4.16666667%;
  }
  .box-fluid > .divbox > .col-d-2 {
    width: 8.33333333%;
    float: left;
  }
  .box-fluid > .divbox > .col-d-offset-2 {
    margin-left: 8.33333333%;
  }
  .box-fluid > .divbox > .col-d-push-2 {
    position: relative;
    left: 8.33333333%;
  }
  .box-fluid > .divbox > .col-d-pop-2 {
    position: relative;
    left: -8.33333333%;
  }
  .box > .divbox > .col-d-2 {
    width: 8.33333333%;
    float: left;
  }
  .box > .divbox > .col-d-offset-2 {
    margin-left: 8.33333333%;
  }
  .box > .divbox > .col-d-push-2 {
    position: relative;
    left: 8.33333333%;
  }
  .box > .divbox > .col-d-pop-2 {
    position: relative;
    left: -8.33333333%;
  }
  .box-fluid > .divbox > .col-d-3 {
    width: 12.5%;
    float: left;
  }
  .box-fluid > .divbox > .col-d-offset-3 {
    margin-left: 12.5%;
  }
  .box-fluid > .divbox > .col-d-push-3 {
    position: relative;
    left: 12.5%;
  }
  .box-fluid > .divbox > .col-d-pop-3 {
    position: relative;
    left: -12.5%;
  }
  .box > .divbox > .col-d-3 {
    width: 12.5%;
    float: left;
  }
  .box > .divbox > .col-d-offset-3 {
    margin-left: 12.5%;
  }
  .box > .divbox > .col-d-push-3 {
    position: relative;
    left: 12.5%;
  }
  .box > .divbox > .col-d-pop-3 {
    position: relative;
    left: -12.5%;
  }
  .box-fluid > .divbox > .col-d-4 {
    width: 16.66666667%;
    float: left;
  }
  .box-fluid > .divbox > .col-d-offset-4 {
    margin-left: 16.66666667%;
  }
  .box-fluid > .divbox > .col-d-push-4 {
    position: relative;
    left: 16.66666667%;
  }
  .box-fluid > .divbox > .col-d-pop-4 {
    position: relative;
    left: -16.66666667%;
  }
  .box > .divbox > .col-d-4 {
    width: 16.66666667%;
    float: left;
  }
  .box > .divbox > .col-d-offset-4 {
    margin-left: 16.66666667%;
  }
  .box > .divbox > .col-d-push-4 {
    position: relative;
    left: 16.66666667%;
  }
  .box > .divbox > .col-d-pop-4 {
    position: relative;
    left: -16.66666667%;
  }
  .box-fluid > .divbox > .col-d-5 {
    width: 20.83333333%;
    float: left;
  }
  .box-fluid > .divbox > .col-d-offset-5 {
    margin-left: 20.83333333%;
  }
  .box-fluid > .divbox > .col-d-push-5 {
    position: relative;
    left: 20.83333333%;
  }
  .box-fluid > .divbox > .col-d-pop-5 {
    position: relative;
    left: -20.83333333%;
  }
  .box > .divbox > .col-d-5 {
    width: 20.83333333%;
    float: left;
  }
  .box > .divbox > .col-d-offset-5 {
    margin-left: 20.83333333%;
  }
  .box > .divbox > .col-d-push-5 {
    position: relative;
    left: 20.83333333%;
  }
  .box > .divbox > .col-d-pop-5 {
    position: relative;
    left: -20.83333333%;
  }
  .box-fluid > .divbox > .col-d-6 {
    width: 25%;
    float: left;
  }
  .box-fluid > .divbox > .col-d-offset-6 {
    margin-left: 25%;
  }
  .box-fluid > .divbox > .col-d-push-6 {
    position: relative;
    left: 25%;
  }
  .box-fluid > .divbox > .col-d-pop-6 {
    position: relative;
    left: -25%;
  }
  .box > .divbox > .col-d-6 {
    width: 25%;
    float: left;
  }
  .box > .divbox > .col-d-offset-6 {
    margin-left: 25%;
  }
  .box > .divbox > .col-d-push-6 {
    position: relative;
    left: 25%;
  }
  .box > .divbox > .col-d-pop-6 {
    position: relative;
    left: -25%;
  }
  .box-fluid > .divbox > .col-d-7 {
    width: 29.16666667%;
    float: left;
  }
  .box-fluid > .divbox > .col-d-offset-7 {
    margin-left: 29.16666667%;
  }
  .box-fluid > .divbox > .col-d-push-7 {
    position: relative;
    left: 29.16666667%;
  }
  .box-fluid > .divbox > .col-d-pop-7 {
    position: relative;
    left: -29.16666667%;
  }
  .box > .divbox > .col-d-7 {
    width: 29.16666667%;
    float: left;
  }
  .box > .divbox > .col-d-offset-7 {
    margin-left: 29.16666667%;
  }
  .box > .divbox > .col-d-push-7 {
    position: relative;
    left: 29.16666667%;
  }
  .box > .divbox > .col-d-pop-7 {
    position: relative;
    left: -29.16666667%;
  }
  .box-fluid > .divbox > .col-d-8 {
    width: 33.33333333%;
    float: left;
  }
  .box-fluid > .divbox > .col-d-offset-8 {
    margin-left: 33.33333333%;
  }
  .box-fluid > .divbox > .col-d-push-8 {
    position: relative;
    left: 33.33333333%;
  }
  .box-fluid > .divbox > .col-d-pop-8 {
    position: relative;
    left: -33.33333333%;
  }
  .box > .divbox > .col-d-8 {
    width: 33.33333333%;
    float: left;
  }
  .box > .divbox > .col-d-offset-8 {
    margin-left: 33.33333333%;
  }
  .box > .divbox > .col-d-push-8 {
    position: relative;
    left: 33.33333333%;
  }
  .box > .divbox > .col-d-pop-8 {
    position: relative;
    left: -33.33333333%;
  }
  .box-fluid > .divbox > .col-d-9 {
    width: 37.5%;
    float: left;
  }
  .box-fluid > .divbox > .col-d-offset-9 {
    margin-left: 37.5%;
  }
  .box-fluid > .divbox > .col-d-push-9 {
    position: relative;
    left: 37.5%;
  }
  .box-fluid > .divbox > .col-d-pop-9 {
    position: relative;
    left: -37.5%;
  }
  .box > .divbox > .col-d-9 {
    width: 37.5%;
    float: left;
  }
  .box > .divbox > .col-d-offset-9 {
    margin-left: 37.5%;
  }
  .box > .divbox > .col-d-push-9 {
    position: relative;
    left: 37.5%;
  }
  .box > .divbox > .col-d-pop-9 {
    position: relative;
    left: -37.5%;
  }
  .box-fluid > .divbox > .col-d-10 {
    width: 41.66666667%;
    float: left;
  }
  .box-fluid > .divbox > .col-d-offset-10 {
    margin-left: 41.66666667%;
  }
  .box-fluid > .divbox > .col-d-push-10 {
    position: relative;
    left: 41.66666667%;
  }
  .box-fluid > .divbox > .col-d-pop-10 {
    position: relative;
    left: -41.66666667%;
  }
  .box > .divbox > .col-d-10 {
    width: 41.66666667%;
    float: left;
  }
  .box > .divbox > .col-d-offset-10 {
    margin-left: 41.66666667%;
  }
  .box > .divbox > .col-d-push-10 {
    position: relative;
    left: 41.66666667%;
  }
  .box > .divbox > .col-d-pop-10 {
    position: relative;
    left: -41.66666667%;
  }
  .box-fluid > .divbox > .col-d-11 {
    width: 45.83333333%;
    float: left;
  }
  .box-fluid > .divbox > .col-d-offset-11 {
    margin-left: 45.83333333%;
  }
  .box-fluid > .divbox > .col-d-push-11 {
    position: relative;
    left: 45.83333333%;
  }
  .box-fluid > .divbox > .col-d-pop-11 {
    position: relative;
    left: -45.83333333%;
  }
  .box > .divbox > .col-d-11 {
    width: 45.83333333%;
    float: left;
  }
  .box > .divbox > .col-d-offset-11 {
    margin-left: 45.83333333%;
  }
  .box > .divbox > .col-d-push-11 {
    position: relative;
    left: 45.83333333%;
  }
  .box > .divbox > .col-d-pop-11 {
    position: relative;
    left: -45.83333333%;
  }
  .box-fluid > .divbox > .col-d-12 {
    width: 50%;
    float: left;
  }
  .box-fluid > .divbox > .col-d-offset-12 {
    margin-left: 50%;
  }
  .box-fluid > .divbox > .col-d-push-12 {
    position: relative;
    left: 50%;
  }
  .box-fluid > .divbox > .col-d-pop-12 {
    position: relative;
    left: -50%;
  }
  .box > .divbox > .col-d-12 {
    width: 50%;
    float: left;
  }
  .box > .divbox > .col-d-offset-12 {
    margin-left: 50%;
  }
  .box > .divbox > .col-d-push-12 {
    position: relative;
    left: 50%;
  }
  .box > .divbox > .col-d-pop-12 {
    position: relative;
    left: -50%;
  }
  .box-fluid > .divbox > .col-d-13 {
    width: 54.16666667%;
    float: left;
  }
  .box-fluid > .divbox > .col-d-offset-13 {
    margin-left: 54.16666667%;
  }
  .box-fluid > .divbox > .col-d-push-13 {
    position: relative;
    left: 54.16666667%;
  }
  .box-fluid > .divbox > .col-d-pop-13 {
    position: relative;
    left: -54.16666667%;
  }
  .box > .divbox > .col-d-13 {
    width: 54.16666667%;
    float: left;
  }
  .box > .divbox > .col-d-offset-13 {
    margin-left: 54.16666667%;
  }
  .box > .divbox > .col-d-push-13 {
    position: relative;
    left: 54.16666667%;
  }
  .box > .divbox > .col-d-pop-13 {
    position: relative;
    left: -54.16666667%;
  }
  .box-fluid > .divbox > .col-d-14 {
    width: 58.33333333%;
    float: left;
  }
  .box-fluid > .divbox > .col-d-offset-14 {
    margin-left: 58.33333333%;
  }
  .box-fluid > .divbox > .col-d-push-14 {
    position: relative;
    left: 58.33333333%;
  }
  .box-fluid > .divbox > .col-d-pop-14 {
    position: relative;
    left: -58.33333333%;
  }
  .box > .divbox > .col-d-14 {
    width: 58.33333333%;
    float: left;
  }
  .box > .divbox > .col-d-offset-14 {
    margin-left: 58.33333333%;
  }
  .box > .divbox > .col-d-push-14 {
    position: relative;
    left: 58.33333333%;
  }
  .box > .divbox > .col-d-pop-14 {
    position: relative;
    left: -58.33333333%;
  }
  .box-fluid > .divbox > .col-d-15 {
    width: 62.5%;
    float: left;
  }
  .box-fluid > .divbox > .col-d-offset-15 {
    margin-left: 62.5%;
  }
  .box-fluid > .divbox > .col-d-push-15 {
    position: relative;
    left: 62.5%;
  }
  .box-fluid > .divbox > .col-d-pop-15 {
    position: relative;
    left: -62.5%;
  }
  .box > .divbox > .col-d-15 {
    width: 62.5%;
    float: left;
  }
  .box > .divbox > .col-d-offset-15 {
    margin-left: 62.5%;
  }
  .box > .divbox > .col-d-push-15 {
    position: relative;
    left: 62.5%;
  }
  .box > .divbox > .col-d-pop-15 {
    position: relative;
    left: -62.5%;
  }
  .box-fluid > .divbox > .col-d-16 {
    width: 66.66666667%;
    float: left;
  }
  .box-fluid > .divbox > .col-d-offset-16 {
    margin-left: 66.66666667%;
  }
  .box-fluid > .divbox > .col-d-push-16 {
    position: relative;
    left: 66.66666667%;
  }
  .box-fluid > .divbox > .col-d-pop-16 {
    position: relative;
    left: -66.66666667%;
  }
  .box > .divbox > .col-d-16 {
    width: 66.66666667%;
    float: left;
  }
  .box > .divbox > .col-d-offset-16 {
    margin-left: 66.66666667%;
  }
  .box > .divbox > .col-d-push-16 {
    position: relative;
    left: 66.66666667%;
  }
  .box > .divbox > .col-d-pop-16 {
    position: relative;
    left: -66.66666667%;
  }
  .box-fluid > .divbox > .col-d-17 {
    width: 70.83333333%;
    float: left;
  }
  .box-fluid > .divbox > .col-d-offset-17 {
    margin-left: 70.83333333%;
  }
  .box-fluid > .divbox > .col-d-push-17 {
    position: relative;
    left: 70.83333333%;
  }
  .box-fluid > .divbox > .col-d-pop-17 {
    position: relative;
    left: -70.83333333%;
  }
  .box > .divbox > .col-d-17 {
    width: 70.83333333%;
    float: left;
  }
  .box > .divbox > .col-d-offset-17 {
    margin-left: 70.83333333%;
  }
  .box > .divbox > .col-d-push-17 {
    position: relative;
    left: 70.83333333%;
  }
  .box > .divbox > .col-d-pop-17 {
    position: relative;
    left: -70.83333333%;
  }
  .box-fluid > .divbox > .col-d-18 {
    width: 75%;
    float: left;
  }
  .box-fluid > .divbox > .col-d-offset-18 {
    margin-left: 75%;
  }
  .box-fluid > .divbox > .col-d-push-18 {
    position: relative;
    left: 75%;
  }
  .box-fluid > .divbox > .col-d-pop-18 {
    position: relative;
    left: -75%;
  }
  .box > .divbox > .col-d-18 {
    width: 75%;
    float: left;
  }
  .box > .divbox > .col-d-offset-18 {
    margin-left: 75%;
  }
  .box > .divbox > .col-d-push-18 {
    position: relative;
    left: 75%;
  }
  .box > .divbox > .col-d-pop-18 {
    position: relative;
    left: -75%;
  }
  .box-fluid > .divbox > .col-d-19 {
    width: 79.16666667%;
    float: left;
  }
  .box-fluid > .divbox > .col-d-offset-19 {
    margin-left: 79.16666667%;
  }
  .box-fluid > .divbox > .col-d-push-19 {
    position: relative;
    left: 79.16666667%;
  }
  .box-fluid > .divbox > .col-d-pop-19 {
    position: relative;
    left: -79.16666667%;
  }
  .box > .divbox > .col-d-19 {
    width: 79.16666667%;
    float: left;
  }
  .box > .divbox > .col-d-offset-19 {
    margin-left: 79.16666667%;
  }
  .box > .divbox > .col-d-push-19 {
    position: relative;
    left: 79.16666667%;
  }
  .box > .divbox > .col-d-pop-19 {
    position: relative;
    left: -79.16666667%;
  }
  .box-fluid > .divbox > .col-d-20 {
    width: 83.33333333%;
    float: left;
  }
  .box-fluid > .divbox > .col-d-offset-20 {
    margin-left: 83.33333333%;
  }
  .box-fluid > .divbox > .col-d-push-20 {
    position: relative;
    left: 83.33333333%;
  }
  .box-fluid > .divbox > .col-d-pop-20 {
    position: relative;
    left: -83.33333333%;
  }
  .box > .divbox > .col-d-20 {
    width: 83.33333333%;
    float: left;
  }
  .box > .divbox > .col-d-offset-20 {
    margin-left: 83.33333333%;
  }
  .box > .divbox > .col-d-push-20 {
    position: relative;
    left: 83.33333333%;
  }
  .box > .divbox > .col-d-pop-20 {
    position: relative;
    left: -83.33333333%;
  }
  .box-fluid > .divbox > .col-d-21 {
    width: 87.5%;
    float: left;
  }
  .box-fluid > .divbox > .col-d-offset-21 {
    margin-left: 87.5%;
  }
  .box-fluid > .divbox > .col-d-push-21 {
    position: relative;
    left: 87.5%;
  }
  .box-fluid > .divbox > .col-d-pop-21 {
    position: relative;
    left: -87.5%;
  }
  .box > .divbox > .col-d-21 {
    width: 87.5%;
    float: left;
  }
  .box > .divbox > .col-d-offset-21 {
    margin-left: 87.5%;
  }
  .box > .divbox > .col-d-push-21 {
    position: relative;
    left: 87.5%;
  }
  .box > .divbox > .col-d-pop-21 {
    position: relative;
    left: -87.5%;
  }
  .box-fluid > .divbox > .col-d-22 {
    width: 91.66666667%;
    float: left;
  }
  .box-fluid > .divbox > .col-d-offset-22 {
    margin-left: 91.66666667%;
  }
  .box-fluid > .divbox > .col-d-push-22 {
    position: relative;
    left: 91.66666667%;
  }
  .box-fluid > .divbox > .col-d-pop-22 {
    position: relative;
    left: -91.66666667%;
  }
  .box > .divbox > .col-d-22 {
    width: 91.66666667%;
    float: left;
  }
  .box > .divbox > .col-d-offset-22 {
    margin-left: 91.66666667%;
  }
  .box > .divbox > .col-d-push-22 {
    position: relative;
    left: 91.66666667%;
  }
  .box > .divbox > .col-d-pop-22 {
    position: relative;
    left: -91.66666667%;
  }
  .box-fluid > .divbox > .col-d-23 {
    width: 95.83333333%;
    float: left;
  }
  .box-fluid > .divbox > .col-d-offset-23 {
    margin-left: 95.83333333%;
  }
  .box-fluid > .divbox > .col-d-push-23 {
    position: relative;
    left: 95.83333333%;
  }
  .box-fluid > .divbox > .col-d-pop-23 {
    position: relative;
    left: -95.83333333%;
  }
  .box > .divbox > .col-d-23 {
    width: 95.83333333%;
    float: left;
  }
  .box > .divbox > .col-d-offset-23 {
    margin-left: 95.83333333%;
  }
  .box > .divbox > .col-d-push-23 {
    position: relative;
    left: 95.83333333%;
  }
  .box > .divbox > .col-d-pop-23 {
    position: relative;
    left: -95.83333333%;
  }
  .box-fluid > .divbox > .col-d-24 {
    width: 100%;
    float: left;
  }
  .box-fluid > .divbox > .col-d-offset-24 {
    margin-left: 100%;
  }
  .box-fluid > .divbox > .col-d-push-24 {
    position: relative;
    left: 100%;
  }
  .box-fluid > .divbox > .col-d-pop-24 {
    position: relative;
    left: -100%;
  }
  .box > .divbox > .col-d-24 {
    width: 100%;
    float: left;
  }
  .box > .divbox > .col-d-offset-24 {
    margin-left: 100%;
  }
  .box > .divbox > .col-d-push-24 {
    position: relative;
    left: 100%;
  }
  .box > .divbox > .col-d-pop-24 {
    position: relative;
    left: -100%;
  }
}
