@import "apple_one";
@import "apple_two";

//导航
.top{
  width: 100%;height: 40px;
  background: #444;
}
nav{
  width: 100%;height: 44px;
  background: #000;
}
#nav_s,#nav_l{
  max-width: 980px;
  padding: 0 22px;
  margin: 0 auto;
}
#nav_s li{
  width: 32%;
  display: inline-block;
}
#nav_s li a{
  line-height: 44px;
  font-weight: 400;
  &:hover{
    color: #999;
  }
  .iconfont{
    &:hover{
      color: #999;
    }
  }
  & .icon-weibiaoti1{
    float: left;
  }
  & .icon-pingguo{
    float: left;
    margin-left: 45%;
  }
  & .icon-gouwudai{
    float: right;
  }

}

@media screen and (min-width:700px){
  #nav_l li{
    width: 11%;
    float: left;
    display: inline-block;
    text-align: center;
  }
  #nav_l li a{
    line-height: 44px;
    font-weight: 400;

    .icon-fangdajing{
      font-size: 25px;
    }
    &:hover{
      color: #999;
    }
    .iconfont{
      &:hover{
        color: #999;
      }
    }

  }
}

//banner
.banner{
  width:100%;
  height:540px;
  margin:0 auto;
  background: blue;
  position:relative;
}
.banner>a{
  width:100%;
  height:100%;
  margin:0 auto;
  display: block;
  background: black;
  position:absolute;
  left:0;
  top:0;
}
.banner>.banner1>h1{
  color:white;
  font-size:26px;
  font-weight:bold;
  text-align: center;
  margin-top: 10px;
}
.banner>.banner1{
  background:#0A0A0A;
  background-image:url("../img/b1.jpg");
  background-position:center center;
  background-size:auto 110%;
  background-repeat:no-repeat;
  z-index:1;
}
.banner>.banner2{
  background:#F3F3F3;
  background-image:url("../img/b2.jpg");
  background-position:center bottom;
  background-size:auto 110%;
  background-repeat:no-repeat;
}
.banner>.banner3{
  background:#FFFFFF;
  background-image:url("../img/b3.jpg");
  background-position:center bottom;
  background-size:auto 80%;
  background-repeat:no-repeat;
}
// 内容
.box{
  width: 100%;
}
#box_img li{
  width: 100%;
  display: inline-block;
  border: 2px solid #fff;

  & img{
    width: 100%;
    float: left;
  }
}

@media screen and (min-width: 700px){
  #box_img li{
    width: 50%;
    display: inline-block;
    border: 2px solid #fff;


    & img{
      width: 100%;
      float: left;
    }
  }
}
@media screen and (min-width: 1000px){
  #box_img li{
    width: 25%;
    display: inline-block;
    border: 2px solid #fff;


    & img{
      width: 100%;
      float: left;
    }
  }
}
// 底部
footer{
  width:100%;
  background: #f2f2f2;
}
#foo_box{
  width: 100%;
  margin: 0 auto;
  padding: 0 22px;
}
#foo_top{
  border-bottom: 1px solid #d6d6d6;
  padding: 17px 0 11px;
  color: #888;
}
.foo_s{
  margin-top: 20px;
  width: 100%;
}
.foo_s li{
  width: 95%;
  float: left;
  padding: 10px;
  border-bottom: 1px solid #d6d6d6;
}
.foo_s a{
  color: #555;
  font-size: 12px;
  float: left;
}
.foo_s span{
  float: right;
}
@media screen and (min-width: 700px){
  .foo_l{
    width: 20%;
    float: left;
    margin-top: 20px;
  }
  .foo_l a{
    color: #555;
    font-size: 12px;
  }
}
#foo_bottom{
  padding: 34px 0 21px;
  color: #888;
  .clear();
}
#foo_bottom li{
  padding-top: 3px;
}
.foo_line{
  border-bottom: 1px solid #d6d6d6;
  margin-top: 34px;
  margin-bottom: 7px;
  padding-bottom: 6px;
}
.foo_line a{
  color: #0070c9;
}
.foo_copy a{
  color: #555;
  padding: 0 10px 0 8px;
}
.foo_end a{
  color: #999;
}


