@import "less";
body,li,ul,a{
  list-style: none;
  text-decoration: none;
  padding: 0;margin: 0;
  font-size: 12px;
}
//main
.main-w{
  &{
    border: 2px solid #fff;
    border-left:none;
    height: 200px;
    box-sizing: border-box;
  }
  &:nth-child(1){
    background: url("../img/main1-s.jpg") no-repeat center;
  }
  &:nth-child(2){
    background: url("../img/main2-s.jpg") no-repeat center;
  }
  &:nth-child(3){
    background: url("../img/main3-s.jpg") no-repeat center;
  }
  &:nth-child(4){
    background: url("../img/main4-s.jpg") no-repeat center;
  }
}
@media screen and (min-width: @num2){
  .main-w{
    background-size: 640px 200px;
  }
}
@media screen and (min-width: @num1){
  .main-w{
    background-size: 736px 200px;
  }
}
//top
.top{
  background: #444;
  line-height: 1;
  width: 100%;
  height: 40px;
  z-index: 9999;
}
.gg-top{
  color: #a8a8aa;
  line-height: 40px;
  max-width: 976px;
  text-align: right;
  margin: 0 auto;
}
//导航
.box-daohang{
  height: 48px;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  font-size: 17px;
  background:rgba(0,0,0,0.8);
  z-index: 1000;
}
.inner-dh{
  margin: 0 auto;
  max-width: 980px;
  padding: 0 22px;
  z-index: 2;
  width: auto;
}
.inner-word{
  &{
    margin: 0 -10px;
    text-align: justify;
    overflow: hidden;
  }
  &:after{
    content: "";
    width: 100%;
    height: 0;
    display: inline-block;
    text-align: justify;
  }
}
.inner-word span.icon-b{
  &{
    padding: 0 10px;
    height: 44px;
    display: inline-block;
    text-align: center;
    background-position: center center;
  }
  &:hover{
    opacity: 0.65;
  }
  &:nth-child(1){
    width: 20px;
    background: url("../img/image_large1.svg") no-repeat;
  }
  &:nth-child(2){
    width: 20px;
    background: url("../img/image_large1.svg") no-repeat;
  }
  &:nth-child(3){
    width: 2em;
    max-width: 47.6px;
    background: url("../img/image_large2.svg") no-repeat;
  }
  &:nth-child(4){
    width: 1.92857em;
    max-width: 45.9px;
    background: url("../img/image_large3.svg") no-repeat;
  }
  &:nth-child(5){
    width: 3.14286em;
    max-width: 74.8px;
    background: url("../img/image_large4.svg") no-repeat;
  }
  &:nth-child(6){
    width: 2.85714em;
    max-width: 68px;
    background: url("../img/image_large5.svg") no-repeat;
  }
  &:nth-child(7){
    width: 2.64286em;
    max-width: 62.9px;
    background: url("../img/image_large6.svg") no-repeat;
  }
  &:nth-child(8){
    width: 3.28571em;
    max-width: 78.2px;
    background: url("../img/image_large7.svg") no-repeat;
  }
  &:nth-child(9){
    width:16px;
    background: url("../img/image_large8.svg") no-repeat;
  }
  &:nth-child(10){
    width:14px;
    background: url("../img/image_large9.svg") no-repeat;
  }
}
.inner-word span.icon-p{
  display: none;
}
@media screen and (max-width:767px ){
  .inner-word span.icon-s{
    display: none;
  }
  .inner-word span.icon-p{
    display: inline-block;
  }
}
//banner
.box-banner{
  &{
    position: relative;
    //height: 594px;
    width: 100%;
    //background: url("../img/banner2.jpg")center center no-repeat;
  }
}


